[2020-01-02 11:45] ceqi commented on #3042
Apoligies for me faulty claim.

I checked the source code and found out
that the wrapper methods are using JPA API when possible.
So I'm closing this feature request.

[2020-01-02 11:46] #3042 closed

[2020-01-03 04:31] sharmasourabh opened #3089 "Runtime Error - java.lang.NoSuchMethodError: org.hibernate.validator.HibernateValidatorConfiguration.addValueExtractor"
**Release: 2.0.0**

Error- As soon you execute the jar file, you get following error:
[code]

Workaround: Exclusion of 6.1.0.Final version and inclusion of 6.0.17.Final
[code]

[2020-01-03 05:56] cricket007 commented on #1463
Thanks for the responses, and I value the opinions that have been made to make each library work so well together out of the box with a minimal configuration; I'm simply trying to start a discussion, not truly argue over performance or chosen/supported features.

I understand benchmarking must be performed on one's own infrastructure to truly identify bottlenecks, however I'd argue not everyone ha

[2020-01-03 06:21] lp2jx0309 opened #3091 "malicious attack request"
valid request:  https://localhost:28005/test/test.js
malicious attack request:  https://localhost:28005/test/test.js;;";;alert(12);;s="

jetty server return PathInfo is : /test/test.js, how to avoid malicious attacks

            final StringBuilder builder = new StringBuilder(req.getServletPath());
            if (req.getPathInfo() != null) {
                builder.append(req.getPathInfo());

[2020-01-03 14:53] reneploetz commented on #3091
Refer to this for avoidance stategies for this type of malicious requests: https://www.owasp.org/index.php/Reflected_File_Download

As per Servlet spec: Use ```javax.servlet.http.HttpServletRequest.getRequestURI()``` to get the unprocessed (raw) http request line.

[2020-01-03 16:25] joschi commented on #3089
@sharmasourabh Thanks for reporting this!

Could you please post your complete POM and the `BusinessAPI` class so we can try to reproduce the issue?

[2020-01-03 18:50] sharmasourabh commented on #3089
Thanks for following up.

POM:
[code]

App Class: (Above I have shared the logs of BusinessAPI class, below class also produce the same error.
[code]

[2020-01-03 23:26] j4n1 commented on #3089
Problem is that `javax.validation:validation-api-1.1.0-Final.jar` and `jakarta.validation:jakarta.validation-api-2.0.2.jar` are both on your classpath, they have classes in the same namespace(`javax.validation`) and older version of the class, one which doesn't have methods present in the latest version, is being loaded by the classloader.

You'll have to exclude `javax.validation` from your class

[2020-01-04 05:36] sharmasourabh commented on #3089
Thanks @j4n1!
Exclusion of validation-api from swagger-core fixed the prob. **No issue with dropwizard 2.0**. My gotcha!
[code]

[2020-01-04 05:36] #3089 closed

[2020-01-05 18:47] acsbendi commented on #3053
Fixed in #3082.

[2020-01-05 18:47] #3053 closed

[2020-01-06 01:27] lp2jx0309 commented on #3091
thanks, reneploetz.but,
the code of question is the source code of dropwizard. Without modifying the source code, do I have any other ways besides adding a filter to filter out the attack URL? Does the dropwizard take this into account?

[2020-01-06 10:27] joschi commented on #3091
@lp2jx0309 You can add a [Servlet Filter](https://www.oracle.com/technetwork/java/filters-137243.html) to your Dropwizard application which drops or denies that kind of request.

See [`ServletEnvironment#addFilter()`](https://javadoc.io/static/io.dropwizard/dropwizard-project/2.0.0/io/dropwizard/jetty/setup/ServletEnvironment.html#addFilter-java.lang.String-java.lang.Class-).

[2020-01-06 11:53] reneploetz commented on #3091
This kind of parameters are not necessarily attacks - they are valid matrix parameters that can be handled in JAX-RS (via ```@javax.ws.rs.MatrixParam```).
The main problem can be that you return the values sent to your application as part of the response, hence the name "reflection attack". Note that the mentioned download attack is one of the issues - other is the possibility of a reflected XSS.

[2020-01-06 16:22] carlbolduc opened #3094 "Potential memory leak"
Dropwizard version: 1.3.17
JDK version: 11

We have a REST API built on top of Dropwizard. This API is used by two websites and there are around 5000 active users (not concurrent). Since we started getting more users, we also started to have memory problems on our servers. We have two API servers, each have 1 GB of RAM and their only purpose is to run the API. CPU usage is extremely low, the only

[2020-01-06 17:56] joschi commented on #3094
@carlbolduc Your snapshot shows a lot of byte (`[B`) and integer (`[I`) arrays using up most of the memory.

The `WeightedSample` instances only use 2.4 MiB of memory in your snapshot from January 5.

Could you provide a little more detail about your application, for example the specific JVM settings you're using to run it?

How exactly did you create the top-9 lists?

[2020-01-06 21:22] carlbolduc commented on #3094
@joschi I'll try to share as much as I can. The project is in a private repo so I cannot share the actual code.

This top 9 is generated using the following command: `jmap -histo:live pid`
I can't dump everything since the server is not having enough memory to perform the dump.

The application is started by a service running the following command: `java -Xms512m -Xmx512m -jar api.jar server confi

[2020-01-07 08:28] lp2jx0309 commented on #3091
@reneploetz，Indeed, the static resources do not require matrix parameters. I added Filter to filter this matrix parameters request.

[2020-01-07 08:30] lp2jx0309 commented on #3091
@reneploetz

Indeed, the static resources do not require matrix parameters. I added Filter to filter this matrix  parameters request.

[2020-01-07 08:31] lp2jx0309 commented on #3091
@joschi
thanks, I have added a filter

[2020-01-07 12:27] #3091 closed

[2020-01-08 00:05] #2936 closed

[2020-01-11 18:22] carlbolduc commented on #3094
What is the recommended Garbage Collection algorithm for Dropwizard based REST API? I think that the default one is G1 GC in Java 11. Since the memory slowly ramps up, I was wondering if it could be related to a lack of garbage collection instead of a memory leak.

[2020-01-12 23:06] pkwarren commented on #3057
Of all the examples provided, only `2019-09-30T21:34:54` can be parsed by `java.time.LocalDateTime.parse` without throwing a DateTimeParseException (because it doesn't specify zone information). All of the values that specify a time zone should be parsed with ZonedDateTimeParam instead of LocalDateTimeParam.

The examples `2019-09-30T21:34:54+0000`, `2019-09-30T21:34:54`, `2019-09-30T21:34:54+0500

[2020-01-14 11:13] hheg opened #3097 "Intermittent exception after upgrading to 2.0"
My tests starting to print these exceptions efter the tests seems to have been completed. The tests are running with DropwizardAppExtension. I don't have a reproducible small test yet, but my code is mostly using asynchronous code. The tests seems to work and I don't know why these messages are beeing printed. Posting it here for possible help.
[code]

[2020-01-14 12:35] joschi commented on #3097
@hheg Please post the output of `mvn dependency:tree` (or an equivalent output from the build system you're using) for your Dropwizard project.

[2020-01-14 15:12] hheg commented on #3097
[code]

[2020-01-14 15:26] hheg commented on #3097
I see what you mean. I'm going to iron out those javax -> jakarta packages. There's at least one.

[2020-01-14 16:02] hheg commented on #3097
A side note: dropwizard-jersey pulls in both javax.activation-api (through jaxb-api) and jakarta.activation-api (through jackson-module-jaxb-annotations), is that intended?

[2020-01-14 16:24] hheg commented on #3097
[code]
New tree, but I still get the exception but with a different class (probably due to random lookup?)
[code]
The weird part is that both HttpHeaders and Request are interfaces. But I may be looking in the wrong place?

[2020-01-15 03:12] rvbabilonia opened #3098 "NPE when retrieving application handler"
Using Dropwizard 1.3.17, we retrieve the ServiceLocator as such:
[code]
When we migrated to Dropwizard 2, this became:
[code]
However, ApplicationHandler is null. Any ideas?

[2020-01-15 15:59] deathwarrior60 opened #3099 "Support for dropwizard metrics 5"
Does the support for dropwizard metrics v5 is planned ?

Regards

[2020-01-15 17:25] joschi commented on #3099
@deathwarrior60 Dropwizard Metrics 5.0.x is in fact older than any recent release of Dropwizard Metrics 4.1.x and not actively worked on.

Dropwizard will eventually support Dropwizard Metrics 5.x, if there's a stable and maintained release of it.

[2020-01-15 18:29] reneploetz commented on #3098
The ApplicationHandler should only be available after org.eclipse.jetty.server.Server.start() in io.dropwizard.cli.ServerCommand, as it depends on ServletContainer.init() being called by Jetty when starting the Lifecycle. This behaviour should not have changed at all - even in Dropwizard 1.3.17 (Jersey 2.25.1).

Am I correct that you try to get the ServiceLocator to perform some kind of injection?

[2020-01-15 21:16] rvbabilonia commented on #3098
The ServiceLocator is being used to retrieve a ServiceContext
[code]
that was registered earlier
[code]

[2020-01-16 08:32] deathwarrior60 commented on #3099
Understood.
Thanks

[2020-01-16 08:32] #3099 closed

[2020-01-20 10:35] shubhankar1114 opened #3107 "jackson-databind-2.9.10.1"
There is a vulnerability issue in dropwizard version - 1.3.17

![image](https://user-images.githubusercontent.com/52689846/72719706-59760600-3b9e-11ea-9860-2fe470e76264.png)

[2020-01-20 10:43] joschi commented on #3107
@shubhankar1114 Thanks for reporting this!

The issue has been addressed in #3100 and will be released with [Dropwizard 1.3.18](https://github.com/dropwizard/dropwizard/milestone/53).

[2020-01-20 10:43] #3107 closed

[2020-01-20 19:54] rvbabilonia commented on #3098
We refactored our code not to rely on the service locator prior to init. Seems to be working. Closing this ticket now.

[2020-01-20 19:54] #3098 closed

[2020-01-21 05:40] ashu101 opened #3111 "Custom Serialization/Deserialization in dependency"
If there is some custom serialization/deserialization happening in a dependency included with dropwizard, dropwizard jersey is unable to identify it until unless the custom serializers/deserializers are registered manually via code with jersey.

[code]

Below has to be done explicitly to ensure that the ser/deser are available to jersey, which is not a nice way!
[code]

If this is not done, jackso

[2020-01-22 18:07] ccleve commented on #2974
This bug is definitely worth fixing. With Graal we could distribute a Dropwizard app as a native binary, eliminating the need for a shaded jar file. It would even eliminate the need to install a jvm on a target system.

[2020-01-23 08:29] ashu101 commented on #3111
any idea when this issue will be looked at?

[2020-01-23 18:27] reneploetz commented on #3111
I would like to understand your expected behaviour or error messages that occur, but I cannot reproduce your problem with the following testcase (Request ```http://localhost:8080/test``` and you will get "hello world" back):

[code]

As you can see, there is no need to register the ValueSerializer for it to be called, the ```@JsonSerialize``` annotation is enough.

[2020-01-24 03:51] ashu101 commented on #3111
This issue happens when the custom serializer/deserializer are present for a class(A) which is in a dependency(X) and not in the dropwizard main application itself like it is shown above. The class(A) is not in the created dropwizard main packages.

[2020-01-24 12:17] reneploetz commented on #3111
Have a look at the attached test code - I did split the code above into modules.

Inside, there are two maven modules:
- a dto module that contains a Value class and the ValueSerializer to use
- an app module with the application and the resource class

If you build and run the module you should see the "hello world" when requesting "/test".

Can you modify the program so that it's possible to rep

[2020-01-26 03:11] donahchoo opened #3114 "Make DropwizardAppExtension work like DropwizardAppRule could"
I don't know if this is a Junit issue or DropwizardAppExtension.

https://github.com/dropwizard/dropwizard/issues/2763 correctly explains that DropwizardAppRule with @ClassRule in Junit4 could be used to create one DW container for a suite of integration tests.  I'm currently trying to get this working with DW, Junit5 and gradle and not having much luck.  I keep getting new DW containers for each

[2020-01-28 12:43] karussell commented on #636
The PR #866 does not seem to fix this problem here (tried dropwizard version 1.3.12). I.e. you have to specify a config.yml with at least:

[code]

in order to change the port.

[2020-01-28 14:48] Shravankumark opened #3115 "Drop Wizard(1.0.5) request log issue"
I am using below format for dropwizard  requestlog config,but the drop wizard process doesn't start after adding the config.
Can you please let me know if there is any issue in this version?

 requestLog:
      appenders:
         -
           type: "file"
           currentLogFilename: "logs/access.log"

[2020-01-28 21:15] #3115 closed

[2020-01-28 21:15] Shravankumark commented on #3115
I am able to fix it.

[2020-01-29 13:39] meshuga commented on #2974
I tried to build a native image of Dropwizard 2.0 with GraalVM CE 19.3.1 with Java 11. The source code is available at https://github.com/meshuga/dropwizard-graal.

To overcome the error described above, I turned off `ServiceLoaderFeature` and it seems the issue I described above issue can be solved by writing a custom feature that would (**no** change of Dropwizard internals is needed):
1. Regist

[2020-01-29 15:32] ljl opened #3118 "HttpServletRequest no longer contains scheme"
Since dropwizard 2.0 `HttpServletRequest` injected by `@Context` no longer contains scheme

See image:
![Skjermbilde 2020-01-29 kl  16 24 23](https://user-images.githubusercontent.com/414079/73370209-25909400-42b4-11ea-8c92-fa0897e8830c.png)

This causes a problem, even though we terminate SSL before the app, we still want to get the URI a client requested.

One example is Hawk tokens. They are cr

[2020-01-29 21:04] pkwarren opened #3119 "Unsynchronized access to shared CRC32 in AssetServlet"
As part of migrating from Guava in #2400, the AssetServlet was updated to remove Guava dependencies and migrated from murmur3_128 hash to use CRC32. However, it appears this new logic contains a race condition where invalid hashes can be calculated:

https://github.com/dropwizard/dropwizard/blob/aa1e301bfedbc8b5cbe27ef8cfa42b68f8a47038/dropwizard-servlets/src/main/java/io/dropwizard/servlets/asset

[2020-01-29 22:02] pkwarren commented on #3118
I wonder if this is a side effect of the change in #2748 added in 2.0. You might want to try setting `useForwardedHeaders=true` for your HTTP connector to restore the old behavior.

[2020-01-29 22:09] pkwarren opened #3121 "Update version to 2.1.0-SNAPSHOT on master?"
It appears that a release/2.0.x branch has been created and I see a milestone for 2.1.0. Should the master branch be updated to 2.1.0-SNAPSHOT?

[2020-01-30 12:23] ljl commented on #3118
Setting `useForwardedHeaders=true ` worked

[2020-01-30 13:31] chris-orchard opened #3123 "default value not applied to optional parameter type"
I'm updating my application from 1.3.16 to dropwizard 2 and have changed the parameter on a method from a `LongParam` to `OptionalLong` as detailed in the deprecation warning for `LongParam`.

I've also changed my code to call `getAsLong()` now that the parameter type no longer has a `get()` method.  Here's the code following updating to dropwizard 2.

[code]

However now my `DefaultValue` annotat

[2020-01-30 13:33] chris-orchard opened #3124 "Compilation error in documentation example for Core > Resources"
I don't think the code example in the manual that was using a `LongParam` and `IntParam` in the [1.3.x branch here](https://github.com/dropwizard/dropwizard/blob/release/1.3.x/docs/source/manual/core.rst#resources), but has been updated to a `OptionalLong` and `OptionalInt` in the [2.0 branch here](https://github.com/dropwizard/dropwizard/blob/release/2.0.x/docs/source/manual/core.rst#resources) w

[2020-01-30 19:55] #3119 closed

[2020-01-31 08:21] joschi commented on #3124
@chris-orchard Good catch and thanks for reporting this!

Would you be able to create a PR for the documentation to use the `OptionalInt` and `OptionalLong` variants?

[2020-01-31 08:23] joschi commented on #3118
@ljl Thanks for the update!

I'll close the issue since the question has been answered by @pkwarren.

[2020-01-31 08:23] #3118 closed

[2020-01-31 08:24] joschi commented on #3121
I would wait with that until we have some breaking changes which would go into Dropwizard 2.1.x.

Right now, it's mostly dependency updates.

[2020-01-31 08:31] chris-orchard commented on #3124
The reason I found this is that I've got some similar code in my own application that isn't working as expected. I thought I'd check the docs and found they had the same issue I'm facing in #3123. I'm not currently able to get `@DefaultValue` working for `OptionalLong`. Once I've got a solution to that problem I might also be able to correct these docs but for now I'm unsure what the correct code

[2020-01-31 16:06] #3121 closed

[2020-01-31 18:45] johnnorton opened #3125 "Dependency Convergence"
Call me a purist but I use Maven Enforcer to make sure there are not different versions of jars on the classpath.  Occasionally when updating DropWizard I see these errors where I have to exclude a library from a JAR then explicitly add it back in.  Am I too paranoid or is this a good practice?

In this case, the offending library is jetty and jersey:
[code]

[code]

to resolve the issue I have to

[2020-02-02 00:42] pkwarren commented on #3123
I've tried to reproduce this with a testcase in dropwizard and with a simple hello world app with DropWizard 2.0.0 and 2.0.1 and am not able to recreate the issue. In all cases the `@DefaultValue` annotation is being used and the code is working as expected.

Would it be possible for you to provide a testcase to reproduce the problem? Without knowing more details, I'm wondering if there might be d

[2020-02-02 00:46] pkwarren commented on #3125
It looks like upstream dropwizard metrics (https://github.com/dropwizard/metrics/compare/v4.1.2...4.1-development) has updated to the same versions of jersey and jetty as dropwizard 2.0.1, so this should be resolved by releasing metrics 4.1.3 and updating dropwizard to use the new version.

cc @jplock @joschi

[2020-02-03 21:16] bobtiernay-okta commented on #1536
I'm also hitting this issue in a non-"polymorphic" context. It seems to be a general issue since the config file is used to derive the schema from the YAML `JsonNode` instance. When it is null, then overlaying the property override fails.

@joschi wonder if you have any thoughts on how we can improve this? On the positive side, I do see this mentioned in the documentation https://www.dropwizard.io

[2020-02-03 23:56] chris-orchard commented on #3123
Apologies for the long reply but these are taken form my notes from debugging the differences and I thought they might help you pinpoint the issue?

---

I've further debugged the stacktrace for my app with both the old and new library versions, and with the new libraries tried my parameter type as both `LongParam` and `OptionalLong`.

Combinations tested:

1. dropwizard 1.3.16 and `LongParam`
2.

[2020-02-04 04:20] pkwarren commented on #3123
Thanks for the explanation. I had tested providing and not providing a value but hadn't tried an empty value. Here's what I see with various inputs (where `n/a` means it doesn't matter what value is provided):

|Parameter Value|Default Value|Result|
|-|-|-|
|`"1"`|`n/a`|`OptionalLong.of(1L)`|
|||`OptionalLong.empty()`|
||`"0"`|`OptionalLong.of(0L)`|
|`""`||`OptionalLong.empty()`|
|`""`|`"0"`|`Opti

[2020-02-04 09:15] chris-orchard commented on #3123
Thanks for that explanation and looking into this further.

Yes that's correct, but only because that's the behaviour I see currently in my application with dropwizard 1.3.16 and `LongParam` parameter types.

However I'm still unclear why the behaviour appears to have changed between dropwizard 1.3.16 and 2.0.0 versions when still using `LongParam`?

Ideally I just want to update my libraries to t

[2020-02-06 20:12] cleiner opened #3129 "Missing jdbi2 module release"
The jdbi2 module mentioned in the [2.0.x upgrade guide](https://github.com/dropwizard/dropwizard/wiki/Upgrade-guide-1.3.x-to-2.0.x#support-for-jdbi-2x-moved-out-of-dropwizard-core-modules) is not available on Maven Central. I've already opened an [issue](https://github.com/dropwizard/dropwizard-jdbi/issues/1) in its repository, but fear it has gone unnoticed... ?

[2020-02-06 22:26] joschi commented on #3129
@cleiner Thanks for the reminder! I planned to release dropwizard-jdbi over the weekend.

I'll close this issue and track it in the original repository.

[2020-02-06 22:26] #3129 closed

[2020-02-08 17:19] silvpol opened #3130 "db migrate does not use specified schema for liquibase tables"
We have a setup with two Postgres users (**test_app** and **test_admin**) in a database (**test**). When running **db migrate** liquibase insists on creating it's two tables in non-existent schema **test_admin** and migration fails. I have tried specifying **--schema** on the command line and apending to the jdbc string:
`
bin/server db migrate config_min.yml --schema test
jdbc:postgresql://db/tes

[2020-02-08 20:56] willpdp opened #3131 "JPMS - split package `io.dropwizard.validation`"
`io.dropwizard.validation` is a split package between dropwizard-core and dropwizard-validation.
 Because of that I wasn't able to compile my app as a JPMS module.

[using 2.0.1] I tested moving `io/dropwizard/validation/InjectValidatorFeature.class` from dropwizard-core.jar into dropwizard-validation.jar and my app can build using JPMS and seems to run ok.

That's probably not the right fix for t

[2020-02-09 22:51] #3123 closed

[2020-02-10 10:19] LouiseEH opened #3138 "Support for setting SameSite attribute on HttpSession JSESSIONID cookie"
Hi,

A Chrome update will cause the SameSite cookie attribute to be set to lax be default, if it is not set.
I need to set the value to "None", but as far as I can see, the SameSite attribute cannot currently be set via e.g. javax.servlet.SessionCookieConfig.

C.f. https://github.com/eclipse/jetty.project/issues/4247 Jetty is enabled from version 9.4.27 to handle configuration of the SameSite attr

[2020-02-10 23:22] inrix-adasgupta opened #3139 "Jersey Client Is Created Using Format Itself Instead Of Formatted Name"
https://github.com/dropwizard/dropwizard/blob/be1b220cfcc92ac26e0d3b1ca32c2a695d0dbbaf/dropwizard-lifecycle/src/main/java/io/dropwizard/lifecycle/setup/ExecutorServiceBuilder.java#L115

ExecutorServiceManager expects a name, not format. But this line is passing the format itself instead of a name.

JerseyClientBuilder (line 177) passes the format 'jersey-client-[NAME]-%d' to LifecycleEnvironment,

[2020-02-11 01:51] matthew-perrett opened #3140 "Dropwiazrd @CacheControl not applying cache control headers"
I have a static endpoint in a Dropwizard project that I would like to cache, I've added the `@CacheControl(maxAge = 6, maxAgeUnit = HOURS)` annotation to it. However the response headers have the incorrect header: `Cache-Control: no-cache`.

Debugging with a breakpoint in `CacheControlledResponseFeature`, I can see that the header definitely gets set, but it seems something is overwriting it.

dro

[2020-02-11 02:52] matthew-perrett commented on #3140
Turns out it was nginx...

[2020-02-11 02:52] #3140 closed

[2020-02-12 11:05] chris-orchard commented on #3123
@pkwarren Thanks for the help and quick turnaround on this. I see it's merged to master. When's the next release including this expected to be?

[2020-02-13 17:44] karussell opened #3145 "Command line argument not working without configuration entry"
The PR #866 does not seem to fix #636 (tried dropwizard version 1.3.12) and also other people seem to have this issue. I.e. you have to specify a config.yml with at least:

[code]

in order to change the port. Otherwise you'll get:

[code]

Sorry have reposted here [again](https://github.com/dropwizard/dropwizard/issues/636#issuecomment-579227758) after 2 weeks, to avoid that this problem disappea

[2020-02-14 18:15] jeep87c commented on #3025
Up!

[2020-02-16 15:07] easbar commented on #3145
The problematic code is here (current master):

https://github.com/dropwizard/dropwizard/blob/4e201e02b4d438fd0cf6b9bb7ed8263cf7decc12/dropwizard-configuration/src/main/java/io/dropwizard/configuration/BaseConfigurationFactory.java#L189-L199

Instead of throwing an error one would have to add logic that adds the object/array nodes that appear in the overriding system properties but do not exist in

[2020-02-17 12:20] reftel commented on #1994
This is still an issue as of version 1.3.18 and 2.0.1

[2020-02-18 15:52] pwntester opened #3153 "Security issue"
What would be a secure email alias to report a security issue?

Note: would be a nice to set a [security policy](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository)

[2020-02-18 16:08] dteller opened #3154 "There is no way to shut down the JMXReporter created by Bootstrap"
https://github.com/dropwizard/dropwizard/blob/ce6348e8aa89bdc63314d7563fbc3062fbb2232c/dropwizard-core/src/main/java/io/dropwizard/setup/Bootstrap.java#L89

The JMXReporter returned on that line isn't saved so there is no way to clean it up.
That causes a memory leak when the application is restarted in the same JVM.

[2020-02-18 16:56] mattnelson commented on #3154
How are you restarting a dropwizard application without restarting the JVM?

[2020-02-18 18:19] dteller commented on #3154
We have another thread that stops and restarts the services. We are running a number of them in the same JVM.

[2020-02-19 11:22] joschi commented on #3153
@pwntester Thank you very much for raising this issue! 👍

We've added our security policy to this project:
https://github.com/dropwizard/dropwizard/security/policy

Please send your message to dropwizard.committers+security@gmail.com and we'll respond as fast as possible.

[2020-02-19 11:50] pwntester commented on #3153
Nice, thank you!

[2020-02-19 11:50] #3153 closed

[2020-02-19 13:28] dteller commented on #3154
The fact that the bootstrap JmxReporter is registered with the jmx bean means it can never be garbage collected nor can the metricsRegistry. That means the class loader can't be either.

[2020-02-19 15:09] joschi commented on #3154
@dteller Would the change in #3156 help you? That way you could call `JmxExporter#stop()` in your JVM process before reloading the application.

[2020-02-19 17:17] dteller commented on #3154
It absolutely would solve my problem. Thanks

[2020-02-23 12:44] joschi opened #3167 "Support for alternative ALPN implementations"
Dropwizard currently supports Application-Layer Protocol Negotiation (ALPN) via [jetty-alpn](https://github.com/jetty-project/jetty-alpn) (see also [Jetty Administration Guide](https://www.eclipse.org/jetty/documentation/9.4.26.v20200117/alpn-chapter.html)) on OpenJDK 8.

Unfortunately this library seems to be incompatible with the OpenJDK 8 builds from Azul Systems (Zulu), which brings its own AL

[2020-02-25 00:03] #2843 closed

[2020-02-28 01:01] Security3rd opened #3171 "Some CVEs in dependencies are threatening your project!"
I found your project used some dependencies that contain CVEs. In order to avoid threats, I recommend updating to a safe version. The details are as follows.
* **Vulnerable Library Version:** com.h2database : h2 : 1.3.173
  **CVE ID:** [CVE-2018-10054](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-10054), [CVE-2018-14335](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14335)
  *

[2020-02-28 09:02] joschi commented on #3171
@Security3rd Thanks for opening this issue!

Could you please elaborate on which version of Dropwizard you've checked?

None of those dependency versions are used in Dropwizard 1.3.x or 2.0.x.

[2020-02-28 19:48] kibertoad commented on #1626
@joschi I can contribute documentation on doing DI with HK2 in Dropwizard-friendly way, if you think project would benefit from that.

[2020-02-29 16:25] joschi commented on #1626
@kibertoad Yes, definitely! It would be great if you could improve the documentation in this regard.

[2020-03-02 17:27] kibertoad commented on #1626
@joschi Just sent in a PR with example. It is somewhat more heavyweight than the gist you shared before, but I'm not sure if it can be done in less code if you want to preserve option of overriding some of your dependencies in tests, which is one of the main reasons of using DI in the first place.

If there are better ways to achieve same goal, I would be happy to rework the documentation proposal

[2020-03-03 00:04] #1994 closed

[2020-03-06 04:53] pablof300 opened #3181 "Multiple static assets with its own routing"
I have a react app that I am building and trying to serve using an AssetBundle, as such:

[code]
I also added the configuration
[code]
so there wouldn't be conflicts with my API.

This works great for just the landing page of my React app. Whenever I try the route /login /dashboard, this page from the UI not found. So I tried adding more bundles to fix that problem with the routing:

[code]

Now,

[2020-03-09 11:18] harpreet86 opened #3185 "CVE-2017-18365"
The io.dropwizard:dropwizard-auth current released version(2.0.2) is using com.github.ben-manes.caffeine:2.8.1, which is having a vulnerability CVE-2017-18365.

Please suggest

[2020-03-09 11:20] harpreet86 opened #3186 "CVE-2020-5245, CVE-2017-5929"
The io.dropwizard:dropwizard-logging current released version(2.0.2) is using io.dropwizard.logback:logback-throttling-appender:1.1.0, which is having a vulnerability CVE-2020-5245, CVE-2017-5929.

Please suggest.

[2020-03-09 11:23] harpreet86 opened #3187 "CVE-2020-5245 vulnerability in dropwizard-jdbi-2.0.0"
The latest release version for dropwizard-jdbi-2.0.0 is having a vulnerability CVE-2020-5245.

Please suggest.

[2020-03-09 12:29] joschi commented on #3185
https://nvd.nist.gov/vuln/detail/CVE-2017-18365

@harpreet86 I don't see how this is related to [Caffeine](https://github.com/ben-manes/caffeine) or to Dropwizard. Could you please elaborate?

[2020-03-09 14:03] joschi commented on #3186
[CVE-2020-5245](https://github.com/advisories/GHSA-3mcp-9wr4-cjqf) doesn't apply to [logback-throttling-appender](https://github.com/dropwizard/logback-throttling-appender).

[CVE-2017-5929](https://nvd.nist.gov/vuln/detail/CVE-2017-5929) refers to Logback <1.2.0, which is not used by any of the mentioned Dropwizard components.

[2020-03-09 14:03] #3186 closed

[2020-03-10 00:23] bobtiernay-okta commented on #3186
Also hitting this issue. I'm seeing this:
https://github.com/dropwizard/dropwizard/blob/2c082e916a79cd8051bcdc53c56d605fd1bb2a61/dropwizard-dependencies/pom.xml#L51

[2020-03-10 05:53] bobtiernay-okta commented on #3186
Looks like this may be a false positive:

https://github.com/jeremylong/DependencyCheck/issues/2473

[2020-03-10 07:57] joschi commented on #3186
@bobtiernay-okta Thanks for the information. This definitely is a false positive.

[2020-03-10 18:10] joschi commented on #3185
Closing as a false positive.

[2020-03-10 18:10] #3185 closed

[2020-03-11 04:53] harpreet86 commented on #3185
Please refer to the attached screenshot, the caffeine dependency is coming from dropwizard-auth-2.0.2

![Vulnerabilities](https://user-images.githubusercontent.com/4299180/76383597-54555c00-6382-11ea-93f5-3be43cc45a36.JPG)
![caffeine](https://user-images.githubusercontent.com/4299180/76383607-59b2a680-6382-11ea-9ae2-69509d3fe4c0.JPG)

[2020-03-11 04:54] harpreet86 commented on #3185
Please suggest.

[2020-03-11 04:58] harpreet86 commented on #3186
Please refer to the attached screenshot. You can see that logback-throttling:1.1.0 is coming from dropwizard-logging and dropwizard-logging is coming from dropwizard-core, there is vulnerability reported by maven.
![Vulnerabilities](https://user-images.githubusercontent.com/4299180/76383792-01c86f80-6383-11ea-8da8-f8a7a687e5d1.JPG)

![logback-throttling](https://user-images.githubusercontent.com/4

[2020-03-11 08:25] joschi commented on #3186
@harpreet86 These are false positives.

[2020-03-11 08:27] joschi commented on #3185
@harpreet86 These are false positives.

You can add them to the suppression list: https://jeremylong.github.io/DependencyCheck/general/suppression.html

[2020-03-11 21:39] afdecastro879 commented on #3181
As per dropwizard configuration [here](https://www.dropwizard.io/en/latest/manual/core.html#bundles):

And that's the reason why just the dashboard it's working, it's just registering the latest asset bundle

So your bundles should look like:
[code]

[2020-03-12 20:36] irineuruiz opened #3192 "Using UnitOfWork with UnitOfWorkAwareProxyFactory when creating json on the resource does not work anymore"
Hello,

In version 1.3.12 of Dropwizard we used a class that is created with UnitOfWorkAwareProxyFactory.
The return of one of our resources had a variable that is an instance of this class and that during the creation of the response in JSON saved some data in the database via hibernate.

We are migrating to Dropwizard 2.0.2 and we had a problem with that, UnitOfWork tries to use the same transac

[2020-03-12 21:24] matthiasblaesing commented on #3192
@irineuruiz I'm willing to look at your code - could you provide a minimal, runnable, selfcontained sample, that reproduces your problem?

[2020-03-13 20:16] irineuruiz commented on #3192
[unitOfWork.zip](https://github.com/dropwizard/dropwizard/files/4331486/unitOfWork.zip)

In this zip I have a simple case, of course this case can be done without the Supplier, but we have a very more complex case in our system...

CREATE TABLE public.tb_person
(
  id integer NOT NULL,
  firstname text,
  CONSTRAINT pk00_tb_person PRIMARY KEY (id)
)
WITH (
  OIDS=FALSE
);

[2020-03-13 23:34] matthiasblaesing commented on #3192
Thank you - based on this sample I could reproduce the issue. I'm not sure if the problem was just not revealed in the past or if it was introduced by it, but I'm looking into it.

The current summary (I think): Nested UnitOfWorks are supported, interleaved are currently not.

[2020-03-14 15:39] matthiasblaesing commented on #3192
Correction: These are not interleaved, but serial transactions. This looks like a dangerous setup - my take on this:

@UnitOfWork starts a session and optionally a transaction. The transaction is committed/rolled back on the return from the @UnitOfWork method, the session is kept open. The code reads (UnitOfWorkAspect#afterEnd):

That means, that lazy loaded data is initialized in a different/outs

[2020-03-15 04:27] oeddyo commented on #1994
also seeing this.
    LoggingUtil.getLoggerContext().stop();
 doesn't seem to help

1 thread leaked from SUITE scope at com.kalasearch.restful.SimpleRestfulTest:
   1) Thread[id=19, name=AsyncAppender-Worker-async-console-appender, state=WAITING, group=TGRP-SimpleRestfulTest]
        at java.base@11.0.5/jdk.internal.misc.Unsafe.park(Native Method)
        at java.base@11.0.5/java.util.concurrent.l

[2020-03-16 09:25] joschi commented on #3059
@pawelebe Could you please provide a minimal example to reproduce the issue?

[2020-03-16 17:17] eocantu opened #3195 "Freemarker error message logged"
When running the [FreemarkerViewRenderer](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-views-freemarker/src/main/java/io/dropwizard/views/freemarker/FreemarkerViewRenderer.java) several error messages are logged from freemarker:

[code]

This appears to be due to setting the freemarker `Configuration` object to `Configuration.getVersion()`: https://github.com/dropwizard/dropwiza

[2020-03-17 07:41] joschi commented on #3195
@eocantu Thanks for reporting this!

Would you be able and willing to provide a pull request addressing this issue?

[2020-03-17 20:25] matthiasblaesing commented on #3192
This is the implementation of the suggested handling: https://github.com/matthiasblaesing/dropwizard/commit/082ec3ba5a93aecf330c63f57182314ebc03b995. All existing unittests still succeed, the new unittests failed before this change and with the change succeed.

[2020-03-21 17:19] #3154 closed

[2020-03-21 23:02] #3139 closed

[2020-03-22 03:06] pkwarren commented on #3195
Fixed as part of https://github.com/dropwizard/dropwizard/pull/3198.

[2020-03-22 03:06] #3195 closed

[2020-03-23 00:03] #2921 closed

[2020-03-24 18:51] joschi commented on #3073
Seems this has been fixed on all relevant domains:

[code]

[2020-03-24 18:51] #3073 closed

[2020-03-26 00:55] ljnelson opened #3206 "javassist dependency not needed in dropwizard-validation"
Removing the `javassist` dependency from `dropwizard-validation/pom.xml` results in no errors.  Is there a reason that it is in there?

[2020-03-26 06:54] joschi commented on #3206
@ljnelson You are right, javassist isn't required in dropwizard-validation.

It is used in dropwizard-jersey and dropwizard-hibernate, though.

[2020-03-26 07:01] joschi commented on #3206
This issue has been resolved by #3202.

[2020-03-26 07:01] #3206 closed

[2020-03-27 08:53] xvik opened #3212 "Asm version problem in 2.0.3 (dropwizard-dependencies BOM)"
This is **not a dropwizard issue**, but I'm sure many will face this with the new 2.0.3 release.

In my case, gradle build failed like this:

[code]

This is hk2 issue: `dropwizard-dependencies` now (since 2.0.3) include [hk2-bom](https://github.com/eclipse-ee4j/glassfish-hk2/blob/master/bom/pom.xml), which does not declare `asm.version` property, but declares dependencies with it.

HK2 related is

[2020-03-27 13:55] joschi commented on #3212
@xvik Thanks for reporting this issue!

It looks like a problem in the HK2 BOM itself. I've opened an issue in their issue tracker and we'll see how we can provide a fix on our side.

[2020-03-27 15:25] #3212 closed

[2020-03-27 21:09] joschi commented on #3212
@xvik @izrobin @sherifzain Could you please verify that the problem has been resolved in Dropwizard 2.0.4 which we released today?

[2020-03-28 05:47] xvik commented on #3212
Back to normal. Thank you!

[2020-03-29 15:38] matthiasblaesing commented on #3192
@irineuruiz can you comment on the outlined solution and check the proposed patch?

[2020-03-29 16:43] sherifzain commented on #3212
Much better now. Thanks for the quick fix 🙌

[2020-03-30 07:59] shubhangseth opened #3221 "Unable to setup Junit5 testing with dropwizard 2.0.0"
Hello,
I have been trying to work with extensions to integrate Junit5 test cases into my application. According to the documentation, my understanding is that the extension should be able to spin up a temp server depending on which extension you use. I have tried DropwizardAppExtension, ResourceExtension and DropwizardClientExtension. I am getting a null pointer for the extension in each of the ca

[2020-03-30 08:18] joschi commented on #3221
@keepschanging Which version of Dropwizard are you using exactly?

[2020-03-30 08:19] keepschanging commented on #3221
<dropwizard.version>2.0.1</dropwizard.version>

[2020-03-30 08:20] joschi commented on #3221
@keepschanging Please also post the exact error message including stack traces.

[2020-03-30 08:22] keepschanging commented on #3221
this is the exception i get for extensions....all of them

13:18:13.935 [main] DEBUG org.jboss.logging - Logging Provider: org.jboss.logging.Slf4jLoggerProvider
13:18:13.939 [main] INFO org.hibernate.validator.internal.util.Version - HV000001: Hibernate Validator 6.1.1.Final
13:18:13.944 [main] DEBUG org.hibernate.validator.internal.engine.resolver.TraversableResolvers - Cannot find javax.persiste

[2020-03-30 08:22] keepschanging commented on #3221
and this one when i use junit4 with resource rule.

13:51:37.581 [main] DEBUG org.jboss.logging - Logging Provider: org.jboss.logging.Slf4jLoggerProvider
13:51:37.590 [main] INFO org.hibernate.validator.internal.util.Version - HV000001: Hibernate Validator 6.1.1.Final
13:51:37.601 [main] DEBUG org.hibernate.validator.internal.engine.resolver.TraversableResolvers - Cannot find javax.persistence.Per

[2020-03-30 20:26] joschi commented on #3221
@keepschanging Try making the `ResourceExtension` public or package-protected.

See https://github.com/dropwizard/dropwizard/blob/v2.0.5/dropwizard-example/src/test/java/com/example/helloworld/resources/PeopleResourceTest.java#L33-L35 for an example.

[2020-03-31 07:30] pavanpatel20 commented on #2436
We are also facing same issue in our jetty server (jetty-all-9.4.11.v20180605-uber) and jetty threads are taking more 300% to 400% CPU. This is not happening in all the servers, but in just one server. From this bug thread I understand that the fix is available in 9.4.12. But before upgrade need information on how to reproduce this issue. As this issue happened just once, we are bit confused how w

[2020-03-31 20:56] maffe commented on #2931
…

[2020-04-01 08:54] joschi commented on #2931
@maffe Code contributions welcome. 😉

Also, have you tried adding `@JsonCreator` to your constructor? Otherwise Jackson might not use it at all.

[2020-04-01 23:09] brentryan opened #3223 "update snakeyaml to 1.26+ to address security vulnerability CVE-2017-18640"
DESCRIPTION FROM CVE
The Alias feature in SnakeYAML 1.18 allows entity expansion during a load operation, a related issue to CVE-2003-1564.

EXPLANATION
The snakeyaml package is vulnerable to YAML Entity Expansion. The load method in Yaml.class allows for entities to reference other entities. An attacker could potentially exploit this behavior by providing a YAML document with many entities that r

[2020-04-02 06:26] joschi commented on #3223
Refs FasterXML/jackson-dataformats-text@3e481c65e50cdacd41c97ffc17e8187245f9e09d

[2020-04-02 07:05] joschi commented on #3223
@brentryan Thanks for reporting this issue!

We're in contact with the Jackson team to update the SnakeYAML dependency in their module.

[2020-04-02 11:46] keepschanging commented on #3221
@joschi - thanks for the suggestion. but I am still getting a NPE after making the extension public or protected.

`@ExtendWith(DropwizardExtensionsSupport.class)
public class SessionResourceTest {

    protected static final ResourceExtension RULE = ResourceExtension.builder().addResource(new SessionResource()).build();

    private final SessionRequest sessionRequest = new SessionRequest("web",

[2020-04-02 18:45] t3hk0d3 opened #3225 "CDI Dependency Injection is broken by InjectValidatorFeature"
CDI2/Weld3 DI is broken when using Dropwizard

I've spent quite some time investigating this issue, and apparently it is coming from `InjectValidatorFeature`

The reason is that HK2 uses `IMMEDIATE` strategy by default for Service registration (https://github.com/eclipse-ee4j/jersey/blob/master/inject/hk2/src/main/java/org/glassfish/jersey/inject/hk2/Hk2InjectionManagerFactory.java#L89)

However C

[2020-04-03 17:22] oeddyo opened #3226 "Request log async logging appender worker threads not stopped"
This is the same issue as seen in
https://github.com/dropwizard/dropwizard/issues/1994

But somehow got closed.

Long story short I'm using a testing helper which detects leaked threads and it seems the logging thread is not stopped correctly:

[code]

[2020-04-04 14:32] joschi commented on #3223
Addressed in #3227 and #3228.

[2020-04-04 14:32] #3223 closed

[2020-04-07 00:03] #2918 closed

[2020-04-07 12:46] Gaudon opened #3235 "ERROR: dropwizard java.io.CharConversionException"
Hey folks,

We're seeing some odd behavior from our WebGL games in some cases that we've been unable to isolate or capture.

[code]

While we don't necessarily know if this is a Dropwizard specific issue (or an underlying technology), we're wondering if the DW team might be able to give us some insight on how we might be able to inject and or detect when this is the case (opposed to throwing a 500

[2020-04-07 13:57] joschi commented on #3235
@Gaudon Somebody is sending JSON (or anything else which Jackson is trying to deserialize) with invalid encoding to your JAX-RS resource via POST.

That's as much as one can tell without seeing the actual code and the actual payload.

Maybe you can try posting to the dropwizard-user mailing list with some of these details:
https://groups.google.com/forum/#!forum/dropwizard-user

[2020-04-07 13:57] #3235 closed

[2020-04-07 13:59] Gaudon commented on #3235
@joschi I'll give it a shot, thanks.

[2020-04-07 19:22] aahammedarkin commented on #2781
I am facing the same issue and implementing the recommended changes in my application is challenging due to internal complexities related to resource object initialization.

While experimenting with a dropwizard sample application, I observed that context objects get injected correctly even for a registered resource instance, as long as they are injected at the method level as shown in the above p

[2020-04-08 21:41] splatch commented on #1872
This issue is still valid for 2.0.6. I made my own filter and been struggling with it for half a day thinking that it is something wrong with my code. It turns out that my code is fine.

So to everyone who is still struggling with this one - as a workaround I marked my filter with `@PreMatching` annotation. It doesn't look right to me, but works. This bug (or feature) comes from Jersey code which

[2020-04-10 00:03] #3083 closed

[2020-04-10 18:46] nedcg opened #3243 "Allow customization of BootstrapServiceRegistry"
I want to intercept entity changes with Hibernate event listeners by adding [Integrators](https://docs.jboss.org/hibernate/orm/5.2/javadocs/org/hibernate/integrator/spi/class-use/Integrator.html) to `BootstrapServiceRegistryBuilder`. BootstrapServiceRegistry is abstracted in [SessionFactoryFactory](https://github.com/dropwizard/dropwizard/blob/1024e3c365ff1e3835f62c0a8b643a0835adff03/dropwizard-hi

[2020-04-12 14:43] msymons opened #3245 "Update jackson-bom in 1.3 branch: Addresses 12 CVE"
Update jackson-bom from  2.9.10.20200223 to 2.9.10.20200411 for dropwizard 1.3 branch.  This would update `jackson-databind` from 2.9.10.3 to 2.9.10.4 and addresses 12 CVE by blocking multiple gadget types (including shiro-core, for which there is no CVE):
* CVE-2020-9546
* CVE-2020-9547
* CVE-2020-9548
* CVE-2020-10969
* CVE-2020-10650
* CVE-2020-10672
* CVE-2020-10673
* CVE-2020-10968
* CVE-2020

[2020-04-12 16:47] joschi commented on #3245
@msymons Thanks for your contribution!

Closed in #3246.

[2020-04-12 16:47] #3245 closed

[2020-04-13 07:33] #3243 closed

[2020-04-14 07:11] joschi commented on #3097
@hheg Does the problem still exist in Dropwizard 2.0.6?

[2020-04-14 14:30] msymons commented on #3245
It's a pleasure, @joschi.

Any idea when 1.3.23 will be released? I have over 100 microservices that just need a teeny tweak to the dropwizard version property...  and a threat scanning system that has been going crazy in the meantime.

[2020-04-14 18:32] joschi commented on #3245
@msymons I've released Dropwizard 1.3.23: https://github.com/dropwizard/dropwizard/releases/tag/v1.3.23

This being said and with the context that Jackson 2.9.10.20200411 will most likely be the last release in the Jackson 2.9.x line, I would strongly recommend upgrading your services to Dropwizard 2.x.

[2020-04-17 21:00] schmoboy opened #3253 "useServerHeader Configuration Not Honored"
v 1.3.23

useServerHeader defaults to false and is also set in .yml as false, but the server still returns the Jetty Server: header.

![jettyserver](https://user-images.githubusercontent.com/348642/79613613-7ef2ad00-80c4-11ea-9852-ab6a637e726a.png)

[2020-04-17 21:01] #3253 closed

[2020-04-20 13:44] karussell opened #3257 "Slightly more memory is used for 2.0.x"
We've [recently upgraded from dropwizard 1.3.12 to 2.0.8](https://github.com/graphhopper/graphhopper/pull/1998) and observed that it uses 10-20MB more memory than before. I.e. our test were happy with "-Xmx100m" and now require at least "-Xmx110m" to avoid a frequent failure. It seems to be like a small thing, but when you just compare the "framework overhead" then this increase is substantial.

I

[2020-04-20 13:47] joschi commented on #3257
The increased memory requirements are not expected.

We upgraded a lot of external libraries between Dropwizard 1.3.x and 2.0.x, so it wouldn't totally catch me by surprise if one of those requires more memory.

If you have the time to provide a reproducible analysis, you're welcome to do so. 😃

[2020-04-20 14:26] karussell commented on #3257
I cannot build the examples module. I checkout out `release/2.0.x` branch and ran `./mvnw clean package` but it always gives me something like

[code]

Do you have a minimal test repo instead?

[2020-04-20 14:27] karussell commented on #3257
Will try the archetype: https://github.com/dropwizard/dropwizard/tree/master/dropwizard-archetypes

[2020-04-20 14:41] karussell commented on #3257
Ok, cannot reproduce it with this. Both versions start fine with ~7mb and fail with ~6mb. (I had to make sure that I used jdk8 or the old default GC otherwise more was required)

So it is likely a problem of the updated dependencies.

[2020-04-20 14:41] #3257 closed

[2020-04-20 15:37] cwhittick commented on #3235
I am just posting this here in case someone else comes across this issue in the future.

We believe we figured out the cause and it is not dropwizard/jersey related. It is an issue with Kaspersky antivirus and UnityWebRequests in WebGL unity builds.

In Kaspersky if the option "Traffic processing" -> Inject script into web traffic to interact with web "pages" is enabled it will corrupt POST reques

[2020-04-20 17:16] irineuruiz commented on #3192
I'm sorry, I was on vacation and I just came back today, I'll check it out

[2020-04-20 18:11] irineuruiz commented on #3192
Hi @matthiasblaesing

I tested your suggestion and it worked as expected

[2020-04-21 18:08] cricket007 commented on #2974
I see something about HK2 mentioned here.

https://developers.redhat.com/blog/2019/04/12/migrating-java-applications-to-quarkus-lessons-learned/

[2020-04-21 18:09] cricket007 commented on #2974
If Jersey is the limiting factor, then that just goes back to my rant on #1463

[2020-04-24 15:52] mrtheb commented on #3089
For bystanders ending up here, this has been fixed in swagger-core v2.1.2 from https://github.com/swagger-api/swagger-core/pull/3467 so the exclusion shouldn't be needed anymore.

[2020-04-25 00:03] #3094 closed

[2020-04-26 00:03] #3057 closed

[2020-04-26 10:51] henryeason opened #3261 "Overlapping resources"
Getting overlapping resource errors with Maven when using Dropwizard 2.0.8. I assume this is maybe a problem with Jersey and cannot be fixed easily.

**Warning from maven:**
[WARNING] jersey-common-2.30.1.jar, jersey-server-2.30.1.jar define 1 overlapping resources:
[WARNING]   - META-INF/services/org.glassfish.jersey.internal.spi.AutoDiscoverable
[WARNING] jackson-databind-2.10.3.jar, jackson-dat

[2020-04-26 10:55] joschi commented on #3261
@henryeason You have to properly merge the files in `META-INF/services` with a suited resource transformer in the maven-shade-plugin:
https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer

[2020-04-26 10:55] #3261 closed

[2020-04-26 14:27] henryeason commented on #3261
Thanks! Always forget to add this :+1:

[2020-04-28 06:48] joschi commented on #3221
@keepschanging Please post a list of dependencies in your project, for example `mvn dependency:tree` if you're using Maven or `gradle dependencies` if you're using Gradle.

It would also be great if you could provide a minimal project to reproduce your issue.

[2020-04-29 00:03] #3097 closed

[2020-05-05 00:24] darewreck54 commented on #1630
@ramsrib How would you pass in inject attributes into the ExampleAuthFilter?  It looks like you can't do if you want Context?

[2020-05-05 05:06] darewreck54 commented on #1630
@abhishek199-dhn Can you give me an example of how you did this?

[2020-05-05 08:24] isopropylcyanide opened #3276 "Unit Of Work Support For JDBI"
I've published a package to `Maven Central` that I've developed to add Support for Unit of Work for a Dropwizard App that uses `JDBI` using a `JdbiUnitOfWork` annotation

The project lives here: https://github.com/isopropylcyanide/dropwizard-jdbi-unitofwork
![image](https://user-images.githubusercontent.com/12872673/81047375-e9368a80-8ed7-11ea-9318-9b1d170d10bc.png)

I'm interested in contributing

[2020-05-05 14:09] barthanssens opened #3277 "Documentation: Task execute method has changed"
When upgrading from 1.3 to 2.0.9, I've noticed that the execute method signature has slightly changed to `execute(Map<String,List<String>> parameters, PrintWriter output)`, but this is not mentioned in the migration guide, nor in the manual https://www.dropwizard.io/en/latest/manual/core.html#tasks

[2020-05-05 15:48] joschi commented on #3277
@barthanssens Good catch, thanks a lot!

[2020-05-05 15:48] #3277 closed

[2020-05-05 16:46] yazalulloa opened #3280 "Gzip not working"
Hi, I'm trying to setup compression for my responses and I followed the documentation but does noting.

I created a small proyect to reproduce the error, and check if in my main project I had something that could interfere. I tested it with Postman and the request was always 1.3 MB, and that is the size of the file I'm using as a response (gzipTest.txt)

[code]

[code]

[code]

[code]
[gzipTest.tx

[2020-05-05 18:37] joschi commented on #3280
@yazalulloa Thanks for reporting this and providing example code!

Your example is working for me:
[code]

Make sure to send an appropriate `Accept-Encoding` header in your request, otherwise Jetty will assume that the client doesn't understand compressed responses.

[2020-05-05 18:37] #3280 closed

[2020-05-05 19:03] yazalulloa commented on #3280
Thanks, is there a way to get the compressed response size?, seems like with Postman, Curl, and any browser, the response gets automatically decompressed

[2020-05-05 20:08] joschi commented on #3280
If the `Content-Length` response header isn't available, you could download the response and check the file size or load the response in a byte array and check its size.

[code]
In this case, the compressed response body has a size of 654800 bytes and the uncompressed response body has a size of 1371666 bytes.

[2020-05-08 00:03] #3111 closed

[2020-05-09 10:18] joschi commented on #3131
Refs #3233

[2020-05-09 18:31] dennyac opened #3287 "Optimization/Features/Suggestions around managed executors"
Optimization/Features/Suggestions around managed executors
1. The current default thread factory creates a new DefaultThreadFactory instance whenever a new thread is constructed.
2. For threads we have a global counter. Would prefer a counter per executor service (Use a global pool and local thread number similar to DefaultThreadFactory). Can move threadFactory logic to its own class. Would've ext

[2020-05-10 00:03] #3114 closed

[2020-05-10 05:49] dennyac commented on #3287
Event if a subset of these changes are acceptable, let me know and I'll make appropriate changes/modifications

[2020-05-11 07:28] joschi commented on #3138
@LouiseEH Thanks for reporting this!

Dropwizard 2.0.9 is using Jetty 9.4.28.v20200408, so I think this issue has been solved:
https://github.com/dropwizard/dropwizard/blob/v2.0.9/dropwizard-dependencies/pom.xml#L52

[2020-05-11 07:28] #3138 closed

[2020-05-11 08:38] LouiseEH commented on #3138
Yes great, thanks

[2020-05-11 20:07] joschi commented on #3276
@isopropylcyanide Thanks for opening this issue and for your write-up!
Sorry it took a bit longer to respond.

I see that your project is aimed ad jDBI 2.x (via dropwizard-jdbi) and not Jdbi 3 (via dropwizard-jdbi3).

Since we split out the jDBI 2.x support in Dropwizard 2.0.0, it would make sense to create a pull request against https://github.com/dropwizard/dropwizard-jdbi/.

What do you think?

[2020-05-12 05:44] isopropylcyanide commented on #3276
I agree. I'll raise it over there. Thank you.

[2020-05-12 19:21] irineuruiz opened #3291 "Dropwizard hibernate: using transactional and DELAYED_ACQUISITION_AND_RELEASE_AFTER_STATEMENT in parallel requests generates the error "Cannot commit when autoCommit is enabled.""
When we have `DELAYED_ACQUISITION_AND_RELEASE_AFTER_STATEMENT` in our handling mode configuration and we try to use a resource with `transactional = true`,
if we make two parallel calls to this service we take the error "Cannot commit when `autoCommit` is enabled."

Can't use `DELAYED_ACQUISITION_AND_RELEASE_AFTER_STATEMENT` and have a resource with `transactional = true`?
Or It's a bug?

Sample c

[2020-05-13 10:13] ankuagarwal opened #3292 "Determine the environment from config file."
Hi,
I have 2 configuration (staging and production) yml files in my Dropwizard project. I need to determine which environment (staging or production) I am running the application. I was thinking if I could get the filename somehow, I should be able to set the environment in global variable.

Any idea how could I achieve this.

Thanks

[2020-05-13 10:20] joschi commented on #3292
How about adding a field to your configuration class which specifies the environment (could be a string or an enum) and read it in your application?

[2020-05-13 15:16] chris-orchard commented on #3124
I'm happy to try and improve this documentation now that my issue relating to it has been resolved. I'll try and get this done next week so commenting here to keep this issue open for now.

[2020-05-14 06:48] koalalam opened #3293 "Update Hibernate Validator - CVE-2020-10693"
https://hibernate.atlassian.net/browse/HV-1774
https://nvd.nist.gov/vuln/detail/CVE-2020-10693

[2020-05-14 07:01] joschi commented on #3293
@koalalam Thanks for reporting this!

We already addressed the underlying issue with [Dropwizard 2.0.3](https://github.com/dropwizard/dropwizard/releases/tag/v2.0.3) and the next patch release of Dropwizard will contain the latest version of Hibernate Validator.

[2020-05-14 07:01] #3293 closed

[2020-05-14 08:31] keepschanging commented on #3221
@joschi - thanks for the help. moved on to a different testing setup for now. will close the ticket as I don't see anyone else facing this issue.

[2020-05-14 09:24] joschi commented on #3167
This has been resolved with Java 8u252 and #3256.

[2020-05-14 09:24] #3167 closed

[2020-05-14 11:59] koalalam commented on #3293
Thanks @joschi. Any ETA on v2.0.10 to go available?

[2020-05-17 00:04] #3125 closed

[2020-05-19 11:55] lilaja opened #3299 "Objenesis question"
Hi, Perhaps it is a stupid question - but why do you need this dependency ?
https://github.com/dropwizard/dropwizard/blob/c1a0af1c73be52f3a3c267e9deb7a0bd8e0c270c/dropwizard-dependencies/pom.xml#L62

[2020-05-19 13:25] joschi commented on #3299
@lilaja Good catch, thanks! 😃

The dependency is indeed unused.

[2020-05-19 14:20] #3299 closed

[2020-05-20 01:26] javahas opened #3301 "Jetty , dropwizard issue, metrics already exist"
jetty version: 9.4.28.v20200408
dropwizardv version=4.1.7
JDK 11

metrics-core-4.1.7.jar
metrics-healthchecks-4.1.7.jar
metrics-jetty9-4.1.7.jar
metrics-json-4.1.7.jar
metrics-jvm-4.1.7.jar
metrics-servlets-4.1.7.jar

Just upgraded  version of dropwizard and jetty, now I get the following error when starting my application:

[code]

[2020-05-20 05:46] joschi commented on #3301
@javahas I'm unable to reproduce this with a new empty project and dropwizard-example based on Dropwizard 2.0.9 (which includes the mentioned versions of Dropwizard Metrics and Jetty).

Please provide a minimal project to reproduce your issue.

[2020-05-20 10:08] alkoclick commented on #3226
Can you check if your appender is actually an instance of AsyncAppender or not? DefaultLoggingFactory has some pretty weird behavior overall, it doesn't close the appenders at all, it just lets them "flush" themselves. We're also experiencing issues with this functionality

[2020-05-20 20:00] abhishek199-dhn commented on #1630
@darewreck54

I made both `HerculesRestAccessor` and the `applicationName` injectable. After this you can register the filter as a class, and all the injections should work.

[code]

[code]

[code]

More Links:-
https://stackoverflow.com/questions/44097938/context-injection-not-working-in-jersey-containerrequestfilter-dropwizard

https://stackoverflow.com/questions/35882330/how-to-get-my-configura

[2020-05-23 00:07] #3130 closed

[2020-05-23 18:24] yongish opened #3306 "ResourceExtension or ResourceTestRule both create null objects in Dropwizard 2.0.9"
Following the testing guide in https://www.dropwizard.io/en/latest/manual/testing.html#testing-resources. Using ResourceExtension or ResourceTestRule both create null objects. No such issues with Dropwizard 1.3.23.
[code]
[code]

Uploaded example here.
https://github.com/yongish/resource_extension_null/blob/master/src/test/java/com/example/helloworld/resources/HelloWorldResourceTest.java#L12

[2020-05-24 22:30] koalalam commented on #3293
Any update on when this change will go live? Thank you.

[2020-05-25 10:41] joschi commented on #3306
@yongish You're trying to use the class rule (JUnit 4.x) with a JUnit 5.x test.
Please use the [`ResourceExtension`](https://javadoc.io/static/io.dropwizard/dropwizard-testing/2.0.9/io/dropwizard/testing/junit5/ResourceExtension.html) instead.

Example:
https://github.com/dropwizard/dropwizard/blob/655f8ac6f8586a8a0d49d217f0846deefb45de21/dropwizard-testing/src/test/java/io/dropwizard/testing/juni

[2020-05-25 10:41] #3306 closed

[2020-05-26 05:32] ankuagarwal commented on #3292
That's one way of doing it. But then will have to maintain this config for all environment.

[2020-05-26 06:57] joschi commented on #3292
@anandagarwaal-zz That's exactly what you described, isn't it?

[2020-05-26 13:19] joschi commented on #3293
@koalalam https://github.com/dropwizard/dropwizard/releases/tag/v2.0.10

[2020-05-27 03:37] koalalam opened #3311 "Replace com.google.code.findbugs:jsr305 with com.github.spotbugs:spotbugs-annotations"
Old project: https://github.com/findbugsproject/findbugs
New project: https://github.com/spotbugs/spotbugs

[2020-05-27 06:48] joschi commented on #3311
@koalalam Would you be able to provide a PR for this change?

[2020-05-29 05:58] creationw commented on #3023
I had a similar issue:
My TLS terminate at Load Balancer. That is: client-->LB, this is TLS; from LB -->Backend Dropwizard Application: it is http, no https.

The client is sending a request to: https://my-dns.com; my-dns.com is the DNS for the public IPs of my Load Balancer.

- When I configured useforwardedHeaders to false:  the dropwizard application only see request as **http**://my-dns.com;
-

[2020-05-29 07:21] joschi commented on #3023
@creationw If you want to customize the behavior of the HTTP connector, you can create your own [`HttpConnectorFactory`](https://www.javadoc.io/doc/io.dropwizard/dropwizard-jetty/latest/io/dropwizard/jetty/HttpConnectorFactory.html) and override the [`HttpConnectorFactory#buildHttpConfiguration()`](https://www.javadoc.io/doc/io.dropwizard/dropwizard-jetty/latest/io/dropwizard/jetty/HttpConnectorFa

[2020-05-31 00:06] #3145 closed

[2020-05-31 10:13] fazeem84 opened #3313 "Logging Application Build Version during StartUp"
I would like to Log Build Version Number along with the Application Name during the server start up.
This can be done in two ways
  1. By Reading Implementation-Version property from Manifest file
  2. By introducing new file in META-INF(for this to work build plugin needs to be introduced ) to store build info
@joschi I would like to know your thoughts on introducing this feature
I can work on th

[2020-06-02 00:06] #3025 closed

[2020-06-04 00:06] #2908 closed

[2020-06-04 04:48] ankuagarwal commented on #3292
@joschi I'll try your approach by creating field which determine which type of config it is.

[2020-06-04 13:13] scho commented on #1848
@monishkumarg + @kedarr:
Make sure to override `io.dropwizard.Application#bootstrapLogging` in your application class as described here:
https://www.dropwizard.io/en/stable/manual/core.html#logging

[2020-06-12 02:41] younanjo opened #3330 "Dropwizard 0.7 to 1.32: ResourceTest to ResourceTestRule breaks tests"
I've going through a legacy dropwizard codebase (v0.7) that i'm trying to bump up slightly to v1.3.2 and struggling with getting the resource test migrated and passed. Given the following Configuration:

[code]

and the following Resource:

[code]

And the change i've made to the resource test from the following:

[code]

To the following (1.3.2):

[code]

The test fail, because `@ClassRule` is ca

[2020-06-12 06:04] joschi commented on #3330
@younanjo You could delay the initialization of the resource class until after you've set up your mocks:
[code]

Please be aware that Dropwizard 1.3.2 is more than 2 years old and you should migrate to the latest version in that version line (Dropwizard 1.3.23) or even better to the latest stable version (Dropwizard 2.0.10) instead.

[2020-06-14 09:50] joschi commented on #3313
I'm not convinced that this change should be in the core project as the information people usually want to log on startup is very specific to each project.

Maybe you want to log the commit and the branch from which the application was built and a unique identifier to the build in your CI. Maybe you want to log the Maven GAV coordinates.

[2020-06-14 09:50] #3313 closed

[2020-06-16 06:36] joschi commented on #3051
Addressed in #3062.

[2020-06-16 06:36] #3051 closed

[2020-06-16 19:14] huaweiy9 commented on #3124
@codahale

[2020-06-17 19:55] mikeholler opened #3335 "2.X.X deprecates UUIDParam, SizeParam, LocalDateParam, InstantParam, DurationParam, DateTimeParam, BooleanParam and does not give clear alternatives"
I'm trying to upgrade Dropwizard from 1.3.23 to 2.0.10 and am running into some issues around the use of parameters. Specifically, I see that [this commit](https://github.com/dropwizard/dropwizard/commit/69f6e77a19778aeb9a0c5bab897c5e8363ca1dbb) deprecated a number of *Param classes.

Some of these, like `IntParam` are straightfoward. Using `OptionalInt` as a replacement makes sense. However, taki

[2020-06-18 12:23] joschi commented on #3335
The code in [`OptionalQueryParamResourceTest`](https://github.com/dropwizard/dropwizard/blob/89712d2346c3a08e9a986a4e256ceff6b37a3cb5/dropwizard-jersey/src/test/java/io/dropwizard/jersey/optional/OptionalQueryParamResourceTest.java#L109) is not very nice.

If you want to have it a little more idiomatic, you can write:
[code]

If `Optional<java.util.UUID>` works for you (`java.util.UUID` behaves sl

[2020-06-18 14:00] mikeholler commented on #3335
@joschi thanks for the snippet. I understand that I can do that. I am seeing a substantial behavioral difference that is preventing my existing code from being compatible. Particularly, this suite of tests used to pass in 1.3.23 and now fails in 2.0.10. It's like this for the *Param types built into Dropwizard as well, but I wanted to show this use case because:

1. The use-case for migrating `Abs

[2020-06-18 14:08] mikeholler commented on #3335
I've also taken the time to put together the same test for `UUIDParam` (see below). In this case, I would expect a deprecated feature to work as it did before, but again the below test suite passes in 1.3.72 and fails in 2.0.10 on the last two tests.

[code]

[2020-06-18 14:22] mikeholler opened #3338 "How long will Dropwizard v1 continue to be supported?"
I opened another issue (#3335) that I believe is blocking for me to upgrade to Dropwizard 2. After encountering this issue and looking around, I wanted to see if 1.3.X is continuing to receive security updates, etc.

Currently, the migration to v2 seems to be a substantial effort (see #3335), one that I don't have time for at the moment. However, it is important to me that we complete the update b

[2020-06-18 14:52] mattnelson commented on #3338
I looked here to see the security policy, which calls out which versions are supported.
https://github.com/dropwizard/dropwizard/security/policy

[2020-06-18 15:34] mikeholler commented on #3338
Thank you, this is great. I can see that it is currently supported, but I am wondering if there is any plan for sunsetting v1.3 in the near- or mid- future. For example, can we reasonably expect that 1.3 will be supported through the end of the year? Longer? Shorter? Basically, I'd like to know as much as there is to know about the projected end of support (or whatever the maintainers know about i

[2020-06-19 21:58] brentryan opened #3340 "JUnit 5 test with HttpSession fails with DropwizardExtensionsSupport"
We came across a scenario where we wanted to write a unit test for `@Session HttpSession session` being injected into a resource.

We were trying to mimic the behavior of DockerIntegrationTest.java which is included with dropwizard-example project. You can mimic the failure by simply adding `@Session HttpSession session` to `HelloWorldResource` and re-running the test.

It was obvious if this was

[2020-06-20 08:46] joschi commented on #3340
Please try using the Grizzly or Jetty-based test containers for being able to inject "real" sessions.

https://www.dropwizard.io/en/latest/manual/testing.html#test-containers

[2020-06-20 13:33] brentryan commented on #3340
That may work with default @Session behavior. However, once you've had to customize session handler code so that sessions can be stored in couchbase and we have a dropwizard bundle for enabling this behavior, we'd like to be able to test this using DropwizardAppExtension. The primary reason for using DropwizardAppExtension is because the application bundle has all the code to init the custom sessi

[2020-06-23 14:56] roryodonnell opened #3346 "Liquibase: CreateViewGenerator generates incorrect SQL for PostgreSQL"
Migration from 1.3 to 2.0 exposes issue with view replacement. Not a dropwizard issue, but creating a placeholder to track and incorporate when fixed
https://github.com/liquibase/liquibase/issues/1042

[2020-06-29 00:07] #3059 closed

[2020-06-29 07:41] joschi commented on #3226
@oeddyo Which version of Dropwizard are you using?

[2020-06-29 07:42] joschi commented on #1994
@oeddyo Could you please provide an example project to reproduce the issue?

[2020-07-01 10:00] Lavie526 opened #3355 "While i run mvn clean install, there are some build errors which is complainning could not find the maven-archetype-plugin."
while i git pull from this repository, and run "mvn clean install -s setting.xml" I have already set the proxy info in the settings.xml, however i got below build errors:
[code]
Any suggestions?

[2020-07-01 10:29] joschi commented on #3355
[code]
Try again. Maybe Maven Central had a networking problem.

You can check the official status page at https://status.maven.org/.

[2020-07-02 01:02] Lavie526 commented on #3355
"curl -i https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-archetype-plugin/maven-metadata.xml"
HTTP/2 200 also runs fine to me, but still the same error. What could the problem be?

[2020-07-02 07:39] joschi commented on #3355
@Lavie526 Maybe there's a proxy between your machine and Maven Central which intercepts the requests and fails to recognize that the metadata file exists.

You can try running Maven in debug mode `mvn --debug [...]` to get more information about the error during the build.

[2020-07-03 03:23] Lavie526 commented on #3355
It seems if I use "mvn clean package -s settings.xml" instead of "mvn clean install -s settings.xml", the build will pass.
Not sure, what's the difference. I didn't change the proxy settings.

[2020-07-15 00:09] #2931 closed

[2020-07-16 00:09] #3225 closed

[2020-07-16 12:40] BenRomberg commented on #1674
I'd be happy to write my own `Handler`/`HandlerWrapper` to achieve this, just wondering how I'd inject this to be used within Dropwizard. Write my own `ServerFactory` and return a custom `Handler` from `createAppServlet`? Would that work or is there a simpler way?

[2020-07-16 17:35] sleberknight commented on #3335
We also have experience similar problems but with regular old long parameters, e.g. `OptionalLong` and `Optional<Long>` which behave completely differently. (The same goes for `OptionalInt` and `Optional<Integer>` etc). Here is a sample endpoint using optionals:

[code]

Observed behavior:

If you do `GET /optionalsTest/42/84`, you get a `200` response with the expected response entity.

If you do

[2020-07-18 09:15] sulman-hungryepos opened #3376 "What is the correct version of dropwizard-archtype?"
When I try to create a new project using

`mvn archetype:generate -DarchetypeGroupId=io.dropwizard.archetypes -DarchetypeArtifactId=java-simple -DarchetypeVersion=2.1.0-SNAPSHOT
`
I get following:

[code]

[2020-07-18 09:23] joschi opened #3377 "Flaky test: App1Test.earlyEofTest"
`App1Test.earlyEofTest` is regularly failing on Windows with Java 14 but not in other combinations.

Running the build again most of the time succeeds but is very annoying.

[code]

[2020-07-18 10:44] joschi commented on #3376
The Maven Archetype is published together with each Dropwizard release, so using `io.dropwizard.archetypes:java-simple:2.0.11` should do the trick unless you want to test something with the latest SNAPSHOT version (in which case you have to build it yourself first).

[code]

[2020-07-18 12:48] #3377 closed

[2020-07-20 11:04] matthiasblaesing commented on #3192
Commenting to keep this open. Fix is proposed in #3201 and is pending review.

[2020-07-23 05:15] leecalcote opened #3384 "Add dropwizard to the client libraries section of the service mesh landscape"
Hi,

Will you consider adding dropwizard to the client libraries section of the service mesh landscape here - https://layer5.io/landscape?

We would love to have your framework well-represented and accurately represented. Please PR to have dropwizard listed.

Thanks!

[2020-07-24 08:56] Lavie526 opened #3386 "Is there a way to show seonds value of timestamp instead of milliseconds in the json format log?"
I know dropwizard already support show json format log, i have a config.yml which support output json format log:
[code]
The output of logs looks like this:
[code]
Notice here is unit of the timestamp is milliseconds, i want to make it show the value with seconds, how should I config? Is there an easy way to do so?

[2020-08-06 19:55] lutzhorn commented on #3386
As far as I can tell, the JSON log message is generated by Logback. Try to set `timestampFormat` in the `layout` section of your configuration to a format using the [`DateTimeFormatter`](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html) syntax to check this.

[2020-08-11 15:16] vabs opened #3406 "Gzip compression not working in 2.0.12"
Hello,

I created a basic dropwizard application to test `gzip` compression for the responses.
But I don't have `content-encoding: gzip` header in my response for the application.

Config file:

[code]

Local Run:

<img width="849" alt="Test" src="https://user-images.githubusercontent.com/2936128/89913285-8bde6380-dbc1-11ea-9b9f-009dbadefb39.png">

Below is the application which I am using:

Sampl

[2020-08-11 15:27] thoniTUB opened #3407 "@Auth does not bind on resource fields (Dropwizard 2.0.12)"
Hey,

I'm upgrading from Dropwizard 1.3.14 to 2.0.12 and found that a field in a resource annotated with `@Auth` does not get a Principal binded anymore.
So this example previously worked but does not anymore:
[code]

I guess its because of Jersey's `AbstractValueParamProvider` only scans method parameters but not class fields of a resource.
The `@Auth` annotation however still allows to be placed

[2020-08-11 15:27] mattnelson commented on #3406
There is a time tradeoff where a small enough entity is not compressed because it takes longer to compress than it takes to send the full response over the network. The `minimumEntitySize` property controls that threshold.

https://www.dropwizard.io/en/latest/manual/configuration.html#gzip

[2020-08-11 15:40] vabs commented on #3406
@mattnelson Thanks Matt for pointing out the configuration parameter. I will modify that for my use-case.

Closing this issue

[2020-08-11 15:40] #3406 closed

[2020-08-12 04:40] amr opened #3408 "@UnitOfWork closed too early for StreamingOutput"
In my tests, it seems that the `@UnitOfWork` on a resource is closed too early, before `StreamingOutput` has finished executing. So the following fails:

[code]

The purpose of JAX-RS `StreamingOutput` is a pattern like the above, where instead of buffering the contents in the server memory we are delaying the expensive operation (the `Stream.map` here) and instead do it one by one as we write to

[2020-08-12 12:19] irineuruiz commented on #3291
No answer to this issue until now...

[2020-08-12 12:36] joschi commented on #3291
@irineuruiz Have you tried posting your questions on the dropwizard-user mailing list?
https://groups.google.com/g/dropwizard-user

[2020-08-16 16:15] joschi opened #3415 "Failing test on GitHub Windows runners: NoClassDefFoundError: org/apache/commons/lang3/ClassUtils"
The builds of Dropwizard on GitHub Windows runners have been failing for a while when trying to invoke the Maven archetype as parts of the build.

Examples:

* Java 8/Windows: https://github.com/dropwizard/dropwizard/runs/983747264
* Java 11/Windows: https://github.com/dropwizard/dropwizard/runs/983747297
* Java 14/Windows: https://github.com/dropwizard/dropwizard/runs/983747324

[Complete logs of

[2020-08-16 20:06] joschi commented on #3407
@thoniTUB Could you please provide a full (but small) example how you would register the `Resource` class in your application?

[2020-08-17 17:45] sblour2020 commented on #3225
Please help.
I have this issue and I have added jersey-cdi2-se.jar but still getting exactl these stacktrace error.
I am pasting all the error message here.

ERROR [2020-08-17 17:33:16,923] io.dropwizard.cli.ServerCommand: Unable to start server, shutting down
! java.lang.NullPointerException: null
! at io.dropwizard.validation.InjectValidatorFeature.configure(InjectValidatorFeature.java:33)
! at

[2020-08-18 14:31] sblour2020 opened #3418 "Application run time error after upgraded sun.jsersey to glassfish.jersey and upgraded dropwizard"
Please help.
Server Jetty cannot start after upgraded sun.jsersey to glassfish.jersey and upgraded dropwizard-0.7.1 to 2.0.11
Althoug I have added jersey-cdi2-se.jar but still getting these stacktrace error.
[code]

[2020-08-18 16:12] joschi commented on #3418
Please check the upgrade notes for the versions you've covered in your upgrade:
https://www.dropwizard.io/en/latest/manual/upgrade-notes.html

There might be some incompatible libraries in your Dropwizard project which pull in incompatible dependencies.

[2020-08-19 14:53] sblour2020 commented on #3418
Thank you. One more question, does the dropwizard.2x jetty uses embadded jetty also? I am using jetty 9.4xx now. I am not sure it's embedded or not. If not, should I add this server in Eclipse and start it before running the application? Best.

[2020-08-19 14:57] sblour2020 commented on #3418
Also, where I can download the io.dropwizard-dependencies? The Maven Repository doesn't have it.

[2020-08-19 17:10] joschi commented on #3418
Yes, Dropwizard 2.x is also embedding Jetty. You do not have to set it up explicitly and deploy a WAR archive in it.

https://search.maven.org/artifact/io.dropwizard/dropwizard-dependencies

[2020-08-20 07:58] bripkens opened #3421 "Consider enabling HTTP client connection validation by default"
# Why

dropwizard-client currently disables HTTP client detection for half-closed TCP connections [by default](https://github.com/dropwizard/dropwizard/blob/de7581fabd358853e2853b80235a491c50443e0f/dropwizard-client/src/main/java/io/dropwizard/client/HttpClientConfiguration.java#L59-L60) ([PR which added this behavior](https://github.com/dropwizard/dropwizard/pull/1181)). This can cause quite some

[2020-08-20 15:41] gadieichhorn opened #3422 "Junit5 JDBI3 tests without Hibernate"
This is more of a question than a bug...

I try to set up tests for JDBI3 DAO  without Hibernate (I use JDBI3 directly in my app)

I use testcontainers Postgres, I then set all the JDBI plugins and dependencies and use the container url to connect the JDBI and create an instance.

[code]

I am getting random results, sometimes tests fail and sometimes they pass.

If I run application tests (full D

[2020-08-20 15:46] sblour2020 commented on #3418
After matched completely all dependencies with droqwizard 2.012, hibernate 5.4.18, jetty 9.4.30xx, ... still getting same issue that I've seen before. Seraching Google is not getting me a proper anser. Please help.

java.util.ServiceConfigurationError: org.hibernate.integrator.spi.Integrator: Provider org.jadira.usertype.dateandtime.joda.integrator.UserTypeJodaTimeHibernateIntegrator could not be

[2020-08-20 15:55] sblour2020 commented on #3418
part of dependencies of dropwizard, I have joda-time-2.10.6,  userType.core-7.0.0.CR1. Then I added userType.spi.6.0.1.GA  needed by hibernate.

[2020-08-20 16:04] sblour2020 commented on #3418
I removed the org.jadira.userType.spi.6.0.1.GA, added org.jadira.userType.spi.70.0.CR1. I passed the error. Now getting this error:

java.lang.NoClassDefFoundError: org/glassfish/jersey/server/validation/internal/InjectingConstraintValidatorFactory
	at io.dropwizard.validation.InjectValidatorFeature.configure(InjectValidatorFeature.java:32)
	at org.glassfish.jersey.model.internal.CommonConfig.conf

[2020-08-21 07:49] joschi commented on #3418
You added an incompatible version of `org.jadira.userType.spi`. In fact, you shouldn't add this dependency manually at all.

[2020-08-21 08:45] gadieichhorn commented on #3422
Problem solved with Managed pool data source

[code]

then use this DataSource to start Jdbi3

[code]

I hope it helps the next person ;)

kudus @j4n1 for helping me resolve this.

[2020-08-24 14:17] fkaddereit opened #3426 "issues with ProxyPass and certificates in 2.0.12"
I'm upgrading from 1.3.12 to 2.0.12 and got everything working fine. But once I put it in production where SSL is needed, it fails to work. Normally it works and looks like this:

``SSLProxyEngine On
ProxyPass / https://my.example.com:12333/``

The whole project runs on https://my.example.com/ . Now after the update as soon as a POST comes along the way, it redirects to https://my.example.com:1233

[2020-08-24 15:08] joschi commented on #3426
Check out the `useForwardedHeaders` setting for the HTTPS connector: https://www.dropwizard.io/en/latest/manual/configuration.html#connectors

Refs https://github.com/dropwizard/dropwizard/issues/3023

[2020-08-24 16:03] fkaddereit commented on #3426
worked, thxa lot!

[2020-08-24 16:31] effiban opened #3427 "Dropwizard 2.0 scala support"
Hi,

It appears that the [dropwizard-scala](https://github.com/datasift/dropwizard-scala) library that our company relies on, is not going to be upgraded to support 2.0.
So this means that we will not be able to use Dropwizard with Scala going forward, unless we maintain that library ourselves or create a new one.
Is there any plan from the Dropwizard team to offer native Scala support? Is Dropwiz

[2020-08-25 06:23] joschi commented on #3427
We're currently not planning to add dedicated support for Scala to the Dropwizard core modules.

[2020-08-26 05:53] edovale opened #3430 "NPE with OptionalDouble"
This happens on DW v: 2.0.9

When using a @BeanParam object with an OptionalDouble field in it. If the value is not sent in the request the following error is produced.

It seems to me that the possibility of a null value is being overseen here.

[code]

[2020-08-26 10:39] harpreet86 opened #3432 "AspectJ integration with dropwizard"
I want to use the AspectJ library in my dropwizard application.

Actually I want to execute some logic before and after some methods executions of REST resources.

Can I use AspectJ with dropwizard?
Is there any reference/documentation available?

[2020-08-26 10:43] joschi commented on #3432
I don't see a reason why it shouldn't work.

There's no how-to/tutorial for integrating AspectJ with Dropwizard that I know of.

[2020-08-27 09:21] dsvensson opened #3435 "Empty query parameter leads to collection of null"
Consider the following endpoint:
[code]

When issuing `curl http://localhost/liststuff?id=` .. that is, `id` without a value. The `Set<UUID> ids` will be a set that contains one `null` item.

I've tried adding `@NotEmpty Set<UUID>`, and `Set<@NotNull UUID>` and various permutations, without getting the endpoint to reject the request.

Is this a known limitation or am I missing something?

[2020-08-27 09:56] joschi commented on #3435
@dsvensson Thanks for reporting this!

What you describe is the default behavior of Jersey.

Example (no Dropwizard-specific classes whatsoever):
[code]

A similar issue has been filed for Jersey in https://github.com/eclipse-ee4j/jersey/issues/563, but it looks like the behavior has changed again.

Would you mind filing an issue at https://github.com/eclipse-ee4j/jersey/issues to sort this out?

[2020-08-28 06:59] #3430 closed

[2020-08-28 12:56] edovale commented on #3430
Thanks @joschi for looking into this so quickly!!

[2020-09-02 00:12] #3301 closed

[2020-09-02 11:31] vkravets opened #3440 "DW 1.3.25 fail with java.lang.NoClassDefFoundError: org/eclipse/jetty/io/ByteBufferOutputStream"
Hi after last update of 1.3 my app fail to run. After small investigation I've found the dropwizard-bom don't use jetty bom https://github.com/eclipse/jetty.project/tree/jetty-9.4.x/jetty-bom which will store all versions which is needed for jetty related artifacts

I don't have chance to look at DW 2.0, so maybe the same issue exists there

[2020-09-02 11:37] vkravets commented on #3440
[code]

After it we can define all jetty dependencies without version like
[code]

[2020-09-02 12:59] Ahmad-alsanie opened #3441 "updating dropwizard to 2.0.13 from 1.3.24 causes `package org.assertj.core.api does not exist`"
I'm updating my dropwizard project to latest version. I use `dropwizard-testing` for assertions. for example:
`assertThat(response("/get", Boolean.class)).isNotNull().isEqualTo(true);`
using assertj:
`import static org.assertj.core.api.Assertions.assertThat`
this used to work fine in `1.3.24` but causing compilation error on update.
pom.xml:
[code]

[2020-09-02 16:31] amr commented on #3291
@irineuruiz Did you try setting `@UnitOfWork(flushMode = MANUAL or COMMIT)`?

[2020-09-02 16:48] amr opened #3443 "Change between http/https using env vars?"
Most probably like everyone else, my DW configuration uses env vars substitution. This works 90% of the time but fails to work when changing a config value requires adding or removing other config properties, like in our app connectors:

I've tried the following, in hopes of supporting both `http` and `https`:
[code]

Which works for `https` when I provide the env vars above. The problem is, as so

[2020-09-02 16:49] amr commented on #3443
Possibly related: #3442

[2020-09-03 07:36] joschi commented on #3443
The problem is that you're trying to assign a configuration setting (`keyStorePath`) which doesn't exist in [`HttpConnectorFactory`](https://github.com/dropwizard/dropwizard/blob/v2.0.13/dropwizard-jetty/src/main/java/io/dropwizard/jetty/HttpConnectorFactory.java) but only in [`HttpsConnectorFactory`](https://github.com/dropwizard/dropwizard/blob/v2.0.13/dropwizard-jetty/src/main/java/io/dropwizar

[2020-09-03 07:51] joschi commented on #3441
You have to add AssertJ explicitly if you're using it in your tests, since it's only used internally for tests in `dropwizard-testing` and not exposed whatsoever.

[code]

See also #3202 and #3215.

[2020-09-03 14:46] amr commented on #3443
@joschi Exactly, that's my understanding too. Do you think there is some other way to achieve the end result? That is, be able to switch between http/https based on env vars.

Yesterday I experimented with an approach using YAML anchors. Basically:
[code]

I also annotated my `Configuration` class with `@JsonIgnoreProperties({"x-https-connector", "x-http-connector"})`.

I felt I was really close t

[2020-09-03 16:35] mattnelson commented on #3443
Use an environment variable to flex which config file is used.
[code]

Another option is to have multiple application connectors active at the same time.
[code]

[2020-09-07 08:19] aditya-manit opened #3450 "How to log logs with different log levels to different files in Dropwizard?"
So Basically what I want to do is to log logs with different logs levels like INFO DEBUG WARN etc to different log files.

I have found something similar for slf4j [here](https://dzone.com/articles/log4j-tutorial-%E2%80%93-writing) but dropwizard uses logback as logging framework.

Can anybody tell me how to do it in dropwizard with logback? What changes should I make in my conifg.yml file?

[code

[2020-09-07 14:25] Ahmad-alsanie opened #3451 "updating dropwizard to 2.0.13 causes issues with jersey abstractBinder (using <artifactId>dropwizard-bom</artifactId>)"
Getting

[code]

When I update my project to latest dropwizard. apparently there's a dependency issue here `mvn dependency:tree`:

[code]

I've tried to explicitly add `jersey-client` and `jersey-client` but that will cause:
`java.lang.NoSuchFieldError: INCLUDE_ALL` also adding jersey-bom won't work

[2020-09-07 14:55] joschi commented on #3451
Jersey 2.25.1 and Jetty 9.4.18.v20190429 are not the versions of these dependencies provided by Dropwizard 2.0.13 but look like they came from Dropwizard 1.3.x.

You're probably overriding them somewhere in your build.

* https://github.com/dropwizard/dropwizard/blob/v2.0.13/dropwizard-dependencies/pom.xml#L49
* https://github.com/dropwizard/dropwizard/blob/v2.0.13/dropwizard-dependencies/pom.xml#

[2020-09-08 07:03] Ahmad-alsanie commented on #3451
Thanks for looking into this Jochen!
I have been analyzing my dependencies list and the bom that I'm using to control different versions; The dependency tree certainly shows old versions of jetty and jersey, but in my project there's nothing that pulls any old versions of dropwizard.
according to what I have in the tree, it appears that these versions are pulled from `io.dropwizard:dropwizard-core

[2020-09-08 08:02] joschi commented on #3451
Please post your POM.

[2020-09-09 00:13] #3311 closed

[2020-09-14 19:45] maffe commented on #2931
The parameterized (and only) constructor is used as long as the path to the config file is given on the command line:
https://github.com/dropwizard/dropwizard/blob/4e467e6f4de50dab897586727627e02ef0793788/dropwizard-core/src/main/java/io/dropwizard/cli/ConfiguredCommand.java#L125-L127 Even the `@JsonProperty` is not necessary when compiled with `-parameters`. The only problem is the validation whi

[2020-09-22 07:01] pstackle commented on #3450
@aditya-manit This question would probably be better suited for the [dropwizard-user Google Group](https://groups.google.com/forum/#!forum/dropwizard-user).

I don't think the use case you are describing is supported out of the box.
That being said, I think you have two main options:
- switch to "external" logging where you basically tell Dropwizard that you are going to manage logging yourself an

[2020-09-22 07:01] #3450 closed

[2020-09-22 14:12] surfsoft opened #3461 "Spanner support - invalid properties passed through to Spanner JDBC driver"
I'm experimenting with an existing DropWizard application to see how easy it might be to configure it to use Google's Spanner database. I’m running against the Spanner emulator and when I start the application I get an error thrown by the Spanner JDBC driver as follows:

[code]

The Spanner JDBC driver doesn’t like the fact that these properties are being passed down to it and throws an exception.

[2020-09-23 16:04] ltagliamonte-dd opened #3463 "Graceful Shutdown stops Jetty server"
I'm trying to gracefully shutdown my app on TERM signal.
So far my code look like:
[code]

the `delayShutdown` method will set a boolean to false and sleep for N seconds, i'm doing this in order to make the readiness endpoint of my app fail so that Kubernetes will stop sending traffic to my container.

The code get correctly executed but I've found out that as soon the TERM signal is received Jett

[2020-09-23 21:12] joschi commented on #3461
@surfsoft Thanks for reporting this!

Spanner isn't explicitly supported by Dropwizard, but neither are PostgreSQL, MySQL, or any other specific database.
Dropwizard supports JDBC, though, and if there's a valid and working JDBC driver for Spanner, it should work with Dropwizard (or more precisely with `dropwizard-db`).

So please share some details about your application and how you're integratin

[2020-09-23 21:13] thoniTUB commented on #3407
@joschi Sorry for the delay. Here is a MWE, where
`curl -u test:test localhost:8080/auth-param` returns `Bob` and
`curl -u test:test localhost:8080/auth-member`  causes a NullpointerException

[code]

[2020-09-24 07:46] pstackle commented on #3463
Hi @ltagliamonte-dd
What you are describing is very similar to one of the features that the [dropwizard-health](https://github.com/dropwizard/dropwizard-health) library provides.

It configures a delayed shutdown handler with a shutdown wait period. Once Jetty receives the signal to shutdown, the delayed shutdown handler (which is registered as the first handler) is triggered and it immediately se

[2020-09-24 08:34] surfsoft commented on #3461
I can't drop our production code, I'll put together a small project and upload to github that reproduces the issue I'm having and post a link to it in the next day or so. My specific issue is actually working via Hibernate and the official JDBC driver with the spanner emulator

[2020-09-24 10:59] surfsoft commented on #3461
[This repository](https://github.com/surfsoft/dropwizard-spanner-demo) has a minimalist DropWizard application that depends on the official Spanner JDBC driver and associated dialect.

There's a [second branch called H2](https://github.com/surfsoft/dropwizard-spanner-demo/tree/H2), which differs only in the dependencies (H2 instead of Spanner) and hibernate configuration.

The H2 version of the ap

[2020-09-24 11:07] surfsoft commented on #3461
Throwing an exception is the expected behaviour for the Google Spanner JDBC driver - there's a discussion about that over in [the google cloud java project](https://github.com/googleapis/google-cloud-java/issues/6671)

[2020-09-24 16:09] joschi commented on #3461
Have you tried removing the offending properties from your configuration?

https://github.com/surfsoft/dropwizard-spanner-demo/blob/master/config/demo.yml#L3-L4
https://github.com/surfsoft/dropwizard-spanner-demo/blob/master/config/demo.yml#L15-L18

If you still want to override Hibernate settings, you can do so by sub-classing `SessionFactoryFactory` and passing it to `HibernateBundle`.

https://

[2020-09-24 22:43] ltagliamonte-dd commented on #3463
Thank you @pstackle !!
Will look into this!! Really appreciated.

[2020-09-25 09:18] surfsoft commented on #3461
Most of these properties can't be removed. I'll look at your alternative suggestion. Having to create a subclass of `SessionFactoryFactory` to get it working with Spanner was not something I had in mind to be honest. It's internal of DropWizard.

At this stage does this classify as a defect ("doesn't work out of the box with Spanner") or a feature request ("please support Spanner without the need

[2020-09-25 21:39] joschi commented on #3461
You can set the Hibernate-specific properties in a `hibernate.properties` file as described at [Legacy Bootstrapping](https://docs.jboss.org/hibernate/stable/orm/userguide/html_single/Hibernate_User_Guide.html#appendix-legacy-bootstrap).

It's the decision of the developers of the Spanner JDBC driver (googleapis/google-cloud-java#6671) to fail on unknown properties which makes using Spanner harder

[2020-09-26 04:50] pstackle commented on #3461
To add a bit, from a quick scan of the [JDBC spec](https://jcp.org/aboutJava/communityprocess/mrel/jsr221/index3.html), it refers to a set of "Standard Data Source Properties" (section 9.6.1) which includes `user` and `password`. It goes on to say:

I interpret that as meaning that the Spanner JDBC driver should at least support `user` and `password` properties being set.

[2020-09-26 05:41] chidog12 commented on #3451
@Ahmad-alsanie any follow up on your solution? I'm having similar issues.

[2020-09-26 06:26] pstackle commented on #3443
@amr You could use a custom `ConfigurationSourceProvider` that can pre-process the config.yml file before Dropwizard parses it.

For example, I see the  [dropwizard-template-config](https://github.com/tkrille/dropwizard-template-config) project looks like it would support what you are trying to do.

[2020-09-26 06:44] pstackle commented on #3440
The `jetty-bom` is used in the `dropwizard-dependencies` module which, starting in Dropwizard v2, takes over management of third party libraries from the `dropwizard-bom`

[2020-09-26 06:44] #3440 closed

[2020-09-26 11:22] joschi commented on #3451
@chidog12 Check the output of `mvn help:effective-pom` and remove the dependencies pulling in the wrong versions.

[2020-09-27 21:24] amr commented on #3443
@pstackle That's very useful and I think could make that work indeed. Thanks for sharing that idea!

[2020-09-28 09:06] matthias-mueller opened #3466 "Remove deprecated "optimize" compiler flag"
I just got distracted by a compiler flag in the parent pom, so I thought I'd file an issue here.

"optimize" is a deprecated compiler flag - [see here](https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#optimize).

... but it is still used in the parent POM:
* https://github.com/dropwizard/dropwizard/blob/master/dropwizard-parent/pom.xml#L25
* https://github.com/dropwizard/dr

[2020-09-28 12:49] Ahmad-alsanie commented on #3451
@joschi I believe the issue exists when using:
[code]
unfortunately I cannot share effective pom due to some internal dependencies but I've analyzed it all. and the old versions of jetty and jersey are certainly coming from `dropwizard-**` dependencies when using:
[code]
I've updated my project not to use the bom to control the versions rather statically defined each of `dropwizard-core`, `dropwiz

[2020-09-28 12:54] joschi commented on #3451
@Ahmad-alsanie Please read the upgrade notes for Dropwizard 2.0.x:
https://www.dropwizard.io/en/release-2.0.x/manual/upgrade-notes/upgrade-notes-2_0_x.html#dropwizard-bill-of-materials-bom

[2020-09-28 13:04] Ahmad-alsanie commented on #3451
alright, that makes sense. let me check if I can use dependencies instead. Thank you very much!

[2020-09-28 15:04] Ahmad-alsanie commented on #3451
using:
[code]
solved the issue. Thanks!

[2020-09-29 00:14] #3124 closed

[2020-09-29 20:36] dialaya opened #3468 "Add badge for reproducible build"
Add a new badge for [Reproducible Central project](https://github.com/jvm-repo-rebuild/reproducible-central) to follow the status.

As dropwizard-core 2.0.10 has been verified as reproducible and versions 2.0.11 and 2.0.12 are going to be added in the [Pull Request #37 of jvm-repo-rebuild/reproducible-central](https://github.com/jvm-repo-rebuild/reproducible-central/pull/37)

[2020-09-30 11:02] feliksik commented on #3221
@joschi I have the same issue, so I suggest to reopen this bug.

A minimal reproducible example is in https://github.com/feliksik/bug-reports/tree/master/dropwizard-testing-npe . The README shows the trace and the dependencies; you can run `mvn test` to reproduce it.

[2020-09-30 11:05] feliksik commented on #3221
I have also just found the solution:

I did

[code]

It is fixed by replacing it with
[code]

🥳

So this can remain closed, and stay here for reference.

[2020-09-30 12:24] joschi commented on #3466
@matthias-mueller Would you be able to create a pull request for the removal of this maven-compiler-plugin setting? 😃

[2020-09-30 16:42] Tylerremmie opened #3470 "Dropwizard JDBI3 Database Timezone"
Hello!
I recently began upgrading my java project to use JDBI3 with Dropwizard and I ran across an issue that hopefully I can get cleared up. In the previous version of Dropwizard jdbi, I was able to override the database timezone when creating a new DBIFactory like this:

`    DBIFactory createDBIFactory()
    {
        return new DBIFactory() {
            @Override
            protected Optiona

[2020-09-30 18:53] #3466 closed

[2020-10-01 14:59] joschi commented on #3338
@mikeholler Thanks for this question and sorry that it took us so long to come back to you.

Dropwizard 1.3.x will be supported until December 31, 2020.

Please see https://groups.google.com/g/dropwizard-user/c/6gpDMuSb4_Y/m/poqbA4T9BQAJ for the official announcement on the dropwizard-user mailing list.

[2020-10-02 11:35] joschi commented on #3470
Using/overriding the time zone for `java.time` (JSR 310) is not supported in Jdbi 3.x.

* https://github.com/jdbi/jdbi/issues/1539
* https://github.com/jdbi/jdbi/issues/1271
* https://github.com/jdbi/jdbi/issues/988

You can keep using JDBI 2.x (via https://github.com/dropwizard/dropwizard-jdbi/) but there won't be any updates for it because the support for JDBI 2.x ended.

The probably equally un

[2020-10-02 18:48] Tylerremmie commented on #3470
Alright, I appreciate your input. I would prefer to move ahead with the JDBI3 upgrade since JDBI2 is no longer supported, and I guess I will just run the application in UTC.

[2020-10-04 08:09] cleiner opened #3481 "logFormat configuration inconveniences"
There are two non-obvious limitations in the appender configuration:

1) When using the **layout** option to set a custom `LayoutFactory`, the **logFormat** is always ignored. I think it would be more consistent to apply the **logFormat** to all layouts that derive from `PatternLayoutBase` and otherwise emit a warning if both options are set. That is, changing `AbstractAppenderFactory.buildLayout(

[2020-10-09 01:06] alishahusain commented on #3481
I'm a first-time contributor to this repository and would like to take on this issue. For #2, should I use a hardcoded String replace or use a specific library? Thanks!

[2020-10-09 17:12] Kearny commented on #2878
I'm having this issue with IT test on dropwizard 2.0.X

[2020-10-12 16:14] nheitz opened #3501 "DropwizardSupport with customised jackson support"
I've stumbled across a problem that is extremely difficult to reproduce in simple code.

Quite simply, if a dropwizard server is bootstrapped for a unit test via DropwizardSupport, no matter what modules are registered in client or server code, java.time.Instant is not serialized properly.  Instead of printing either epoch time, or ISO date format, jackson/jersey are serializing   like this:
[code

[2020-10-12 17:00] joschi commented on #3501
Do you mean [`DropwizardTestSupport`](https://github.com/dropwizard/dropwizard/blob/v2.0.13/dropwizard-testing/src/main/java/io/dropwizard/testing/DropwizardTestSupport.java)?

[2020-10-13 07:54] nheitz commented on #3501
Apologies....I do indeed mean DropwizardTestSupport.

Further attempts to investigate suggest that jackson, while still doing the serialisation, no longer finds registered modules, and so falls back to the least common denominator.

[2020-10-13 08:06] joschi commented on #3501
@nheitz Could you please elaborate on what you're doing exactly? Maybe share your test code.

[2020-10-14 11:24] RoPrince commented on #2878
Getting socker timeout exception with dropwizard for integration tests

[2020-10-14 21:12] CrazyBolillo commented on #1626
@kibertoad
Im a complete noob at this. Based on the documentation you provided I understand that you need to manually bind the classes you would like to inject by adding them to the array returned from
```public List<Class<?>> get Singletons()```?

If anyone is interested I have more or less figured how to use hk2 with ```@Service``` and ```@Contract``` annotations. I don't know how common or valu

[2020-10-16 09:40] nheitz commented on #3501
I'm going to have to close this.  I can't reproduce on a a simpler application setup, so I must deduce that it is some kind of dependency collision.

[2020-10-16 09:40] #3501 closed

[2020-10-16 17:36] maffe opened #3506 "Make JDBC driverClass optional"
Instead of requiring the `driverClass` property in the configuration, driver classes listed in `META-INF/services/java.sql.Driver` should be [checked for support](https://docs.oracle.com/en/java/javase/15/docs/api/java.sql/java/sql/Driver.html#acceptsURL(java.lang.String)) of the given JDBC URL.

https://github.com/dropwizard/dropwizard/blob/e3b71b15ab17ae56c37eaccfb56437c95d8eff20/dropwizard-db/s

[2020-10-17 18:07] zygimantus commented on #3221
@feliksik , I also had this issue your solution helped me also, thank you.

[2020-10-17 23:23] ankurlucknowi commented on #2878
It times out because in the DropwizardAppRule class connectTimeout is hardcoded to 1000 (1s).
protected JerseyClientBuilder clientBuilder() {
        return (new JerseyClientBuilder()).register(new JacksonBinder(this.getObjectMapper())).property("jersey.config.client.connectTimeout", 1000).property("jersey.config.client.readTimeout", 5000).property("jersey.config.client.httpUrlConnection.setMethod

[2020-10-19 10:38] matthiasblaesing commented on #3192
The issue is not stale, review is still pending.

[2020-10-19 23:03] darewreck54 opened #3511 "gRPC Support?"
HI,

I was wondering if it's possible to support Grpc as well.  I wanted to have a service that does REST and as well as GRPC.

Thanks,
Derek

[2020-10-20 04:45] sagarkal opened #3512 "Request to update versions of hibernate-core & org.apache.httpcomponents:httpclient for Dropwizard v1.3.25"
Hi,

In order to absorb fixes for CVE-2019-14900 and CVE-2020-13956, could you please upgrade the versions of below dependencies for Dropwizard version 1.3.25 and release a patch?

- hibernate.core to 5.3.18/5.4.18

- org.apache.httpcomponents.httpclient to 4.5.13

My organization is still on Dropwizard version 1.3.25 and is not ready yet for a major version upgrade to Dropwizard version 2.0.13 th

[2020-10-20 05:48] arpit-pp opened #3514 "NPE in AnnotationSensitivePropertyNamingStrategy.nameForField"
Guava's RangeHelper calls AnnotationSensitivePropertyNamingStrategy.nameForField with null value of AnnotatedField which is causing NPE.
Should dropwizard have null check before accessing AnnotatedField's methods?

https://github.com/FasterXML/jackson-datatypes-collections/issues/79

[2020-10-20 05:51] RoPrince commented on #2878
@ankurlucknowi Adding explicit time outs helped!

[2020-10-20 06:09] #3192 closed

[2020-10-20 06:28] joschi commented on #3514
@arpit-pp Thanks for reporting this!

[2020-10-20 06:35] joschi commented on #3511
There are some 3rd party projects adding gRPC support to Dropwizard:
* https://github.com/msteinhoff/dropwizard-grpc
* https://github.com/tburch/dropwizard-grpc

And the awesome [Armeria](https://armeria.dev/) also supports Dropwizard 1.3.x and 2.x:
https://armeria.dev/docs/advanced-dropwizard-integration

[2020-10-20 06:50] joschi commented on #3512
@sagarkal Thanks for reporting this!

We can do a version bump for Apache HttpClient in the Dropwizard 1.3.x version line to address CVE-2020-13956.

However, we won't do an upgrade to Hibernate 5.3.x or 5.4.x in Dropwizard 1.3.x and we're already on the latest Hibernate 5.2.x release (5.2.18), so if you want to get a resolution for CVE-2019-14900, you either have to upgrade to Dropwizard 2.0.x or

[2020-10-20 08:45] #3514 closed

[2020-10-20 16:21] sagarkal commented on #3512
Hi Josh,

Thanks. I'll discuss about migrating to Dropwizard 2.0.x in that case. Do you plan to do a version bump for Apache HttpClient in Dropwizard 2.0.x as well?

[2020-10-21 06:22] #3506 closed

[2020-10-22 13:04] joschi commented on #3512
Yes, the next release of Dropwizard 2.0.x will contain the latest version of Apache HttpClient 4.5.x.

Closing this ticket since the update has been addressed in #3516.

[2020-10-22 13:04] #3512 closed

[2020-10-22 22:10] sagarkal commented on #3512
Ok thanks, any estimate date on the next release of Dropwizard 2.0.x?

[2020-10-23 03:11] darewreck54 commented on #3511
@joschi I took a look at Ameria and it's not clear to me what it is.  Is it a Dropwizard server replacement?

[2020-10-23 03:40] pstackle commented on #3512
@sagarkal [v2.0.14](https://github.com/dropwizard/dropwizard/releases/tag/v2.0.14) was released earlier this morning, which includes the update to Apache HttpClient

[2020-10-23 06:10] pstackle commented on #3511
@darewreck54 I don't have any experience with Armeria, but based on what I can tell, it replaces the use of Jetty by introducing a new `server` `type` (other than `default` or `simple`). It appears from the config options that it can optionally support Jersey.

The two dropwizard-grpc options have the grpc server run alongside the Jetty server, so grpc would be served on a separate port.

The Amer

[2020-10-24 15:26] darewreck54 commented on #3511
@pstackle Thanks for pointing that out.

Let's say I Don't go with Armeria and want to just take a proto, generate the Proto Java Types.  In this case, is it possible to use those types as interfaces for the resources.  However, if you go with this approach you need to tell dropwizard to serialize with google proto json (https://developers.google.com/protocol-buffers/docs/reference/csharp/class/go

[2020-10-26 14:28] josephlbarnett opened #3526 "NonBlockingServletHolder still necessary?"
Noticed that latest jetty release (9.4.33) was not binary compatible with latest dropwizard release (2.0.14) and filed an issue with jetty to let them know they've broken binary (but not source) compatibility.  They are not going to revert back, but did question if NonBlockingServletHolder is still necessary, more details here:

https://github.com/eclipse/jetty.project/issues/5496#issuecomment-716

[2020-10-26 22:05] peetzen opened #3528 "OutOfMemoryError with v2.0.14 when processing configuration files"
After upgrading from Dropwizard `v2.0.13` to `v2.0.14` the application no longer starts. Instead a `java.lang.OutOfMemoryError` occurs.

The root cause seems to be a method within my configuration file that returns an `ObjectMapper`. Looking into `ConfigurationMetadata:117` it is obvious that the `currentPrefix` grows beyond the actual configuration, eg. `currentPrefix = services.fancy-service.map

[2020-10-28 11:46] #3526 closed

[2020-10-28 14:23] enda-odonohoe opened #3531 "Dropwizard SonarQube properties inherited"
We are using

<parent>
  <groupId>io.dropwizard</groupId>
  <artifactId>dropwizard-dependencies</artifactId>
  <version>2.0.14</version>
</parent>

as specified here: https://www.dropwizard.io/en/latest/manual/upgrade-notes/upgrade-notes-2_0_x.html

The recent changes for https://github.com/dropwizard/dropwizard/pull/3493 have broken our SonarQube Jenkins pipeline the properties specified for sona

[2020-10-28 18:13] shahr opened #3532 "Dropwizard reporting incorrectly enabled HTTPS protocols"
The deafult Dropwizard behaviour seems to enable TLSv1.1 (despite the documentation stating that TLSv1.1 is in the excludedProtocols by default). It does also not match what is bieng logged by Dropwizard.

Steps to reproduce (using Dropwizard v.2.0.13):
1. Create a simple Dropwizard application. Add HTTPs configuration (do not set any values for supportedProtocols and excludedProtocols)
2. Start u

[2020-10-28 19:57] enda-odonohoe commented on #3531
FYI: My workaround was to specify the following properties:

		<sonar.projectKey>xxx</sonar.projectKey>
		<sonar.organization>default-organization</sonar.organization>
		<sonar.host.url>https://xxx/sonarqube</sonar.host.url>
		<sonar.moduleKey>${project.groupId}:${project.artifactId}</sonar.moduleKey>

[2020-10-28 21:13] joschi commented on #3511
@darewreck54 I'm not sure what you're trying to accomplish.

Do you want to use gRPC together with Dropwizard? Then go with the suggestions in my previous comment: https://github.com/dropwizard/dropwizard/issues/3511#issuecomment-712627864.

Do you want to use Protobuf-generated classes seamlessly in JAX-RS resources? That's something else and has nothing to do with gRPC.

You could write custom J

[2020-10-28 21:38] joschi commented on #3532
@shahr Thank you very much for reporting this!

That's an interesting find. We do indeed add TLSv1.1 to the list of excluded protocols:
https://github.com/dropwizard/dropwizard/blob/v2.0.14/dropwizard-jetty/src/main/java/io/dropwizard/jetty/HttpsConnectorFactory.java#L289-L290

This list of excluded protocols is then set on the `SslContextFactory` when it's being created:
https://github.com/dropwi

[2020-10-28 21:50] shahr commented on #3532
Yes, thank you for verifying - I was surprised by this because a cursory look at the code seemed like everything was configured correctly. For context, I was creating a verification that ensured servers were only using TLSv1.2 and when testing this I oddly discovered that the 1.1 protocol was still enabled.

I'm a bit time bound at the moment, but will try take a look into this a bit deeper to try

[2020-10-28 22:00] shahr commented on #3532
As a side note - is it worth changing the logging to use `SslEngine#getEnabledProtocols()` (including cipher suites) to represent the  real SSLEngine configuration?

[2020-10-28 22:22] joschi commented on #3532
This seems to be rooted in an inconsistency between `SslContextFactory#dump()` and which protocols are really selected in the built `SSLContext` and `SSLEngine` instances.

I've filed a bug report with the Jetty project for this:
https://github.com/eclipse/jetty.project/issues/5531

[2020-10-28 22:28] shahr commented on #3532
This explains why it seemed to be behaving correctly when I explicitly set the excludedProtocol list without using the regexp.

Thank you.

[2020-10-28 22:55] joschi commented on #3531
@enda-odonohoe Thanks for reporting this!

Suggesting to use `dropwizard-dependencies` as a Parent POM probably wasn't one of my smartest ideas. 😅

I'll see if we can move the SonarQube properties further down the module hierarchy so that they won't be inherited when using `dropwizard-dependencies` as Parent POM.

[2020-10-29 01:02] enda-odonohoe commented on #3531
It simplified the project files quite a bit using it as a parent pom.  We use some jetty libs that for websockets that we had to bump the rev every time we changed the dropwizard version, now it keeps in sync.

[2020-10-29 07:30] joschi commented on #3301
@javahas Better late than never.

This has been addressed in Metrics 4.1.14 (https://github.com/dropwizard/metrics/pull/1685) which is included in Dropwizard 2.0.14:
https://github.com/dropwizard/dropwizard/releases/tag/v2.0.14

[2020-10-29 09:11] #3532 closed

[2020-10-29 09:32] joschi commented on #3531
@enda-odonohoe Would you please check if the linked PR would reasonably solve your issue with the SonarQube properties?

Unfortunately I didn't find a way to remove `sonar.moduleKey` from the actual POM file.

[2020-10-29 13:13] enda-odonohoe commented on #3531
@joschi I looked at the effective pom with that branch and everything looks good.  Thanks!

[2020-10-29 13:34] #3531 closed

[2020-10-29 22:58] joschi commented on #3528
@peetzen Thanks for reporting this!

We will fix this bug in Dropwizard 2.0.15.

[2020-10-30 07:10] #3528 closed

[2020-10-30 08:00] peetzen commented on #3528
@joschi Great support! Thanks for fixing it immediately!

[2020-10-30 08:14] joschi commented on #3528
@peetzen You're welcome!

You might also want to add `@JsonIgnore` to the getters or fields in your configuration classes which _should not_ serve as actual configuration settings, such as the getter for `ObjectMapper`.

[2020-10-30 19:24] peetzen commented on #3528
Thanks for the hint. I actually added `@JsonIgnore` annotation in the meantime. I can confirm it is working.

[2020-11-02 08:53] #3481 closed

[2020-11-02 21:36] smalleyd opened #3542 "DualSessionFactory: feature request enhancement to the dropwizard-hibernate module"
We've built an extension to the dropwizard-hiberbate module that manages both a writer SessionFactory and a reader SessionFactory within a single DualSessionFactory object. The DualSessionFactory piggybacks off the UnitOfWork annotation to determine which SessionFactory is used for each RESTful call. When "readOnly=true" is specified for a call, the reader SessionFactory will be substituted in pla

[2020-11-03 07:31] hjizettle opened #3546 "Jetty 9.4.32 vulnerability"
Would it be possible to bump jetty to 9.4.33? The current version suffers from [CVE-2020-27216](https://nvd.nist.gov/vuln/detail/CVE-2020-27216) and our build blocks releasing since we check for vulnerabilities.

[2020-11-03 07:33] joschi commented on #3546
This has been addressed in #3522, pending a release of Dropwizard 2.0.15.

[2020-11-03 07:33] #3546 closed

[2020-11-03 07:36] hjizettle commented on #3546
Excellent thx!

[2020-11-03 09:12] christopher-cudennec opened #3547 "Release of 2.x because of Jetty CVE-2020-27216"
Hi Dropwizard team!

We'd like to update Jetty to 9.4.33 due to the aforementioned vulnerability. Could you also please make a release of the current master branch?

The issue was fixed in #3546.

Thanks!

Christopher

[2020-11-03 12:41] joschi commented on #3547
Duplicate of #3546

[2020-11-03 12:41] #3547 closed

[2020-11-03 13:18] simonwatsonkainos opened #3548 "Vulnerability issues with dependencies in dropwizard-core 1.3.27"
After running the OWASP Dependency checker against the dropwizard-core dependency, two vulnerabilities are raised against dependencies which are brought in:

[ERROR] One or more dependencies were identified with vulnerabilities:
[ERROR]
[ERROR] log4j-over-slf4j-1.7.30.jar: CVE-2020-9488
[ERROR] snakeyaml-1.14.jar: CVE-2017-18640

log4j-over-slf4j-1.7.30.jar is included as a dependency of dropwizar

[2020-11-03 14:41] joschi commented on #3548
@simonwatsonkainos Thanks for reporting this!

We've been using the OWASP Dependency Checker before but disabled it because it produced a lot of false positives.
The output you've posted is a great example for that.

The CVE refers to Apache Log4j 2.x but this dependency (`log4j-over-slf4j`) is a component of SLF4J which to mimic the Log4J 1.x API (http://www.slf4j.org/legacy.html#log4j-over-slf4j

[2020-11-03 16:59] jaredculp opened #3549 "DropwizardExtensionSupport multiple extensions cannot be ordered"
I'd like to be able to set up a stub DropwizardClientExtension to mock an upstream service that my dropwizard app is dependent on. This was possible in junit4 but does not appear possible in junit5.

[code]

This fails with a NPE:
[code]

In junit4 we could use a rule chain in order to specify the order of these dependencies; however adding `@Order` to these two fields does not appear to work.

[2020-11-03 17:11] jaredculp commented on #3549
I am able to work around it with these two classes:

[code]

[code]

and changing the snippet above to no longer use `@ExtendWith(DropwizardExtensionSupport.class)` and instead:
[code]

Is there a reason that the dropwizard extensions don't implement the junit5 interfaces directly like this?

[2020-11-04 17:39] leonwind opened #3550 "Retry to connect to database"
If I run the following code to retry to connect to my database the exception never gets caught since the run method catches the exception already by itself.

[code]

Is there any workaround for this without editing the code of the run method so I can catch the exception by myself?

Thanks,
Leon

[2020-11-04 17:39] leonwind opened #3551 "Retry to connect to database"
If I run the following code to retry to connect to my database the exception never gets caught since the run method catches the exception already by itself.

[code]

Is there any workaround for this without editing the code of the run method so I can catch the exception by myself?

Thanks,
Leon

[2020-11-04 17:39] #3551 closed

[2020-11-04 19:03] joschi commented on #3550
What exactly are you trying to achieve with your try-catch block?

[2020-11-04 23:05] leonwind commented on #3550
I am trying to wait until my database is ready. Currently there is just a SQLException which gets thrown and then the application is terminating and I want that it keeps trying until the database is ready

[2020-11-05 08:36] beena-yatin-kanyal opened #3553 "log4j-over-slf4j vulnerability"
The Dropwizard `1.3.27` version has a `log4j-over-slf4j-1.7.30.jar` vulnerability under the `CVE-2020-9488`. Is there any plan to mitigate this issue? Please suggest.

**Note** - `log4j-over-slf4j-1.7.30.jar` is coming from following library - `io.dropwizard:dropwizard-core:jar:1.3.27`

[2020-11-05 08:54] joschi commented on #3553
It's a false positive. See #3548.

[2020-11-05 08:54] #3553 closed

[2020-11-05 12:47] beena-yatin-kanyal opened #3554 "NoClassDefFoundError: javax/servlet/http/HttpSessionIdListener"
We are using the `dropwizard-core` jar version 1.3.27 and getting the `NoClassDefFoundError` while running one of our services. Can you please take a look and suggest?
[code]

[2020-11-05 13:43] joschi commented on #3554
Please share the POM file(s) of your project and the output of `mvn dependency:tree`.

[2020-11-05 15:07] beena-yatin-kanyal commented on #3554
Thank @joschi. Does this mean that there will be no further developments in the Dropwizard 1.x series? Also, I was able to resolve the above issues by adding an exclusion for the `javax.servlet-api` jar inside the dependency - `jersey-test-framework-provider-grizzly2`

[code]

[2020-11-05 15:12] beena-yatin-kanyal commented on #3554
@joschi - Please comment on this - _Does this mean that there will be no further developments in the Dropwizard 1.X series?_

And you may close the issue as we are not encountering it anymore and our service is running fine now. Thanks and advance.

[2020-11-05 15:46] joschi commented on #3554
Yes, as stated in https://groups.google.com/g/dropwizard-user/c/6gpDMuSb4_Y.

[2020-11-06 00:10] #3384 closed

[2020-11-06 14:01] lootic opened #3557 "External logging seems broken in dropwizard 2.0.15"
Modifying the dropwizard-core dependency to disable logback seems to be broken in the latest release(following guide in doc here https://www.dropwizard.io/en/latest/manual/core.html):
[code]

[code]

[code]

The following stack trace gets produced on boot:
[code]

It seems related to the new way to read configurations using ConfigurationMetadata added in this commit:
https://github.com/dropwizard/

[2020-11-07 21:28] joschi commented on #3550
@leonwind Could you share a more details about your application so that we can weigh in what approach to take?

[2020-11-08 22:11] leonwind commented on #3550
I am running my dropwizard service and my database in two docker containers. The problem is that the service finishes building before the database and then crashes since it is not able to connect with it. I can add the attribute "depends_on" in my dockerfile but this only ensures that the service starts after the database. But if the database needs to set up the schema it still is not finished bef

[2020-11-10 12:59] silvpol commented on #3130
This turned out to be an internal issue with integration.

[2020-11-10 20:26] joschi commented on #3550
@leonwind I'm unable to reproduce your issue with this simple Dropwizard project:
https://github.com/joschi/dropwizard-issue-3550

Even if there is no database available, it only throws an exception when trying to obtain the `Connection` but keeps working otherwise.

[2020-11-11 22:32] bhamail opened #3563 "Corruption in git history causes failure during checkout with newest git client versions"
While working on the [Reproducible Central](https://github.com/jvm-repo-rebuild/reproducible-central) project, I discovered an problem when checking out the dropwizard repository. Using new versions of git (2.28.0, 2.29.2), the `git clone` command will fail due to corruption in the history of the repository.

The corrupted commit is hash: 6fbf9def0293986beb2547a671f46148a5d2faf7

The clone fails l

[2020-11-12 07:03] joschi commented on #3563
Refs #1995
Refs #1996

[2020-11-12 07:09] joschi commented on #3563
@bhamail Thanks for reporting this!

Unfortunately it's impossible to fix the corrupted commits without rewriting the history of the complete repository and thus invalidating any tag or verification which happened after these corrupt commits.

The only way to work around this is, as you have pointed out in https://github.com/jvm-repo-rebuild/reproducible-central/pull/39, to skip the invalid commit

[2020-11-13 09:45] #3468 closed

[2020-11-23 06:30] iamabs2001 commented on #3550
@leonwind you can created your own exception as per your requirement or follow asyn

[2020-11-25 00:12] #3408 closed

[2020-11-26 12:47] #3557 closed

[2020-11-27 11:47] lukaszun opened #3581 "jackson-databind 2.10.5 - vulnerabilities"
Currently a dropwizard - 2.0.16 uses old jackson-databind 2.10.5 that has proven vulnerabilities: https://nvd.nist.gov/vuln/detail/CVE-2020-8840

Please update to the current version.

[2020-11-27 12:09] joschi commented on #3581
@lukaszun The CVE you've linked to is for jackson-databind =2.0.0, <=2.9.10.2.

[2020-11-27 12:11] joschi commented on #3581
https://github.com/FasterXML/jackson-databind/issues/2620

[2020-11-27 12:11] #3581 closed

[2020-11-27 13:33] lukaszun commented on #3581
I've linked the wrong CVE - I've a description where the problem is stated: https://github.com/FasterXML/jackson-databind/issues/2589. Does dropwizard use this part of databind?

[2020-11-27 13:40] joschi commented on #3581
@lukaszun Dropwizard is not using Jackson's XML/DOM support.

If you're using it in your application, you can apply the feature toggles mentioned in https://github.com/FasterXML/jackson-databind/issues/2589#issuecomment-572809340.

[2020-11-27 13:41] lukaszun commented on #3581
Thanks!

[2020-12-01 10:18] lootic commented on #3557
Thank you! :)

[2020-12-03 00:13] #3421 closed

[2020-12-08 11:42] msymons opened #3594 "Jetty 9.4.33 Vulnerability CVE-2020-27218"
Update jetty version 9.x to 9.4.34.v20201102 or later in order to address CVE-2020-27218

This does not affect Dropwizard 2.x (which is already using Jetty 9.4.35.v20201120 in 2.0.16), but it does affect the Dropwizard 1.3.x branch.

The necessary change has already been made via commit d3284beec72876a3edc7901dcf144f0b45bc8d47.

So, any chance of a release?

[2020-12-08 15:13] joschi commented on #3594
Thanks for bringing this up!

There you are: https://github.com/dropwizard/dropwizard/releases/tag/v1.3.28

[2020-12-08 15:13] #3594 closed

[2020-12-10 08:26] druidexpo commented on #932
This did not work for me with Dropwizard 1.3.23.

In order to get it working with this version I added following to my pom.xml:

`
<properties>
    <jackson-datatype-hibernate5.version>2.9.10</jackson-datatype-hibernate5.version>
</properties>
...
<dependencies>
        <dependency>
            <groupId>com.fasterxml.jackson.datatype</groupId>
            <artifactId>jackson-datatype-hibernate5</a

[2020-12-14 10:41] BenRomberg opened #3604 "Jackson vulnerability CVE-2020-25649"
See https://nvd.nist.gov/vuln/detail/CVE-2020-25649

Could you please update the Jackson Dependency to 2.11.x and publish a release for Dropwizard 2.0.x?

Thanks for your work! Let me know if I can help with a PR. Although I see it has already been updated on `dropwizard-dependencies` to `<jackson.version>2.11.3</jackson.version>` on `master`.

[2020-12-14 11:28] joschi commented on #3604
This has been resolved in #3587 and will be part of Dropwizard 2.0.17.

In the meantime, you can override the version of `jackson-bom` or `jackson-databind` in your projects.

[2020-12-14 11:28] #3604 closed

[2020-12-15 09:34] BenRomberg commented on #3604
Thanks a lot for releasing Dropwizard 2.0.17 so quickly :+1:

[2020-12-21 01:13] adriansuarez commented on #2476
I suspect the original poster is doing something similar to the instructions in [this page](https://www.dropwizard.io/en/latest/manual/core.html#logging) in the _Note_ section that begins with _If you don’t want to use Logback ..._

I am seeing a more benign version of the same issue on 2.0.16, which I can reproduce by simply following the instructions in that _Note_ section. The only symptom is t

[2020-12-21 02:35] rvsasseen commented on #2476
I can confirm that I was trying to follow the "If you don’t want to use Logback" instructions.

[2020-12-21 17:32] sidhant92 commented on #2540
@reubenfirmin Did you find any solution to this? I am facing the same

[2020-12-21 21:07] joschi commented on #2540
@sidhant92 Which version of Dropwizard and which JVM (exact version, operating system, and machine architecture) are you using?

[2020-12-22 06:18] sidhant92 commented on #2540
DW - 2.0.17
OS - Mac Catalina
JDK - java version "1.8.0_191"

[2020-12-22 09:01] joschi commented on #2540
@sidhant92 Could you please provide a minimal example to reproduce the issue?

[2020-12-23 21:31] adriansuarez opened #3615 "Dropwizard emits an error message whenever external logging is configured and Logback is excluded"
This can be reproduced on 2.0.16 by simply following the instructions in the [documentation](https://www.dropwizard.io/en/latest/manual/core.html#logging) in the _Note_ section beginning with _If you don’t want to use Logback ..._ The only symptom is that the following message is printed to standard error, but the server still starts up:

[code]

This occurs while Hibernate is validating the deser

[2020-12-25 21:01] rohitcelestial commented on #1785
@dotCipher How did you resolve this?

[2020-12-27 19:31] muRn opened #3622 "@QueryParam and OptionalInt are not working as documented"
Hi!

In [this](https://www.dropwizard.io/en/latest/manual/core.html#parameters) part of core documentation I found the following:

A `@QueryParam("count")`-annotated `OptionalInt` parameter takes the first `count` value from the request’s query string and passes it as a `String` to `OptionalInt`’s constructor. `OptionalInt` parses the string as an `Integer`, returning a `400 Bad Request` if the va

[2020-12-30 00:24] #3291 closed

[2020-12-30 06:55] subash89 commented on #2419
I'am using dropwizar 2.0.14 can want to use MDC in request log. The above suggestion does not work in 2.x. The logback-access-with-context defined in server.requestLog.type not get picked up.

io.dropwizard.configuration.ConfigurationParsingException: src/main/resources/config.yml has an error:
  * Failed to parse configuration at: server.requestLog; Cannot deserialize instance of `java.lang.Strin

[2020-12-30 08:36] vkravets opened #3629 "Jackson 2.9 -> 2.10 at Dropwizard 1.3.x"
Will Jackson update to 2.10 for DW 1.3.x? Since jackson 2.9 branch will be closed at the end of December

[2020-12-30 16:58] joschi commented on #3629
@vkravets No, Dropwizard 1.3.x won't be updated to Jackson 2.10.x or any newer version because of potentially backward-incompatible changes.

Instead, the Dropwizard 1.3.x version line won't be maintained anymore.

See also:
https://groups.google.com/g/dropwizard-user/c/6gpDMuSb4_Y

[2020-12-31 08:39] vkravets commented on #3629
Ahh, I see. In this case will DW 1.3.x include last version jackson 2.9.10.8? It should be released as I understood today...
It will be last version before end of support 2.9 branch

[2020-12-31 10:49] joschi commented on #3629
Yes, definitely. We will upgrade to the latest release of Jackson 2.9.x once it has been released.

[2020-12-31 12:07] vkravets commented on #3629
Great, thanks. Close in this case this issue.

Happy New Year! 🎉 🍾

[2021-01-04 17:05] dotCipher commented on #1785
Apologies but this issue is a bit old. I honestly don't recall what I did here for resolving it

[2021-01-04 17:06] joschi commented on #1785
@rohitcelestial Maybe you could open a new issue and provide a minimal example to reproduce the issue?

[2021-01-06 13:07] msymons opened #3641 "Update jackson.version to 2.9.10.20210106 in DW 1.3.x to address CVE"
Dropwizard 1.3.28 uses jackson.version 2.9.10.20201202

Update to 2.9.10.20210106.  This will result in usage of jackson-databind 2.9.10.8 and thus address 11 vulnerabilities, of which 3 currently have CVE (and all are high-severity):
* [CVE-2020-35490](https://nvd.nist.gov/vuln/detail/CVE-2020-35490)
* [CVE-2020-35491](https://nvd.nist.gov/vuln/detail/CVE-2020-35491)
* [CVE-2020-35728](https://nv

[2021-01-06 13:44] joschi commented on #3641
Addressed in 4b558f34cf1eba1a89a4f23e885bcbb1ad8947a2 (https://github.com/joschi/dropwizard-1.3/pull/75).

[2021-01-06 13:44] #3641 closed

[2021-01-09 23:29] #3615 closed

[2021-01-11 21:29] #3549 closed

[2021-01-13 03:23] muliyul opened #3650 "Bind a resource programatically"
Trying to bind a programatically created resource results in this error

[code]

Is it possible to register a resource programatically?

[2021-01-13 12:45] mschechter-bellese opened #3652 "Make implementation-specific Jackson dependencies optional"
My team is using:
- Java 11
- Dropwizard 2.0.17
- Jackson 2.12.0

The class `io.dropwizard.jackson.Jackson` has hardcoded dependencies on multiple datatype implementations, including Jackson Afterburner. The Afterburner implementation now [has a replacement](https://cowtowncoder.medium.com/jackson-2-12-features-eee9456fec75) ([Blackbird](https://github.com/FasterXML/jackson-modules-base/tree/maste

[2021-01-13 23:51] suvodeep-pyne commented on #2878
You can also use the `JerseyClientConfiguration` object directly to set the timeout.

[code]

[2021-01-14 18:01] namannigam opened #3654 "java.lang.module.ResolutionException while executing basic application with Java-15"
I had started with [setting up using maven](https://www.dropwizard.io/en/latest/getting-started.html#setting-up-using-maven). Things work fine with Java-8 and additionally even on moving to Java-15 as a non-modular application. Further, I have added a `module-info.java` to modularise this application I am working upon with the following code:

[code]

Using IntelliJ, when I am trying to run the ap

[2021-01-14 18:01] namannigam commented on #3654
I could further notice, the module `com.codahale.metrics.health` is the explicit module name defiinied for  `<groupId>io.dropwizard.metrics</groupId <artifactId>metrics-healthchecks</artifactId>`. So, eventually these look like internal dependency conflicts only, is that understanding correct?

[2021-01-14 21:19] joschi commented on #3654
Dropwizard is currently not fully compatible with JPMS.

https://github.com/dropwizard/dropwizard/pull/3233
https://github.com/dropwizard/dropwizard/pull/2926

[2021-01-15 07:59] namannigam commented on #3654
@joschi  any leads on what is planned as a resolution, so as to expedite this?

[2021-01-15 09:26] joschi commented on #3654
@namannigam For backward-compatibility reasons, this will earliest be tackled in Dropwizard 3.0.x (no scheduled release date yet).

Until then, please use Dropwizard on the class path and not on the module path.

[2021-01-17 15:45] namannigam commented on #3654
@joschi Just to leave it as a note on the risk of sounding too optimistic, I was looking to build a custom runtime image of an application based on Dropwizard using `jlink` and further making use `jpackage` to figure out some migration plans. But all of that wouldn't really be possible even with the core libraries inferred as an automatic module which was this one-off failure attempt from me.

[2021-01-20 18:50] carlbolduc opened #3663 "Cannot set cache headers on static files when using AssetBundle"
I'm using version 2.0.18.

I use the AssetsBundle bundle to serve static files in my application:
[code]

To properly set cache headers, I use a custom filter:
[code]

Here is the relevant code from CacheControlFilter:
[code]

When I debug this code, I can see that all the API requests (`/api`) go through my filter. However, none of the requests accessing static files are going through the filter.

[2021-01-20 19:00] carlbolduc commented on #3663
The issue is with my development environment. I can confirm that the code above will filter static file requests.

[2021-01-20 19:00] #3663 closed

[2021-01-21 19:15] talmdal opened #3664 "Question: Can I embed the dropwizard app in a different framework"
We have several different rest applications using http4k and kotlin. We have 1 application that uses dropwizard. We would like to consolidate our applications on the same framework.

To facilitate this migration, Is there away to "embed" dropwizard in the application, such that any routes not handled by the other framework can be routed into the dropwizard routing. If so could you please point me

[2021-01-26 17:38] pablo-silverback opened #3669 "Automatically include file argument (or add documentation) on ConfiguredCommand"
`ConfiguredCommand` does not include the configuration file argument automatically but makes you call `addFileArgument` on bootstrap.

Failing to call this method your command will complain that you're passing a file argument and none is expected.

This is not documented anywhere:

<img width="771" alt="Screen Shot 2021-01-26 at 14 33 47" src="https://user-images.githubusercontent.com/77513079/105

[2021-01-28 09:14] joschi commented on #3669
@pablo-silverback Do you mean this?
https://github.com/dropwizard/dropwizard/blob/7385a7d7a3a1f0670d5fda376b8cdf516d7c7b30/dropwizard-core/src/main/java/io/dropwizard/cli/ConfiguredCommand.java#L47-L68

That's also how the `check` command (`CheckCommand` class) works:
https://github.com/dropwizard/dropwizard/blob/v2.0.18/dropwizard-core/src/main/java/io/dropwizard/cli/CheckCommand.java

[2021-01-28 13:53] pablo-silverback commented on #3669
@joschi Exactly that. I believe it should be called always after the `configure` method, or the docs should read something like:

With the not so crazy hypothesis that most people will override the `configure` method, the docs are misleading (they sure mislead me)

[2021-01-28 14:10] joschi commented on #3669
@pablo-silverback I would expect people to call the parent's method if they're overriding a method, i. e. call `super(subparser)` if they're overriding the `configure(Subparser)` method.

If you don't call `super`, you're basically saying that you're not interested in inheriting the behavior of the parent class.

[2021-01-28 17:53] pablo-silverback commented on #3669
I believe we can agree it doesn't make sense to have a `ConfiguredCommand` without a configuration file.

Right now not only this is __possible__ (which I personally think it's a bug that needs fixing) but it's also _very likely_ to do it by mistake, if you forget to call `super` or call `addFileArgument` yourself.

This assumes knowledge of what the superclass do. There's not a single case (at le

[2021-01-29 07:52] joschi commented on #3669
@pablo-silverback It's right in the documentation: https://www.dropwizard.io/en/release-2.0.x/manual/core.html#configured-commands

<img width="946" alt="Excerpt of the documentation for ConfiguredCommand" src="https://user-images.githubusercontent.com/43951/106246901-20d82600-620f-11eb-9331-407f7100e035.png">

[2021-01-29 14:30] pablo-silverback commented on #3669
I stand by my opinion that it is a bug to have a `ConfiguredCommand` with no configuration file and that it's easy to miss the super call, since it's the only class in the whole package that requires you to call `super` on override.

When I say it's not documented I mean that the fact that avoiding the `super` call will result in your command not working at all is not explicit.

[2021-01-29 15:26] joschi commented on #3669
@pablo-silverback Would you create a pull request to change `ConfiguredCommand` or the documentation accordingly?

[2021-01-29 15:47] pablo-silverback commented on #3669
Sure, I can do that. You think changing the code to avoid the super call is out of the question?

[2021-01-29 16:16] joschi commented on #3669
At least for Dropwizard 2.0.x, I wouldn't want to change it.

It's fine for Dropwizard 2.1.x if it doesn't involve too many changes.

 Maybe introduce a `doConfigure(Subparser)` method which will add the file argument and then calls `configure(Subparser)`?

[2021-01-29 18:48] mschechter-bellese commented on #3652
@arteam - Thanks for working on this!

Just one question - the current pattern requires that indirect consumers of the `Jackson` class (for example, anyone building an application) will have both Blackbird and Afterburner on their classpath. If a team builds a framework on top of Dropwizard (as we're doing), it makes it more difficult to control which dependencies are used in the applications that

[2021-02-01 09:35] joschi opened #3677 "Fix BadLogTest#testSupportShouldResetLogging on Windows"
`BadLogTest#testSupportShouldResetLogging` is failing on Windows (on Appveyor):
[code]
Build URL: https://ci.appveyor.com/project/dropwizard/dropwizard/builds/37533699
Build output: [log.txt](https://github.com/dropwizard/dropwizard/files/5903073/log.2.txt)

Refs #3673

[2021-02-01 09:40] #3669 closed

[2021-02-01 19:00] andrewlarry opened #3678 "io.dropwizard.cli.EnvironmentCommand.getConfiguration() error with v2.0.19 upgrade"
Seeing an issue when upgrading to 2.0.19 (stacktrace below). The test where the failure is occurring is using this constructor:
`public DropwizardAppExtension(Class<? extends Application<C>> applicationClass)`.

[code]

[2021-02-01 21:13] joschi commented on #3678
@andrewlarry Make sure that you're using all Dropwizard dependencies in the same version, i. e. Dropwizard 2.0.19.

It looks like you're using an older version of `dropwizard-core`. The `ConfiguredCommand#getConfiguration()` method was just added in Dropwizard 2.0.19.

https://javadoc.io/doc/io.dropwizard/dropwizard-core/latest/io/dropwizard/cli/ConfiguredCommand.html#getConfiguration--

[2021-02-03 21:39] fernandezpablo85 commented on #3669
@joschi do you think we can improve this by throwing an exception here? Seems like the condition is being checked but the command run continues:

https://github.com/dropwizard/dropwizard/blob/master/dropwizard-core/src/main/java/io/dropwizard/cli/ConfiguredCommand.java#L136

I believe dropwizard should exit with an exception if "file" argument is null there.

[2021-02-04 07:28] joschi commented on #3669
Who says that a `ConfiguredCommand` has to get its configuration from a file?

[2021-02-04 18:31] pablo-silverback commented on #3669
From where else could it get the configuration? Isn't the purpose of ConfiguredCommand to read a configuration file?

[2021-02-05 14:19] Thihup commented on #3654
@namannigam You still can create JLinked runtime with automatic modules, however, there is a little more of manual configuration, but the results should be the same:
https://medium.com/azulsystems/using-jlink-to-build-java-runtimes-for-non-modular-applications-9568c5e70ef4

[2021-02-05 21:03] TimothyMDean opened #3685 "Syslog appender intermittently losing messages from a Dropwizard command"
I have two different DropWizard components, currently using DW 2.0.16. One component is a fairly typical HTTP service. The other is just a CLI application, implementing a handful of DW commands. Both are configured to use the syslog appender to send certain messages to an Rsyslog service (running in CentOS 8.2)

The messages generated from the HTTP service are all arriving at the Rsyslog service a

[2021-02-05 23:08] namannigam commented on #3654
@Thihup the configuration discussed in the post seems to be very specific to JDK modules or other modules coupled with them. I have skimmed through it, but don't really find it promising for the use case we are dealing with here.

[2021-02-06 12:43] Thihup commented on #3654
Sure. As for my use cases, I could use the JLink with automatic modules. I just don't recall if you can create a launcher if you don't have all modules, but from what I've used, JLink basically just uses the module-info to get all the modules needed. If you have an automatic module it cannot auto-detect, but you can use the JDeps to list it. So you can add all modules that the JDeps have said and

[2021-02-07 12:20] rhowe commented on #3677
If it's anything like https://github.com/dropwizard/dropwizard/pull/3692 the log appender might just need to be stopped before the test completes.

[2021-02-09 22:16] TimothyMDean commented on #3685
Additional note - In order to prove to myself that this was not a case of UDP packets getting lost, I used `tcpdump` to monitor the UDP traffic on my node. As I suspected, the cases where syslog messages were missing showed no UDP traffic hitting the network layer.

So this really looks to be something happening on the Java side, either in Dropwizard or the underlying Logback implementation.

[2021-02-10 18:03] TimothyMDean commented on #3685
As a workaround, I have found that adding this to my command code before exiting seems to fix things up:

[code]

[2021-02-12 19:07] TIBCOeddie opened #3702 "support logback coloring better"
Could dropwizard add a highlight property that would configure the most common coloring logback format of %highlight(%-5p) that it uses? That way we don't have to necessarily spell out the whole log format and hope the default documented is actually the default in use.

Additionally, withJansi cannot be configured via dropwizard, which means that if we enable coloring we don't have it disable itse

[2021-02-20 19:14] cyberdelia opened #3714 "CachingAuthorizer cannot rely on ContainerRequestContext as is"
`CachingAuthorizer` currently rely on `ContainerRequestContext` `hashCode`/`equals` implementation which are the default `Object` implementations, defeating the purpose of the cache entirely.

The best option might be for `CachingAuthorizer` to provide a way to provide a custom `AuthorizationContext` of some sort.

[2021-02-20 19:15] cyberdelia commented on #3714
I'm happy to give this a shot, I'm welcome alternative options in the meantime.

[2021-02-21 09:56] joschi commented on #3714
The purpose of `CachingAuthorizer` is caching the authorization result within one request.

Any `Authorizer` implementation could use any attribute of `ContainerRequestContext` to decide whether a specific request/subject should be authorized or not, so caching over multiple requests might lead to wrong authorization results.

[2021-02-21 17:04] cyberdelia commented on #3714
Exactly, but if each `Authorizer` could have a method to provide something like an `AuthorizationContext` that contains the specific values used by it to authorize the request based on a given `ContainerRequestContext`. We could be able to safely cache across multiple similar requests.

[2021-02-22 08:25] darewreck54 opened #3718 "Issues with Custom Logback Appenders"
Hi,

I'm having issues simulating a custom log back appender.

In the Dropwizard configuration, if I override the LoggingFactory and pass it a .xml it works.  I see the logs printing out to my console in json format.

[code]
[code]
[code]
If I try to do it through code and rely on dropwizard logging factory and yaml configuration, it doesn't.  Nothing prints out to console anymore.

[code]

I'm no

[2021-02-22 08:33] darewreck54 commented on #3022
@zloster and @pstackle I forgot to respond to this thread.  But I got it working eventually.  Thanks for the help.

Another question about logging if you have free time: https://github.com/dropwizard/dropwizard/issues/3718

[2021-02-25 06:16] bmsq opened #3724 "AssetServlet - incorrect cache behavior"
Hi,

While investigating caching issues in our app I noticed that [AssetServlet](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-servlets/src/main/java/io/dropwizard/servlets/assets/AssetServlet.java#L304) is returning 304 when the `If-None-Match` header matches OR `If-Modified-Since` header is later or equal to the asset modified time.

Looking at [MDN's documentation](https://dev

[2021-03-01 08:14] beena-yatin-kanyal opened #3734 "UUID field validation"
We are using the dropwizard library for our microservices framework and would like to know if there is any support to validate the UUID fields. Consider the following DTO and the controller method attribute -

[code]

_Calling mechanism_ -

[code]

Please let us know if there is any valid support to address such a requirement.

[2021-03-01 09:01] joschi commented on #3734
@beena-yatin-kanyal The type of a parameter will be validated in the sense that the request will fail if the parameter `someId`  of `create(...)` cannot be deserialized into a UUID parameter.

[2021-03-01 09:48] tmysik opened #3735 "Archived logs not deleted"
If one uses [file based logging](https://www.dropwizard.io/en/latest/manual/configuration.html#file) and at the same time uses `maxFileSize` and `archivedLogFilenamePattern` contains not only `%i` but also `%d` (in our case, a custom "hourly" format), the archived files are not deleted properly.

I guess that this could be more an issue of LogBack but it would be nice to have it documented in the

[2021-03-02 17:17] KiperUladzislau opened #3743 "Update Hibernate Validator - CVE-2020-10693"
Does not duplicate https://github.com/dropwizard/dropwizard/issues/3293
According to
https://nvd.nist.gov/vuln/detail/CVE-2020-10693/change-record?changeRecordedOn=03/02/2021T08:59:11.183-0500
Versions above 6.1.5.Final became affected by this CVE

[2021-03-02 17:41] joschi commented on #3743
@KiperUladzislau Thanks for reporting this.

We've introduced a workaround for the vulnerable functionality in Hibernate Validator in https://github.com/dropwizard/dropwizard/pull/3208 which has been merged in Dropwizard 2.0.3.

Nonetheless, we'll keep an eye open for a version of Hibernate Validator 6.1.x which is not vulnerable for the mentioned CVE.

[2021-03-03 23:05] P-A-R-U-S commented on #2303
Getting same error:

`14:59 $ java -jar target/oci-certs-canary-0.1-SNAPSHOT.jar server oci-certs-canary-configuration.yml
INFO  [2021-03-03 23:03:08,698] io.dropwizard.server.DefaultServerFactory: Registering jersey handler with root path prefix: /
INFO  [2021-03-03 23:03:08,700] io.dropwizard.server.DefaultServerFactory: Registering admin handler with root path prefix: /
INFO  [2021-03-03 23:03:

[2021-03-04 07:11] joschi commented on #2303
That's expected when you try to bind a socket which is already used by another application.

[2021-03-05 22:59] trnl commented on #2974
@OneCricketeer, @meshuga I wonder if you have any updates on it?

[2021-03-07 13:15] meshuga commented on #2974
I'm no longer working on projects that involve Dropwizard, thus will be hard to test things out on production-like systems.

I checked the timeline of the Jersey roadmap for GraalVM support and it looks like it should be supported in release 2.34 - https://github.com/eclipse-ee4j/jersey/wiki/Road-Map - fingers crossed!

Once done, it should be possible to adjust Dropwizard to create native images.

[2021-03-10 20:59] nicholas-s-perkins opened #3769 "The dropwizard-dependencies bom has declared some dependencies with scope"
Hello Dropwizard folks.

When importing the dropwizard-dependencies BOM, we noticed two dependencies in the BOM have a declared scope of `runtime`:
- `jakarta.activation-api`
    - https://github.com/dropwizard/dropwizard/blob/master/dropwizard-dependencies/pom.xml#L165
- `jakarta.xml.bind-api`
    - https://github.com/dropwizard/dropwizard/blob/master/dropwizard-dependencies/pom.xml#L176

Usually

[2021-03-11 07:38] joschi commented on #3769
@nicholas-s-perkins Thanks for reporting this!

You're absolutely right, the `dropwizard-dependencies` BOM shouldn't force specific dependency scopes on its consumers.

We'll change that with Dropwizard 2.1.0 so that users of Dropwizard 2.0.x won't get surprised by the sudden change.

Out of curiosity, which dependency scopes are you using for `jakarta.activation:jakarta.activation-api` and `jakar

[2021-03-11 15:19] #3769 closed

[2021-03-11 20:41] nicholas-s-perkins commented on #3769
I appreciate the quick response!

@joschi We just declared the dependencies it in the DependencyManagement block like this without the scope, and that seems to provide the behavior we wanted.
[code]

We have a few imports that use the libs.  For example we do some xml/SOAP stuff and use some xml annotations with jackson so we expected it to be `compile` scope:
[code]

[2021-03-12 10:08] mcslr opened #3776 "ALPNServerConnectionFactory is not used correctly in Http2ConnectorFactory"
Hi,

See [https://github.com/eclipse/jetty.project/issues/6058](https://github.com/eclipse/jetty.project/issues/6058) for more context.

I believe [ALPNServerConnectionFactory](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-alpn/jetty-alpn-server/src/main/java/org/eclipse/jetty/alpn/server/ALPNServerConnectionFactory.java) is not used correctly in [Http2ConnectorFactory](https://g

[2021-03-12 10:37] mcslr commented on #3776
Would you like me to open PR?

[2021-03-12 12:43] vinnusingla commented on #2333
Facing the same issue in 2.0.1

[2021-03-15 07:49] beena-yatin-kanyal commented on #3734
@joschi - No.  Consider that if from some request I pass the invalid UUID we need custom validation that can validate the UUID format and throw a custom message. Is there any such support available?

[2021-03-16 10:09] harpreet86 opened #3782 "Location header issue in response"
We were using dropwizard version: **1.3.29**
We migrated our codebase to dropwizard version: **2.0.20**, after this migration we started encountering one of the issue related to the response 'location' header as below.

We are adding the 'location' header with relative URL which converts to absolute URL before returning the actual response.
Now in or local environment, it works fine because the lo

[2021-03-16 11:05] joschi commented on #3782
Take a look at the `useForwardedHeaders` setting for the HTTP connector:
https://www.dropwizard.io/en/release-2.0.x/manual/configuration.html#http

References:
- https://github.com/dropwizard/dropwizard/issues/2663
- https://github.com/dropwizard/dropwizard/pull/2748
- https://github.com/dropwizard/dropwizard/issues/3023
- https://www.javadoc.io/doc/org.eclipse.jetty/jetty-server/9.4.38.v20210224/

[2021-03-16 11:07] joschi opened #3783 "Improve documentation for `useForwardedHeaders` setting."
Dropwizard 2.0.x introduced the `useForwardedHeaders` setting for the HTTP connector:
https://www.dropwizard.io/en/release-2.0.x/manual/configuration.html#http

This has caused some confusion in the past when people were using their Dropwizard applications behind a proxy which terminated SSL/TLS connections.

The introduction of this setting should be added to the Dropwizard 2.0.x upgrade guide.

[2021-03-17 14:09] #3776 closed

[2021-03-17 15:05] #3724 closed

[2021-03-19 17:35] IdamkinI opened #3796 "Problems with custom deserializers during configuration deserialization"
When defining custom configuration with custom properties, e.g:
[code]
and using custom deserializer for said property:
[code]
the `JsonParser parser` passed to deserialize method has `getCodec()` as `null`:
[code]
This makes using custom deserializers for configuration properties quite difficult, as you would need to forward proper `ObjectCodec` to deserializer somehow and set it on parser before

[2021-03-20 08:39] #3714 closed

[2021-03-20 22:44] joschi commented on #3734
@beena-yatin-kanyal You can write a custom validator or a custom `*Param` annotation.

- https://eclipse-ee4j.github.io/jersey.github.io/documentation/2.33/user-guide.html#d0e2273
- https://docs.oracle.com/javaee/7/api/javax/ws/rs/ext/ParamConverter.html
- https://github.com/dropwizard/dropwizard/blob/v2.0.20/dropwizard-jersey/src/main/java/io/dropwizard/jersey/validation/FuzzyEnumParamConverter.j

[2021-03-20 23:49] joschi commented on #3796
@IdamkinI Thanks for reporting this and providing a reproducible test for the issue!

[2021-03-20 23:51] joschi commented on #1991
@isaki Thanks for reporting this and providing a

[2021-03-21 11:10] #1991 closed

[2021-03-21 11:10] #3796 closed

[2021-03-21 11:10] #3652 closed

[2021-03-24 04:38] durran-kelly commented on #2182
Hello, I am also experiencing the same issue. Not only isn't Content-Encoding header not being returned, but my response is also not being encoded. I have been making my requests in Postman and have confirmed that it isn't automatically decoding the gzip responses and striping the Content-Encoding header by testing against http://httpbin.org/gzip, as well as a quick start of a spring boot applicat

[2021-03-24 05:19] durran-kelly opened #3814 "Gzip compression seemingly not working out of the box"
Hello,

I am experiencing issues with getting my api response to be compressed. I have been making my requests in Postman and have confirmed that it isn't automatically decoding the gzip responses nor striping the Content-Encoding header. I was able to test this by making a request to http://httpbin.org/gzip. I also used a quick start SpringBoot project and turned on gzip encoding. I was able to s

[2021-03-24 07:36] joschi commented on #3814
@durran-kelly Which version of Dropwizard are you using? What's the complete configuration of your Dropwizard application?

Please post the exact HTTP requests your sending and their responses (incl. all headers of request and response).

[2021-03-25 13:59] dinomite commented on #3563
This is due to Git fscking objects. You can turn that off to make a clone:

```git clone --config receive.fsckobjects=false --config fetch.fsckobjects=false git@github.com:dropwizard/dropwizard.git```

[2021-03-26 00:38] durran-kelly commented on #3814
@joschi Thanks for the response.

Dropwizard version: 2.0.20

config.yml:
logging:
  level: INFO
  loggers:
    org.eclipse.jetty.server.handler.gzip: DEBUG

Request made with a JSON body:
POST http://localhost:8080/v1/volumes
Headers:
 Content-Type: application/json
 Content-Length: <calculated when request is sent>
 Host: <calculated when request is sent>
 User-Agent: PostmanRuntime/7.26.8
 Acce

[2021-03-26 07:50] joschi commented on #3814
@durran-kelly The Jetty `GzipHandler` has some (configurable) restrictions and will by default only compress responses to `GET` requests with a size larger than 256 bytes.

See https://www.dropwizard.io/en/release-2.0.x/manual/configuration.html#gzip for the configuration settings in Dropwizard and https://www.javadoc.io/doc/org.eclipse.jetty/jetty-server/9.4.38.v20210224/org/eclipse/jetty/server/

[2021-03-26 21:28] durran-kelly commented on #3814
@joschi Thanks for the response and pointing out the fact its GET by default (totally missed that in the documentation...) Sorry for the trouble!

[2021-03-26 21:50] joschi commented on #3814
@durran-kelly All good. Glad we could answer your questions and that it's working for you now. 😄

[2021-03-29 14:10] KiperUladzislau opened #3823 "Dynamicly inject list"
Imagine we have
[code]
and a couple of implementations, for example `ProviderA`, `ProviderB` and `ProviderC`
I want depending on configuration (or whatever) either inject or not some of theese providers via `AbstractBinder`
[code]
I must bind via `.class` instead of using `new` keyword because dependencies of providers can not be created via `new`
Then what I want is to have somehow only injected

[2021-03-29 14:26] joschi commented on #3823
@KiperUladzislau The dependency injection framework used in Jersey (by default) is HK2.

Take a look at [IterableProvider injection](https://javaee.github.io/hk2/introduction.html#iterableprovider-injection) for details how to inject multiple implementations of an interface/contract.

[2021-03-30 13:01] joschi commented on #3340
After looking into this a bit more, the issue is that the Jersey test framework (in-memory, Grizzly, Jetty) doesn't set up a full Servlet-environment but is using the respective handler-functionality of each test container instead.

Without a Servlet-environment, it's not possible to create an `javax.servlet.http.HttpSession` instance or to add another session handler.

To address this issue, we'd

[2021-04-07 12:15] mschechter-bellese opened #3841 "Update Jetty to address CVE-2021-28165"
Dropwizard 2.0.20 uses a Jetty version (9.4.37.v20210219) that has a CVE (https://nvd.nist.gov/vuln/detail/CVE-2021-28165) reported against it. A Jetty version with the corresponding fixes is already in 2.0.21; could you please let me know if it would be possible to release that version with the update? It appears that the milestone is complete.

Thanks!

[2021-04-07 12:59] joschi commented on #3841
Refs https://github.com/dropwizard/dropwizard/pull/3821

[2021-04-07 13:58] #3841 closed

[2021-04-08 14:09] vabs opened #3846 "Dropwizard Configuration Error with Junit5 and OpenJDK 11"
I have a dropwizard integration test which runs the application and call to the resource to ensure code's business logic's validity.
Whenever I run the integration test, I get this error.

The guidelines which I followed to create the test are from: https://www.dropwizard.io/en/latest/manual/testing.html#junit-5

Dropwizard Version: 2.0.20
OpenJDK: 11

[code]

[2021-04-08 14:46] vabs commented on #3846
I believe the error is originating from :

Class: `DropwizardTestSupport`
Method Name: `startIfRequired`
Possible Error Line: `this.configuration = environmentCommand.getConfiguration();`

This line is throwing a null pointer exception. On debugging, this should be replaced with: `environmentCommand.getConfigurationClass()`

[code]

[2021-04-08 14:59] joschi commented on #3846
@vabs Check and ensure that you're using the correct version of Dropwizard dependencies in your project, for example by importing `dropwizard-bom` or `dropwizard-dependencies`.

[2021-04-08 16:47] vabs commented on #3846
Yes @joschi , you were correct. There was a dependency issue. Thanks for the quick response. I managed to fix it by using `dropwizard-bom`

[2021-04-08 16:47] #3846 closed

[2021-04-08 17:35] joschi commented on #3846
@vabs Glad we could resolve it. 😄

[2021-04-08 20:42] wlp1979 opened #3847 "JerseyClientBuilder will fail if there is another java rx implementation in the classpath"
If you are using the JerseyClientBuilder and there is another implementation of the java rx Client interfaces in the class path, the call to [ClientBuilder.newClient might not return a JerseyClient](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-client/src/main/java/io/dropwizard/client/JerseyClientBuilder.java#L370). However, the next line below that will fail if a different clie

[2021-04-09 09:33] joschi commented on #3847
@wlp1979 Could you please provide a minimal project demonstrating this issue?

[2021-04-09 21:45] sagarkal opened #3851 "Upgrade httpclient version 4.5.13 to httpclient5 version 5.0.3 to fix WS-2019-0379"
Hi,

Dropwizard depends on Apache httpclient version 4.5.13. But Apache is no longer releasing any new versions of httpclient. Instead they are now maintaining [httpclient5](https://mvnrepository.com/artifact/org.apache.httpcomponents.client5/httpclient5) whose latest version (at the time of this writing) 5.0.3 depends on version 1.13 of commons-codec that contains the fix for the security issue W

[2021-04-10 13:19] joschi commented on #3851
I think you're referring to https://www.whitesourcesoftware.com/vulnerability-database/WS-2019-0379.

No, that's not possible. Neither Jersey Connectors for Apache HttpClient version 2.33 nor version 3.0.x supports Apache HttpClient 5.x.

- https://mvnrepository.com/artifact/org.glassfish.jersey.connectors/jersey-apache-connector/2.33
- https://mvnrepository.com/artifact/org.glassfish.jersey.conne

[2021-04-10 15:44] joschi commented on #3851
I've also created a ticket at the Apache HttpClient JIRA: https://issues.apache.org/jira/browse/HTTPCLIENT-2150

[2021-04-10 15:44] #3851 closed

[2021-04-12 16:10] wlp1979 commented on #3847
Here is a repo that demonstrates the issue along with a modified client builder that works.

https://github.com/wlp1979/dw-jersey-example

[2021-04-13 11:46] yoshuaNahar opened #3873 "ContextRoutingHandler doesn't implement expandChildren"
After implementing Jetty's Session Management, I noticed that the DefaultSessionIdManager isn't scavenging sessions. The HouseKeeper is running, but apparently the SessionHandler isn't found.

De debug log only shows these:
[code]

In DefaultSessionIdManager, the server can't find the SessionHandler.
[code]

The `getChildHandlersByClass` checks the Handler and eventually ends up at the `ContextRou

[2021-04-14 06:44] beena-yatin-kanyal commented on #3734
@joschi - I think it won't be a good idea to writing a param annotation to support multiple uuid's formats and would increase the code maintenance. Is there any support in the framework for such validation?? If not is there any milestone to have this added in dropwizard 2.x?

[2021-04-15 12:22] joschi commented on #3734
@beena-yatin-kanyal You can also validate the specific format of the `UUID` field in your constructor or in a `@JsonCreator` method.

There are no plans to implement something like this in Dropwizard.

[2021-04-15 16:41] mschechter-bellese opened #3876 "Add configuration for AdminServlet capabilities"
The `AdminServlet` provides a number of features/functions, including thread dumps and CPU profiling. The latter two have the potential to create a denial-of-service attack on a server if a malicious actor were able to access those endpoints somehow. It's theoretically possible even if the endpoints are not exposed externally.

It would be great to be able to disable the various operational endpoi

[2021-04-15 16:59] joschi commented on #3876
@mschechter-bellese This is a very sensible idea. Would you be able to provide a pull request with an initial implementation for this?

Keep in mind that the `AdminServlet` is coming into Dropwizard via Dropwizard Metrics, so you have to adapt both projects.
https://github.com/dropwizard/metrics/blob/release/4.1.x/metrics-servlets/src/main/java/com/codahale/metrics/servlets/AdminServlet.java

[2021-04-16 12:53] mschechter-bellese commented on #3876
@joschi - I will see what I can do.

Could you please let me know if there is any documentation or examples of similar patterns in Dropwizard that I can use for this type of functionality? That will help minimize cycle time once there's a pull request to review.

Thanks!

[2021-04-21 00:06] #3407 closed

[2021-04-21 07:00] thoniTUB commented on #3407
😢

[2021-04-21 19:56] a5huh opened #3891 "Configurable applicationContextPath for DropwizardClient"
[DropwizardClient](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-testing/src/main/java/io/dropwizard/testing/common/DropwizardClient.java#L29) forces the application context path to be `/application`

It will be helpful if this can be configurable.

[2021-04-22 06:14] joschi commented on #3891
@a5huh Could you please describe your use case for the configurable base URI in `DropwizardClient`?

`DropwizardClient` is starting a Dropwizard `Application` with a [`simple` server connector](https://www.dropwizard.io/en/release-2.0.x/manual/configuration.html#simple) which provides the configured JAX-RS resources under the `/application` path prefix.

Maybe you're looking for the [`dropwizard-c

[2021-04-22 23:36] trnl commented on #2974
Graal VM support moved to Jersey 2.35.

[2021-04-23 11:51] simonwibberley commented on #3664
Hi @talmdal did you discover whether this easily doable? I'm also interested!

[2021-04-23 16:51] talmdal commented on #3664
@simonwibberley Unfortunately not yet... but it is something that we are still interested in do

[2021-04-23 19:10] a5huh commented on #3891
Let's say you have have a class `A` and it uses class `B` to perform all the http calls. Let's say that you can only provide a host name/ip and port number to class `B`. It makes it impossible to use `DropwizardClient` for testing due to the forced application context.

The scenario above is what I have to work with due to our service discovery, which returns hostname and ports only.

[2021-04-23 20:49] joschi commented on #3891
@a5huh Unfortunately I cannot follow.

`io.dropwizard.testing.common.DropwizardClient` is explicitly only meant to test JAX-RS resources and is not an HTTP client at all. The naming could definitely be improved. 😉

Could you elaborate on your use case with a more specific example or at least describe what classes `A` and `B` are and what they're doing?

[2021-04-26 15:36] sirianni commented on #125
Layering config files is also important for separating out sensitive values (e.g. mounting a Kubernetes `Secret` in addition mounting a Kubernetes `ConfigMap`).  Or using the [Vault sidecar injector](https://www.vaultproject.io/docs/platform/k8s/injector).

Almost all modern java microservice frameworks have this feature.

[2021-04-26 16:02] joschi commented on #125
@sirianni You can override any setting in the configuration file with a system property or with environment variables.

See also: [Using Secrets as environment variables](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables) and [Dropwizard -> Configuration -> Environment variables](https://www.dropwizard.io/en/release-2.0.x/manual/core.html#environment-

[2021-04-26 17:10] sagarkal commented on #3851
Hi @joschi thanks for taking care of this, sorry for the delayed response. I had disabled all Github notifications by mistake

[2021-04-27 08:19] vvondra commented on #125
it's three years since I touched this, but we found a way to plug in this behaviour with our own code: https://github.com/vvondra/dropwizard-config-importable

[2021-04-27 10:03] runeflobakk opened #3907 "Concern about Liquibase Hub"
Hello!
This is not as much an issue about Dropwizard, but I wanted to express a small concern I got about Liquibase yesterday, when attempting to upgrade from v3 (3.6.3) to v4 (4.3.4).

I maintain an application which uses Dropwizard, and we like to stay ahead and keep our dependencies updated. We use the, at time of writing, latest Dropwizard v2.0.21. It may also be that we override some dependen

[2021-04-28 20:27] mschechter-bellese commented on #3876
@joschi,

There's a [pull request](https://github.com/dropwizard/metrics/pull/1891) for the `AdminServlet` changes ready to go. Could you please take a look at that when you get a chance and let me know if it's going in the right direction?

Thanks!

[2021-05-02 01:30] vinitgaikwad0810 commented on #3094
@carlbolduc Would you mind sharing the resolution?

[2021-05-02 15:32] carlbolduc commented on #3094
I was using an AWS server with 1 GB of RAM. I switched to a server with 2GB of RAM and the problem completely disappeared. I remember seeing in a forum a suggestion  to give something around 6 GB to the Dropwizard process which prompted me to try a bigger server.

[2021-05-03 08:09] hiteshsardana99 opened #3924 "Request body of Post request is empty when using HttpProcessor in dropwizard client"
I am facing one issue with the dropwizard client. I am hitting one post request from service A to service B.
Whenever I am adding httprocessor in dropwizard client for using request interceptor in service A,  my post request body is always receiving empty on the Service B side. I also tested same thing with mock server but issue is same with that also.

Sending one post request from dropwizard app

[2021-05-05 05:14] kavinkumarc opened #3931 "Migration to springboot"
Can anyone refer any websites or help me in converting the dropwizard code to springboot?
I require spring boot code for the following libraries:
1)  io.dropwizard.Application;
2) io.dropwizard.jetty.MutableServletContextHandler;
3) io.dropwizard.setup.Bootstrap;
4) io.dropwizard.setup.Environment;

[2021-05-05 08:08] joschi commented on #3931
@kavinkumarc You might be better asking this in one of the Spring community support channels. 😉

➡️ https://spring.io/community

[2021-05-06 10:45] anagarkotiarkin opened #3935 "Support to handle ServletException"
There seems to be no way to handle ServletException caused by URI parsing failures. Main concern here is jetty is sending the stacktrace for exception, which can be a security concern.
Tried ExceptionMappers, but it's not working, as i think the exception is thrown from outside the application scope. Is there a way to handle these scenarios currently?

ex query from our application
[code]

[2021-05-06 11:29] joschi commented on #3935
A JAX-RS exception mapper would only work if Jersey was properly involved but in this case the exception is already thrown in the URL handling of the Jetty web server.

You could try adding a [Servlet Filter](https://javaee.github.io/javaee-spec/javadocs/javax/servlet/Filter.html) in front of HTTP endpoints: https://www.dropwizard.io/en/release-2.0.x/manual/core.html#servlet-filters

As an alterna

[2021-05-06 12:32] anagarkotiarkin commented on #3935
@joschi Thanks for the reply. Servlet Filter was of no help. But Error Handler seems to be good enough to handle this scenario.
This is good enough for me.
But on the other side should Exception StackTrace be passed on to the client?

[2021-05-10 14:24] mschechter-bellese commented on #3876
@joschi,

Could you please let me know what configuration example patterns you'd like me to follow when I implement this? There are a lot of options available now, and I'd like to create something that cleanly integrates with the rest of Dropwizard.

Thanks!

[2021-05-11 00:01] #3461 closed

[2021-05-11 20:53] joschi commented on #3907
@runeflobakk Thanks for bringing this up!

First of all, thanks for using Dropwizard and the `dropwizard-migrations` module. 😃

I agree with this sentiment and wouldn't want to ship Dropwizard 2.1.x with this feature enabled by default.

For completeness sake, there's also the [`dropwizard-flyway`](https://github.com/dropwizard/dropwizard-flyway) to use [Flyway](https://flywaydb.org/) instead of L

[2021-05-14 12:03] mschechter-bellese commented on #3876
@joschi / @arteam,

I've done some digging into this, and think I have a solution. Unfortunately, the best way I can find to do it would be a breaking change in `AbstractServerFactory`.

In `Environment`, an instance of `AdminEnvironment` is currently created; this is only used in one place in the production code that I can find. However, it has all the Dropwizard-specific content needed to build

[2021-05-16 06:33] mschwenke-up opened #3969 "known security issue in dropwizard-jetty version 2.0.21 (sub-)dependency"
Hi there,

please bump jetty to 2.34 or 3.0.2 or above as mentioned under Solution in the following security notice of nist:

ID: 3392a333f9525d590a865cc11b9b2fdbdb29714e128b9265cc1629b338783876
Severity: Medium
Name: Incorrect Permission Assignment for Critical Resource
Message: Incorrect Permission Assignment for Critical Resource in org.glassfish.jersey.core/jersey-common
Solution: Upgrade to v

[2021-05-16 13:19] joschi commented on #3969
@mschwenke-up Thanks for reporting this! Unfortunately, this is not a straight forward dependency update.

Jersey 3.x is using the Jakarta EE namespace `jakarta.*` instead of `javax.*`, so we won't upgrade to Jersey 3.x in Dropwizard 2.x because we'd also need to upgrade every single dependency or integration with Jersey as well. This includes at least Jetty, Hibernate Validator, and Jackson.

As

[2021-05-16 15:23] jplock commented on #3969
Unless we can define the tmpdir system property within the framework somehow, I think security issues take precedence over backward compatibility breaks. Assuming we can document it well enough.

[2021-05-18 10:27] QiAnXinCodeSafe opened #3977 "There is a vulnerability inJetty: Java based HTTP/1.x, HTTP/2, Servlet, WebSocket Server 1.0.4,upgrade recommended"
https://github.com/dropwizard/dropwizard/blob/c85dacfadcf77125aa6b1eba2ab0743f132b43ec/dropwizard-dependencies/pom.xml#L51

CVE-2017-7657 CVE-2017-7658 CVE-2009-5045 CVE-2020-27216 CVE-2017-9735

Recommended upgrade version：
1.0.5

[2021-05-18 11:19] joschi commented on #3977
There is no such version of `org.eclipse.jetty.toolchain.setuid:jetty-setuid-java`.
https://search.maven.org/artifact/org.eclipse.jetty.toolchain.setuid/jetty-setuid-java
https://github.com/eclipse/jetty.toolchain

[2021-05-18 11:19] #3977 closed

[2021-05-18 21:09] joschi commented on #3969
In my opinion the `Optional<T>` parameter converter in Jersey 2.34 (and Jersey 3.0.1) is seriously broken while this security issue can be easily mitigated for existing users.

Next issue: The `Optional<T>` parameter converter doesn't support custom types (https://github.com/eclipse-ee4j/jersey/issues/4798).

[2021-05-20 11:36] martinodonnell opened #3982 "[Question] Conditionally inject modules"
My Component and and application file are getting very large and the same code base serves multiple brands. We want to conditionally inject modules depending on certain config. Is there any way to do this.

Our current code base looks something like this.

[code]

I want to be able to conditionally load module three, along with its routes. It is easy to just remove the ` .moduleThree(new ModuleThr

[2021-05-20 12:45] joschi commented on #3982
Dropwizard 1.x is end-of-life and also doesn't receive security fixes anymore. I'd strongly recommend planning an upgrade to Dropwizard 2.x.

Dagger isn't officially supported by Dropwizard, so if you're using a third-party extension, you could try asking there.

Otherwise, you could try posting your questions to the Dropwizard user mailing list: https://groups.google.com/forum/#!forum/dropwizard-

[2021-05-20 15:32] ireneWork opened #3983 "Drop Wizard v2.0.21 has issues with SSL buffering"
We are seeing issues with DW v2.0.21 when the server is set up as https.

To reproduce the issue:

1) Create a simple `TestResource.java`

[code]
2) Create a DW Application that registers the above resource and runs as **https** simple server
3) Run the application
4) Sample file of different sizes for the curl command can be created using (sample ~10MB): base64 /dev/urandom | head -c 10000000 > f

[2021-05-20 22:41] martinodonnell commented on #3982
@joschi Thanks, we are trying. It is a very big project at the moment. Trying to clean it up now.

[2021-05-23 23:55] joschi commented on #3873
@yoshuaNahar Thanks for reporting this!

We'll fix the issue in the next version of Dropwizard 2.0.x by implementing `expandChildren()` in `ContextRoutingHandler`.

[2021-05-24 09:21] #3873 closed

[2021-05-24 16:52] joschi commented on #3983
Closed via https://github.com/dropwizard/dropwizard/pull/3976.

[2021-05-24 16:52] #3983 closed

[2021-05-24 22:05] joschi commented on #3847
@wlp1979 Thanks for the repository to reproduce the issue!

That's the whole core of the issue: You're putting a dependency on the classpath which registers an incompatible implementation of `javax.ws.rs.client.ClientBuilder`:
https://github.com/resteasy/Resteasy/blob/3.1.3.Final/resteasy-client/src/main/resources/META-INF/services/javax.ws.rs.client.ClientBuilder

My recommendation would be to no

[2021-05-24 22:10] wlp1979 commented on #3847
@joschi , unfortunately, that is not always possible. There are good reasons that we have two different implementations living in the same JVM. For example, it may be a required transitive dependency in another library.

The change inside the dropwizard `JerseyClientBuilder` are quite simple to implement and would make the `JerseyClientBuilder` always build a `JerseyClient`. Relying on the `Servic

[2021-05-25 16:46] mattnelson commented on #3847
Would this change fix the issue or surface the next jaxrs meta-inf service that assumes jersey?

[2021-05-25 19:11] wlp1979 commented on #3847
@mattnelson , the `SafeJerseyClientBuilder` class in my example repo will always return a JerseyClient. The main change is [this line](https://github.com/wlp1979/dw-jersey-example/blob/main/src/main/java/io/dropwizard/client/SafeJerseyClientBuilder.java#L357). In the end, it just bypasses the ServiceLoader all together and uses the Jersey code to build the client directly.

[2021-05-25 19:30] wlp1979 commented on #3847
I guess I could see an issue if someone has been relying on the `ServiceLoader` implementation to bring in their own subclass version of a `JerseyClient`.

[2021-05-27 18:47] mschechter-bellese commented on #3876
I've found a simpler way to deal with the configuration without introducing any backwards-compatibility issues. Could you please take a look at the new pull request and let me know if you see any issues?

[2021-06-01 20:11] rossedwardsus opened #4012 "Can't get basic application to connect to database and start."
Hello.  I have been going through the getting started guide.  When i try to connect to a local postgresql database and start the server i keep getting an admin error.  I don't even need the admin as i am just testing the code for possible use in an application.

This is the command i am running,
java -jar target/DWGettingStarted-1.0-SNAPSHOT.jar server dwgettingstarted.yaml

This is the error i am

[2021-06-01 21:37] joschi commented on #4012
Please post your `DWGettingStartedApplication` and `HelloJsonResource` (or the complete project sources).

[2021-06-01 21:44] rossedwardsus commented on #4012
DWGettingStartedApplication:

import io.dropwizard.setup.Environment;
import io.dropwizard.jdbi3.JdbiFactory;
//import org.skife.jdbi;
//import resources.EventResource;
import org.jdbi.v3.core.Jdbi;

public class DWGettingStartedApplication extends Application<DWGettingStartedConfiguration> {

    public static void main(final String[] args) throws Exception {
        new DWGettingStartedApplicati

[2021-06-01 21:50] joschi commented on #4012
`database` is `null` when you're trying to use it in the assignment of `dao`.

Try pulling the assignment of `dao` into the constructor (`HelloJsonResource(Jdbi database)`).

[2021-06-01 22:37] rossedwardsus commented on #4012
Sorry can you clarify what you mean?

[2021-06-01 22:46] rossedwardsus commented on #4012
I get a different error but my code might not be right.

private Jdbi database;
    final MyDAO dao;

HelloJsonResource(Jdbi database){
        this.database = database;
        this.dao = database.onDemand(MyDAO.class);
    }

java -jar target/DWGettingStarted-1.0-SNAPSHOT.jar server dwgettingstarted.yaml
INFO  [2021-06-01 22:44:41,538] org.eclipse.jetty.util.log: Logging initialized @13632ms to

[2021-06-02 04:30] rossedwardsus commented on #4012
I have gotten the code to build however this line, this.dao = jdbi.onDemand(MyDao1.class) keeps throwing an error at runtime.

org.jdbi.v3.core.extension.NoSuchExtensionException: Extension not found: interface com.javaeeeee.dwstart.db.MyDao1

I have placed it within the constructor and outside and still get the same error.

[2021-06-03 10:25] j4n1 commented on #4012
@rossedwardsus can you share complete project in a repo?

[2021-06-03 22:49] anvi265 opened #4020 "How can I customize serde in jackson-dropwizard based on api version?"
I have two versions of API v1 & v2. One uses camelCase as a separator and one uses snake_case. I have a common model class which I would like to reuse across both API versions. So, how would I be able to tell dropwizard to use camel case serializer for V1 apis and snake_case for V2 apis?

[2021-06-04 06:30] joschi commented on #4020
@anvi265 You can override the [`ObjectWriter`](https://fasterxml.github.io/jackson-databind/javadoc/2.12/com/fasterxml/jackson/databind/ObjectWriter.html) and [`ObjectReader`](https://fasterxml.github.io/jackson-databind/javadoc/2.12/com/fasterxml/jackson/databind/ObjectReader.html) configuration in your JAX-RS resources using [`ObjectWriterInjector`](https://fasterxml.github.io/jackson-jaxrs-prov

[2021-06-04 15:38] anvi265 commented on #4020
Can I just change the object mapper to be used for APIs that need snake_case? (Just for that API?

`
    ObjectMapper newMapper = baseConfig.copy();
    newMapper.setPropertyNamingStrategy(PropertyNamingStrategy.SNAKE_CASE);
`

But how can I configure this on resource level? For others, I would not set this property.

[2021-06-04 18:39] rossedwardsus commented on #4012
Someone in the JDBI community ended up figuring it out.  It was a simple issue related to using the wrong imports which i didn't even notice i had done.  So the code was compiling but there was probably an error being thrown, possibly related to incompatible types, but it was disappearing and instead i was getting the one i mentioned.  Once i changed the imports it worked as expected.

Thanks!

[2021-06-04 21:13] joschi commented on #4020
@anvi265 Please refer to the linked Javadoc and the example in the `jackson-jaxrs-providers` project.

[2021-06-04 21:48] OneCricketeer commented on #3664
Not sure if this answers your question since you're using different web servers, but here's one example of using Dropwizard with an Ameria project - https://armeria.dev/docs/advanced-dropwizard-integration/ ([source](https://github.com/line/armeria/blob/master/dropwizard2/src/main/java/com/linecorp/armeria/dropwizard/ArmeriaServerFactory.java#L52))

But the gist there is that the Dropwizard Jetty

[2021-06-07 00:08] #3287 closed

[2021-06-07 16:58] mschechter-bellese commented on #3876
@joschi / @arteam,

Could you please let me know when you might be able to get to the [pull request](#4007)? I'd like to be able to address any issues you find.

Thanks!

[2021-06-10 13:16] hoto commented on #1341
We have a huge dropwizard project with lots of manually brought in modules and configs.
After adding [DocuSign SDK ](https://github.com/docusign/docusign-esign-java-client) to that project we've noticed some of our unrelated to DocuSign tests fail in weird ways.
Problem is that if a library brings in `jersey-media-json-jackson` it wrecks your existing jersey config.

Now the problem with setting `

[2021-06-11 10:47] hoto commented on #1341
Another solution is to copy in the whole source code of `jersey-media-json-jackson` library into your classpath and remove the `JacksonAutoDiscoverable` (just in case).
Just keep the package structure intact.
This will make the 3rd party library compile and execute no problem.
You may need to bring in some dependencies of `jersey-media-json-jackson` like `jersey-entity-filtering` to avoid copying

[2021-06-11 22:13] jhalehol commented on #2540
@reubenfirmin @sidhant92 can you share how did you solve the issue, I have the same issue

[2021-06-11 22:14] jhalehol commented on #2540
@joschi this is my dependency tree:

`[INFO] com.jivesoftware.service.tenancy:tenancy-registry-http-pojo:jar:3.0.0.0-SNAPSHOT
[INFO] +- io.swagger:swagger-annotations:jar:1.5.13:compile
[INFO] +- io.swagger:swagger-jaxrs:jar:1.5.13:compile
[INFO] |  +- com.fasterxml.jackson.core:jackson-databind:jar:2.9.10:compile (version managed from 2.8.5)
[INFO] |  |  \- com.fasterxml.jackson.core:jackson-core

[2021-06-11 22:16] jhalehol commented on #2540
@joschi this is the dependency tree

[INFO] com.jivesoftware.service.tenancy:tenancy-registry-http-pojo:jar:3.0.0.0-SNAPSHOT
[INFO] +- io.swagger:swagger-annotations:jar:1.5.13:compile
[INFO] +- io.swagger:swagger-jaxrs:jar:1.5.13:compile
[INFO] |  +- com.fasterxml.jackson.core:jackson-databind:jar:2.9.10:compile (version managed from 2.8.5)
[INFO] |  |  \- com.fasterxml.jackson.core:jackson-core:

[2021-06-12 07:00] joschi commented on #2540
@jhalehol Try the latest release of Dropwizard 1.3.x:
https://github.com/dropwizard/dropwizard/releases/tag/v1.3.29

Please also be aware that Dropwizard 1.3.x is EOL and won't receive any updates anymore.

[2021-06-14 12:53] HendrikBoerste opened #4055 "Issues with Weld when updating to Dropwizard 2"
Hi everyone,

we are using Weld Dependency Injection in our Dropwizard services. I know that Weld is not officially supported, but maybe someone has a quick guess if there is any chance to fix the issues that I currently have after updating our services.
Some details:
- We Updated from Dropwizard 1.3.x to 2.0.x
- We are using `weld-servlet-core v3.1.6.Final` and `jersey-cdi1x v2.33` which worked f

[2021-06-16 09:20] HaiderRazvi opened #4066 "Http/2 with TLSv1.3"
The following line of code prohibits the ability to use TLSv1.3 with H2 connectors. If you agree, can this please be fixed? Thank you.

https://github.com/dropwizard/dropwizard/blob/33d0dd89f6330f06fc81a29fa058fc70fd9d9f7d/dropwizard-http2/src/main/java/io/dropwizard/http2/Http2ConnectorFactory.java#L94

[2021-06-16 12:13] #4066 closed

[2021-06-16 12:39] joschi commented on #4066
@HaiderRazvi Thanks for reporting this!

A fix will be available in the next version of Dropwizard 2.0.x. 😄

[2021-06-16 22:53] HaiderRazvi commented on #4066
Thanks so much. Appreciate the super quick response and fix.

[2021-06-21 10:20] hoto commented on #1341
After some back and forth it looks like the best workaround is to shadow the `org.glassfish.jersey.jackson.internal.JacksonAutoDiscoverable` with an empty implementation.

So bring in the `jersey-media-json-jackson` and put an empty implementation of `org.glassfish.jersey.jackson.internal.JacksonAutoDiscoverable` on your classpath (somewhere in your project).

With a bit of luck that class will be

[2021-06-28 09:27] set-leanix opened #4091 ""Improper Input Validation" security risk through dropwizard-validation > jakarta.el"
In the latest version [2.0.23](https://github.com/dropwizard/dropwizard/releases/tag/v2.0.23) our security scanner highlights a new critical security risk through:

[code]

* [Snyk database](https://app.snyk.io/vuln/SNYK-JAVA-ORGGLASSFISH-1297098)
* [Potentially related Issue at Jakarta.EL](https://github.com/eclipse-ee4j/el-ri/issues/155)
* [Offending library](https://mvnrepository.com/artifact/j

[2021-06-28 09:35] joschi commented on #4091
@set-leanix Thanks for reporting this! We take security in the Dropwizard project very seriously and welcome every opportunity to improve in this area.

I'm happy to tell you that this is a false positive from Snyk in this case.

While it's correct that Dropwizard 2.0.x is using Hibernate Validator 6.1.x which in turn pulls in `org.glassfish:jakarta.el:3.0.3`, we disabled automatic interpolation o

[2021-06-28 09:50] set-leanix commented on #4091
@joschi Thanks for the excellent and concise feedback. 🙏

[2021-07-01 01:08] jimshowalter opened #4095 "Is reflective access completely gone?"
Does the latest version of metrics-core rely on reflective access?

We have a logging/metrics framework that wraps an old version of metrics-core that requires adding opens to get it to work with Java 9 or higher.

Because the JVM args that define opens aren't backward-compatible with Java 8, we have trouble upgrading existing services (our deployment configuration system didn't anticipate an exce

[2021-07-01 22:36] johnv-git opened #4096 "Spurious liquibase errors: 'Cannot read liquibase.build.properties'"
Liquibase 3.8.1 introduced a bug where its internal version getter fails and complains loudly under some (all?) circumstances.  All subsequent liquibase 3.x versions contain the issue (3.10.2 specifically).  Dropwizard introduced this in 1.3.25 when it updated from liquibase 3.6.3 => 3.10.2.  While the bug seems fixed in liquibase 4.x (and thus in DW 2.1.x), I've managed not to notice this error (

[2021-07-02 20:35] isaki opened #4097 "DropwizardAppExtension does not cleanup database resources"
When a suite of tests is torn down, the open database connections to PostgreSQL remain. Thus, when multiple suites are run from the same regression artifact, eventually the tests exceed the maximum connections configured for the PostgreSQL database.

I will attempt to look into why this is happening, but if someone has an answer/workaround already, I would appreciate it.

**Related Version Informa

[2021-07-03 00:26] isaki commented on #4097
The issue is not in fact DropWizard but is Liquibase; forcing Liquibase to 4.3.5 fixes the issue.

[2021-07-03 00:26] #4097 closed

[2021-07-03 07:14] joschi commented on #4097
Thanks for the update!

Did you open a bug report with Liquibase which we could follow?

[2021-07-05 18:31] slotrans opened #4107 "JsonConfigurationFactory is not used"
### Background
My goal is to use a TOML file, rather than YAML or JSON, to configure my Dropwizard service. While investigating how to do this, I found Weird Stuff...

### Findings
The first thing I tried was adding `jackson-dataformat-toml` to my project and feeding a .toml file to the `server` command, but that failed with a parse error. Then I started digging into how the configuration code wor

[2021-07-08 06:25] joschi commented on #4096
@johnv-git Thanks for reporting this! Do you know if there is a GitHub issue for Liquibase which we could track or reference for this?

[2021-07-15 11:18] duttarnab opened #4127 "Dropwizard do not supports PKCS11 keyStoreType"
Dropwizard throwing error when `keyStoreType` is set to `PKCS11` for  FIPS-compliant key store.

[code]

It doesn't support `PKCS11` (where Keystore isn't file-based)

[2021-07-19 06:06] joschi commented on #4127
@duttarnab Thanks for reporting this!

Could you please provide a minimal example to reproduce the issue and exact information about the version of Dropwizard you're using and the JRE you're using to run the application?

[2021-07-22 23:46] natalie-zamani opened #4154 "Integrate dropwizard-health functionality into the Dropwizard framework"
We should integrate the https://github.com/dropwizard/dropwizard-health functionality into the Dropwizard framework by default.

It would be valuable to have functionality in the base framework to check dependencies on an ongoing basis, and aggregate the health of those dependencies and other checks to be able to communicate a holistic view of an applications health to infrastructure (whether that

[2021-07-23 16:55] natalie-zamani commented on #4154
Remaining TODOs:

- [ ] Write general usage documentation.
- [ ] Write migration guide from dropwizard-health
- [ ] Evaluate whether to make multiple health factories configurable in a single app
- [ ] Revisit API of `StateChangedCallback`, to possibly provide more info.

[2021-07-27 17:11] StanSvec opened #4171 "Bum version of Jackson to 2.12 to support Java records"
Is it possible to migrate Jackson to version 2.12+ please? Jackson natively supports Java records since this version. At the moment `JsonProperty` annotation must be added for every record's field which is quite annoying.

[2021-07-28 10:34] joschi commented on #4171
@StanSvec Jackson 2.12.x is being used in Dropwizard 2.1.x.

There will not be an upgrade of Jackson 2.9.x to 2.12.x in Dropwizard 2.0.x in order to avoid breaking consumers in a patch release.

You can use the latest Dropwizard 2.1.x beta release if you need support for Java records out of the box.

You can also override the version of Jackson in your application build by importing the Jackson 2.

[2021-07-28 13:13] StanSvec commented on #4171
Thanks for making it clear @joschi. I'll close the ticket now.

[2021-07-28 15:19] wenjin-huang opened #4176 "If request '“Content-Encoding:gzip” with raw string in body instead of binary , the response error code should be 400 instead of 500"
If the request has the “Content-Encoding:gzip” in the header, but instead of having binary .gz file as payload, it has a raw string as body payload. The response is 500 error, but it should be 400 BAD request.
[code]

[2021-07-29 10:03] natan-abolafya opened #4177 "Release 2.0.24 for the new jetty CVE"
Hello.

Not sure if this is a good platform to ask for a release but could you release 2.0.24 so we can avoid the [new jetty vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-34429) that is fixed at 9.4.43?

For a little more context: Our builds (as I suspect many others) fail when a vulnerability is found which is a blocking issue. We can ignore specific vulnerabilities of course, which we

[2021-07-29 12:52] joschi commented on #4177
@natan-abolafya Thanks for bringing this up!

We've just released Dropwizard 2.0.24 with the latest version of Jetty 9.4.x:
https://github.com/dropwizard/dropwizard/releases/tag/v2.0.24

The artifacts should be available on Maven Central within a few hours.

[2021-07-29 12:52] natan-abolafya commented on #4177
Thank you @joschi

[2021-08-10 23:13] #4154 closed

[2021-08-11 15:16] RohanNagar opened #4188 "How to create configuration property of type Duration"
Hi, I was looking for some documentation on how to use `java.time.Duration` as a configuration property but couldn't find any. I have the following configuration:

[code]

And in my YML file I have:

[code]

but when I try to read this, I get an error:

[code]

What is the correct way to specify a `Duration` in the yml file? Thanks for your help!

[2021-08-11 16:35] mattnelson commented on #4188
Does using a ISO8601 duration format work?

[code]

[2021-08-11 16:41] RohanNagar commented on #4188
@mattnelson yes! That works, thanks so much.

[2021-08-11 16:41] #4188 closed

[2021-08-12 06:20] joschi commented on #4188
For more readable durations in your configuration files, you can also use [`io.dropwizard.util.Duration`](https://javadoc.io/static/io.dropwizard/dropwizard-util/2.0.24/io/dropwizard/util/Duration.html).

[2021-08-12 15:52] RohanNagar commented on #4188
Thanks @joschi, this is perfect.

[2021-08-13 13:59] mschechter-bellese commented on #4091
Just curious - is there a reason to avoid updating `jakarta.el` to 4.0.1 (the latest released version)? I'm guessing there's the potential for some breaking changes; it's just that the latest release is over a year newer.

[2021-08-13 14:27] joschi commented on #4091
Yes, `jakarta.el:4.0.1` is using the Jakarta EE namespace (`jakarta.*`) while we are still using the Java EE namespace (`javax.*`).

Migrating this will lead down a very deep rabbit hole in which we'll have to update Jersey (JAX-RS), Hibernate Validator, Hibernate, and a bunch of related dependencies.

This is tentatively planned for Dropwizard 3.0.x.

https://jakarta.ee/about/faq/
https://adambie

[2021-08-18 15:53] BeniaminK opened #4196 "dropwizard-example maven-enforcer-plugin Dependency Convergence outputs invalid results"
I was checking the `dropwizard-example` project and I saw that it uses very old `1.4.1` version of `maven-enforcer-plugin`. When I updated the version to `3.0.0` (the latest one) - the DependencyConvergency task started to fail and indeed the dependency convergency fails. I think this should be updated and either `<DependencyConvergence />` rule should be removed or `dropwizard-dependencies` shoul

[2021-08-18 16:02] BeniaminK commented on #4196
[code]

[2021-08-18 16:41] mlilback opened #4197 "new feature proposal: freemarker render using fixed path"
I've written a modified version of FreemarkerViewRenderer I call FreemarkerViewPathRenderer, which uses a fixed path to find template files instead of the class loader. It requires specifying the renderers to use so it doesn't conflict with the default Freemarker one. I use it as follows:

[code]
It only works if a view's template name is absolute. I didn't investigate because I was already doing