[2015-10-26 10:45] joschi commented on #1294
@carminexx Thanks for the update!

[2015-10-27 14:20] fexbraun commented on #1303
It's the ```CliTest```, isn't it?
It's failing due http://jira.qos.ch/browse/LOGBACK-397 which a Logback user reported in 2012 and wich is not fixed yet.

In ```io.dropwizard.logging.DefaultLoggingFactory.stop()``` Artem added a lock to avoid some CMEs, which is obviously not enough to workaround LOGBACK-397 completely.

I would guess, that it could be hard to fix the root cause. It's not very ele

[2015-10-27 16:16] nickbabcock opened #1305 "Fix Tests with LF Line Endings in Windows"
Currently the tests will fail Windows because of 9f14b2e and 518d4b5

Having .gitattributes set to `auto` will convert `lf` to `crlf` on windows on checkout (and `crlf` to `lf` on checkin), which makes the tests fail (as the tests only check for `\n`). There are a couple solutions

### Solution 1:

Change gitattributes for mustache and freemarker files to force `lf` endings even on windows machine

[2015-10-27 17:27] harshil07 commented on #1213
@andrejserafim i'm running into this as well. Can you share what the solution was? Did you just exclude the `jerysey-media-json-jackson` lib?

[2015-10-27 18:06] joschi commented on #1305
I don't have a Windows machine handy but @fexbraun wrote in #1286 and #1287 that the problems with building Dropwizard on Windows (or rather running the tests) had been fixed.

@nickbabcock Are you sure that this is caused by the `.gitattributes` file? IIRC setting `text=auto` should be good enough for fixing the original problem (also see https://help.github.com/articles/dealing-with-line-endings

[2015-10-27 18:34] nickbabcock commented on #1305
I think it's very subtle, so let me explain myself.

From the linked documentation:

This means that if I write something with crlf on Windows, it will be checked in as lf. But on a Windows checkout, git may decide to change the lf's to crlf's based on `core.autocrlf`. Relevant documentation:

I have `core.autocrlf = true` on my machine, which is the default for my version of git.

@fexbraun may h

[2015-10-28 05:49] andrejserafim commented on #1213
Indeed, I had to - it's overriding jersey behaviour in all manner of unexpected ways, better to do without it.

[2015-10-28 08:56] fexbraun commented on #1305
I can see @nickbabcock 's point, although it is working on my machine.

@joschi the tests are about correct rendering of the views, not about git's line ending settings.
So why not removing the line ending from the templates as suggested in
https://github.com/dropwizard/dropwizard/pull/1287
and
https://github.com/dropwizard/dropwizard/pull/1286
?

[2015-10-28 10:37] joschi commented on #1297
Solved in #1304.

[2015-10-28 10:37] #1297 closed

[2015-10-28 10:59] joschi commented on #1305
@fexbraun This would solve the specific problem with those two template files but it wouldn't prevent anyone from doing the same mistake again.

For the sake of getting Dropwizard out of the door I'll remove those particular line endings now.

[2015-10-28 13:44] #1305 closed

[2015-10-28 17:06] joschi commented on #1120
@dropwizard/committers I'd like to remove the Dropwizard docs in the root directory of the `gh-pages` branch and create an `index.html` file which redirects to the latest release instead.

This way people see the latest documentation in a versioned way (e. g. http://www.dropwizard.io/0.9.0/docs/index.html instead of http://www.dropwizard.io/docs/index.html) and won't accidentally see the documenta

[2015-10-28 17:13] jplock commented on #1120
Whoops, didn't mean to close this out yet.  That may break all of our google links and whatnot, but generally seems like a good path forward.

[2015-10-28 18:02] arteam commented on #1120
Looks good for me. Many software vendors do it so (Spring, PostgreSQL, InfluxDB, etc...)

[2015-10-28 18:50] zacharyvoase opened #1307 "`@Auth` doesn't have the documented `required` parameter"
The docs at <https://dropwizard.github.io/dropwizard/manual/auth.html#man-auth-resources> suggest that you can use `@Auth(required = false)` to get an optionally-absent principal as a method parameter, but the actual `Auth` annotation doesn't seem to have such a parameter. Is there a way to do this? I'm happy to update the docs accordingly.

[2015-10-28 18:58] evnm opened #1308 "NotNull validation of BaseReporterFactory.frequency fails"
Upon upgrading to Dropwizard 0.9.0, the `db migrate` task of an application I maintain failed with the following output:

[code]

The `ReporterFactory` in play is [`DatadogReporterFactory`](https://github.com/coursera/metrics-datadog/blob/master/dropwizard-metrics-datadog/src/main/java/io/dropwizard/metrics/DatadogReporterFactory.java) from the `dropwizard-metrics-datadog` package. Following the l

[2015-10-28 20:16] zacharyvoase commented on #1307
Oh, I'm going to close this as (effectively) a duplicate of #1271 — the docs clarify the situation, but they do need to be pushed to dropwizard.io.

[2015-10-28 20:16] #1307 closed

[2015-10-28 20:19] nickbabcock commented on #1308
Closed by #1309

[2015-10-28 20:19] #1308 closed

[2015-10-28 20:29] evnm commented on #1308
Thanks for the quick turnaround time!

[2015-10-28 21:15] ferdy-lw opened #1311 "ChainedAuthFilter throws NPE on no credentials"
The chained auth filter will throw a NullPointerException if none of the filters create a securityContext or throw a WebApplicationException. In this case the `firstException` will be null and the throw fails:

https://github.com/dropwizard/dropwizard/blob/master/dropwizard-auth/src/main/java/io/dropwizard/auth/chained/ChainedAuthFilter.java#L55

Is this expected behaviour? If we use auth filters

[2015-10-28 21:45] ferdy-lw commented on #1311
After delving into it a little more it appears that this might be working as expected? `@Auth` does not support `required` any more. So to have optional injection of the principal is now not supported, in which case does this mean we must always have a final filter that will create a `securityContext` that must return a principal of the type expected (which must have some indication that it is not

[2015-10-28 22:09] jplock commented on #1311
Per https://github.com/dropwizard/dropwizard/pull/1162, does it work if you add the `@PermitAll` annotation to the resource method?

[2015-10-28 22:52] #1120 closed

[2015-10-28 22:54] joschi commented on #1271
Documentation for Dropwizard 0.9.0 is now available at http://www.dropwizard.io/0.9.0/docs/

[2015-10-28 22:54] #1271 closed

[2015-10-28 22:58] ferdy-lw commented on #1311
No, it still fails with the NPE in the `ChainedAuthFilter`. If I do add the null check so it doesn't cause the NPE, it then fails further downstream when attempting to provide the principal to the `@Auth` annotation:

https://github.com/dropwizard/dropwizard/blob/master/dropwizard-auth/src/main/java/io/dropwizard/auth/AuthValueFactoryProvider.java#L67

The `@PermitAll` seems to still require a pri

[2015-10-29 00:31] narunarthy-invn opened #1313 "Dropwizard gzip compression not working"
I'm using dropwizard  0.8.1 version and have added following compression parameters in config.yaml Also the HTTP Requet has a header "Accept-Encoding: gzip, deflate", And my output response is Application/Json and its size is approximately 32 KB and not compressed. I'don't see any ERROR logs for not initializing the compression on the server side.

server:
      gzip:
      enabled: true
      min

[2015-10-29 01:30] fzakaria opened #1314 "ConfigurationSourceProvider"
I found a configuration source provider that works on resources very useful since *src/main/resources* is already on the classpath.

    public class ResourceConfigurationSourceProvider implements ConfigurationSourceProvider {

        @Override
        public InputStream open(String path) throws IOException {
            return getClass().getClassLoader().getResourceAsStream(path);
        }

[2015-10-29 01:30] fzakaria commented on #1314
This issue is to see if thats worthwhile incorporating in the main dropwizard code. if so , I can send PR.

[2015-10-29 05:55] TurtleShip commented on #1271
Thanks! :+1:

[2015-10-29 08:22] achaphiv opened #1315 "Cannot use metrics reporters in 0.9.0 or 0.9.0-rc5"
The following works in 0.9.0-rc4.

Class
[code]

config.yml (note that this also fails for other reporter types, but I'm going with the simplest example)
[code]

Starting in 0.9.0-rc5 and also in 0.9.0, you get this:
[code]

[2015-10-29 08:29] achaphiv commented on #1315
Ah I see this was fixed in #1308.

[2015-10-29 08:29] #1315 closed

[2015-10-29 10:36] #1314 closed

[2015-10-29 10:37] joschi commented on #1314
Thanks! I've added the class in 615048cdacdcab047dfb4919fdd73709ab00c1cd.

[2015-10-29 10:41] joschi commented on #1313
Please upgrade to Dropwizard 0.8.4 or 0.9.0 and check if the problem still exists there.

[2015-10-29 11:16] joschi commented on #1311
@ferdy-lw Could you please provide a small, minimal Dropwizard application to reproduce this issue?

[2015-10-29 20:56] ferdy-lw commented on #1311
After reading through the source and the comments I think the way it currently works is fine, and with a little rehash of my auth strategy I was able to use my (cookie auth) filter and respond correctly.

The filter must throw an exception or set the `securityContext` - this make sense with the understanding that auth filters are _only_ used when a resource has a role annotation or `@Auth`; conseq

[2015-10-29 20:56] #1311 closed

[2015-10-30 06:35] sheldon-sminq opened #1317 "0.9.0 Metrics configuration issue"
I just upgraded to 0.9.0 and get the following error while lunching application

Exception in thread "main" javax.validation.UnexpectedTypeException: HV000186: The constraint of type 'javax.validation.constraints.NotNull' defined on 'metrics.reporters[0].frequency' has multiple matching constraint validators which is due to an additional value handler of type 'io.dropwizard.validation.valuehandlin

[2015-10-30 09:02] joschi commented on #1317
Duplicate of #1308.

[2015-10-30 09:02] #1317 closed

[2015-10-30 13:19] arungupta2008 commented on #799
i have dropwizard version 0.7.0-1 can we fix this for this version ? Please

[2015-10-30 13:58] joschi commented on #799
@arungupta2008 No, Dropwizard 0.7.x is not maintained anymore. Upgrade to Dropwizard 0.8.x or 0.9.x.

[2015-10-31 04:57] evnm opened #1318 "Support authentication of polymorphic Principal classes"
A web service that I'm implementing requires the notion of different classes of API keys for authenticating requests to different endpoints (e.g. read vs write keys). I thought that the natural way to implement this would be to form a simple class hierarchy of `java.security.Principal`s:

[code]

And then use the `@Auth` annotation to inject these keys in endpoints accordingly:

[code]

However, D

[2015-11-01 13:35] ahus1 opened #1320 "Migration 0.8 -> 0.9 / @Auth doesn't have required attribute any more"
Dropwizard 0.8 had an attribute to `@Auth` so you could annotate a method with

[code]

Dropwizard 0.9 doesn't. The [Migration Guide](https://github.com/dropwizard/dropwizard/wiki/Upgrade-guide-0.8.x-to-0.9.x) doesn't describe how to solve this. I found a discussion #1162 about `@PermitAll` but I am not sure if I read it correctly and if this discussion is up to date with the release of 0.9.

Plea

[2015-11-02 19:58] lewisd32 opened #1321 "Error when running with no config file specified"
I'm trying to set up my `*Configuration` classes with defaults in the class, so I don't need to tell the app a config file when it's run in development.  However, when I run the app, I get this error:
[code]
I can see that `DataSourceFactory` has a `getHealthCheckValidationTimeout`, method, but I see no matching setter.  From what I see in the code, `getValidationQueryTimeout` and `setValidationQu

[2015-11-03 08:55] joschi commented on #1321
@lewisd32 Which version of Dropwizard are you using?

[2015-11-03 14:07] #1321 closed

[2015-11-03 15:31] lewisd32 commented on #1321
I should have mentioned I was using 0.9.0, but it looks like you figured it out. Thanks! :)

[2015-11-03 17:12] maffe opened #1324 "Wrong unit in FileAppenderFactory documentation"
[FileAppenderFactory](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-util/src/main/java/io/dropwizard/util/Size.java) says `K` is a valid unit for `maxFileSize`, but [Size](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-util/src/main/java/io/dropwizard/util/Size.java) requires `KB`.

Starting the application will fail:

  * Failed to parse configuration at: loggin

[2015-11-04 12:47] blommish opened #1325 "Invalid JDK verison in profile"
Dropwizard 0.9.1
org.glassfish.jersey.core does exist on nexus
Reason: Invalid JDK version in profile 'javadoc-jdk8+': Unbounded range: [1.8 for project unknown:hk2-parent

Some names are changed, but the structure is the same

maven:

	Unable to get dependency information: Unable to read the metadata file for artif
	act 'org.glassfish.hk2:hk2-api:jar': Invalid JDK version in profile 'javadoc-jdk

[2015-11-04 13:03] joschi commented on #1325
Which Java/JDK version are you using?

[2015-11-04 13:05] joschi commented on #1325
FWIW, a short Google search reveals https://java.net/jira/browse/JERSEY-2881 and https://java.net/jira/browse/HK2-277

[2015-11-04 13:09] blommish commented on #1325
Tried JDK 1.7/1.8
But it might be as simple as the jar does not exist on our nexus and it does not get downloaded..
I came to the conclusion after writing it here that the issue is not actually related to dropwizard at all..

[2015-11-04 13:09] #1325 closed

[2015-11-04 13:20] blommish commented on #1325
Very weird, but putting my dependencies in dependencyManagement solved it..

[2015-11-04 13:25] joschi commented on #1325
The offending POM (hk2-parent) has been fixed between HK2 2.4.0-b31 and HK2 2.4.0-b32:

* https://github.com/hk2-project/hk2/blob/hk2-parent-2.4.0-b31/pom.xml#L1095-L1104
* https://github.com/hk2-project/hk2/blob/hk2-parent-2.4.0-b32/pom.xml#L1095-L1104
* https://github.com/hk2-project/hk2/commit/f9c846167b85d7a9a6915d522990b1ea6ca2b4ee

[2015-11-04 13:28] blommish commented on #1325
But that means I do need java 1.8. Shouldn't dropwizard work fine with 1.7?

[2015-11-04 13:29] joschi commented on #1325
@blommish No, that doesn't mean you need Java 8. It's just a profile that's being activated if Java 8 is being used. See http://blog.joda.org/2014/02/turning-off-doclint-in-jdk-8-javadoc.html for the reasons to have such a profile (which Dropwizard also has).

[2015-11-05 08:03] blommish commented on #1325
@joschi Hmm, I do not get this to work at all. If I understand ir correctly, the error should actually not happen when using Java 7.
And running Java 8 with doclint turned off does not solve the problem
Reason: Invalid JDK version in profile 'javadoc-jdk8+': Unbounded range: [1.8 for project unknown:hk2-parent

[2015-11-05 08:26] joschi commented on #1325
@blommish The problem is that the Maven Enforcer plugin (rightfully) complains about the (invalid) version range in the hk2-parent 2.4.0-b31 POM. You can either deactivate this check, remove the Maven Enforcer plugin, or override the version of HK2 being used in your project (which will bring some problems with the Maven Enforcer plugin if you're using it).

[2015-11-05 08:36] blommish commented on #1325
@joschi I finally found it. Due to the parent pom we are using, we cannot have maven 3+, therefor using Maven 2.2.1. When running maven 3.3.3 it worked.

Thanks a lot for your help and explanations!

[2015-11-07 16:54] crudbug opened #1329 "ERROR [0.8 -> 0.9] @Auth No injection source found"
I am migrating from 0.8 to 0.9, one of the methods has @Auth, jersey is throwing an error

[code]

[code]

[code]

[2015-11-07 17:13] arteam commented on #1329
Could to register the specific binder in your application and try again?
[code]

[2015-11-07 17:34] crudbug commented on #1329
@arteam this solves the issue. Thanks !

Following - https://github.com/dropwizard/dropwizard/wiki/Upgrade-guide-0.8.x-to-0.9.x

We need to add filter and also factory provider. Previously, in 0.8.x registering only filters was required.

[code]

[2015-11-07 17:35] #1329 closed

[2015-11-09 15:49] jplock commented on #1147
Can this be closed in favor of #1330 ?

[2015-11-09 20:12] harshil07 opened #1334 "No session currently bound to execution context - for query in authenticator"
Trying to upgrade to dropwizard 0.9.0/1. I have a OauthAuthenticator registered that is trying to make a database query but getting the following error.

[code]

I have the `@UnitOfWork` annotation on the resource method. (This works with dropwizard 0.8.x)

After spending a little time in the debugger it essentially looks like a session is never opened i.e this line is never called. https://github

[2015-11-10 14:02] rupertlssmith opened #1335 "hk2 2.4.0-b31 has a malformed Maven pom (in hk2-parent)"
The HK2 issue can be found here:

https://java.net/jira/browse/HK2-277

A DW 0.9.1 project uses hk 2.4.0, which has a malformed line in its parent pom (the last one below):

<profile>
  <id>javadoc-jdk8+</id>
    <activation>
      <jdk>[1.8</jdk>

This causes the Maven project import to fail in IntelliJ. I can use 'mvn idea:idea' as a workaround, but its really annoying because that blows away al

[2015-11-10 14:05] rupertlssmith commented on #1335
The dependency comes through org.glassfish.jersey.core:jersey-server:jar:2.22.1, and unfortunately that seems to the be latest build available in maven central.

[2015-11-10 14:32] jplock commented on #962
Can this be closed after https://github.com/dropwizard/dropwizard/commit/e4380dcfa457a75ef2e323411f4f69d8dd556f6e was merged or was there more things we wanted to do?

[2015-11-10 14:57] rupertlssmith commented on #1335
This can be worked around by excluding hk2 from dropwizard, in a projects pom.xml:

    <dependencyManagement>
        <dependencies>

            <dependency>
                <groupId>io.dropwizard</groupId>
                <artifactId>dropwizard-bom</artifactId>
                <version>${dropwizard.version}</version>
                <type>pom</type>
                <scope>import</scope>

[2015-11-10 15:02] nickbabcock commented on #1335
Related to #1325?

[2015-11-10 15:03] joschi commented on #1335
@nickbabcock Yes, it's the same bug. This will be fixed in the next Jersey version (which will depend on a more recent version of HK2).

[2015-11-10 15:04] joschi commented on #962
@jplock I'd pull in the classes from  dropwizard-java8 before closing this issue.

[2015-11-10 15:25] rupertlssmith commented on #1335
Yep, same issue. I'll close this one.

[2015-11-10 15:25] #1335 closed

[2015-11-13 07:47] achaphiv opened #1339 "java.util.Stream#iterator doesn't serialize properly"
The following is true as of v0.9.1.

This works:

[code]

it produces:
[code]

This does not work:

[code]

it produces:
[code]

It looks like it doesn't like the fact that Stream#iterator implements multiple interfaces? Because this does work:

[code]

From the source of Spliterators#iterator
[code]

Note that this also works:
[code]

[2015-11-13 08:01] achaphiv commented on #1339
Oh also, it does work if you specify the type like so:

[code]

but I was using Object return type for these examples because I stumble onto this problem when I needed to return a Response for setting headers.

I.E. this started failing:

[code]

[2015-11-13 09:28] sisingh commented on #868
@DeanPoulin , if I change log level in yml file, would that be reflected at run time. For e.g, I want to change the log level.

[2015-11-16 17:54] RichardBradley commented on #862
I'd love to have an answer to this one.
I've been poring over this in the debugger and I can't figure it out.

The "jooq bundle" is registering a ConnectionProvider into a DropwizardResourceConfig during run()

How can I get it back out again in other code during `run`? I can't find a `ServiceLocator` or anything like it nearby.

I find the HK2 stuff impossible to follow.

[2015-11-16 21:30] natnan commented on #862
Looks like I have forgotten to close this issue. If you check my other issue #1026, I have found a solution to that. But yeah, HK2 is quite difficult to work with given the lack of documentation.

So, either you create your own service locator instead of registering binders to Jersey, and only register your ServiceLocator

[code]

or you "bridge" your service locator: https://github.com/natnan/dro

[2015-11-16 21:30] #862 closed

[2015-11-16 23:23] josephlbarnett opened #1341 "Bootstrap ObjectMapper not used in Jersey MessageBodyWriter"
Dropwizard's bootstrap object has an ObjectMapper in it that we've been trying to get to understand java8 datatypes (Optional / DateTime / etc).  Initially we thought the `dropwizard-java8` bundle would do this for us, as it's setting up bootstrap.getObjectMapper() with the appropriate jackson modules, and allows us to return Optional resources.  However, in order to return objects that contain Op

[2015-11-17 07:15] arteam commented on #1341
It's actualy registered. See [here](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-core/src/main/java/io/dropwizard/server/AbstractServerFactory.java#L482).

Could you provide a test case, when handling Java8 `Optional` values doesn't work?

[2015-11-17 07:42] RichardBradley commented on #862
Thanks for your reply. I still don't understand how to do this though :-(

in my Dropwizard app, I have:

[code]

The JooqBundle creates a ConnectionProvider and registers it with Jersey:

[code]

I'd like to use that pool in my "run", rather than creating a second pool.

Are you able to help me fill in the "???" bit? I can't figure it out from the two links in your previous post.

[2015-11-17 16:47] jbarnettwomply commented on #1341
Hmm interesting, if I build a new standalone minimal project, it works properly.  Something in our actual application must be conflicting with the default dropwizard provider somehow?

[2015-11-17 16:59] jbarnettwomply commented on #1341
It appears that adding:
[code]
as a dependency is what causes this to break

[2015-11-17 17:25] jbarnettwomply commented on #1341
https://github.com/jbarnettwomply/dropwizard-jersey-media-conflict displays the issue.  if the `jersey-media-json-jackson` dependency is removed, the test passes.  alternatively, if the `if (false)` is changed to `if (true)` in `Java8Application.java` in order to manually register a provider, the test passes.

[2015-11-17 18:29] natnan commented on #862
I'm not 100% sure about this but I think you cannot access the objects that are registered to Jersey until after `run()` is finalized because Jersey is not initialized yet.

I think you might need to customize `JooqBundle` a little so it has a `getConnectionProvider()` method. Since bundles' `run` method is run before the `Application`, the connection provider should be ready to use. That's the on

[2015-11-18 03:50] RichardBradley commented on #862
Yes, you're right. The binder isn't invoked until after "run()" has finished.
So there's not going to be a way to use Jersey DI inside run() without a lot of changes.

Will do, thanks

[2015-11-18 13:13] pablote commented on #968
I just run into this issue. Is there way a to set the timezone on a per column basis instead of the whole database? I'm currently working against a DB which has datetime columns in different timezones, even within the same table. Thanks.

[2015-11-19 06:22] bripkens commented on #1262
You can use WebSockets with Jetty using the `org.eclipse.jetty.websocket.servlet.WebSocketServlet` and the `configure` method:

[code]

[2015-11-19 06:22] bripkens commented on #1262
What do you think should a WebSocketEnvironment do?

[2015-11-19 15:41] JensRantil commented on #1279
I, too, find currently logger limitting; My usecase is that I need to have a separate file that only logs a certain logger. I need this while keeping the same loggers as usual for all other appenders.

[2015-11-22 12:16] hotmeatballsoup opened #1350 "Add support for 'layout-aware' Dropwizard Views"
I am using `dropwizard-views-freemarker` and am loving it so far, with one exception.

Freemarker doesn't natively support the concept of "**layouts**"; that is, ways of saying "*Hey, this page/FTL here uses a prescribed 'layout' that needs to be a applied at runtime.*" A typical layout might be:

    <HEADER>
    <BODY>
    <FOOTER>

With Freemarker, the only way to accomplish this layout is to r

[2015-11-23 09:19] CzarScar opened #1351 "Does dropwizard support Oracle Native Network Encryption?"
Hi all,

The database we connected to just change the connections to be encrypted. And as a result, our application which written with dropwizard(0.6.1) occurred an error said invalid database address.

Is there anyone who have met this issue? How can we make dropwizard application connect to database through the encryption connections?

[2015-11-23 10:12] joschi commented on #1351
Dropwizard 0.6.x (and 0.7.x for that matter) aren't supported anymore. You should upgrade to Dropwizard 0.9.1 for the latest supported release.

Dropwizard itself doesn't come with any JDBC or database drivers in general. In the end you probably "just" have to pull in the correct driver from Oracle to support SSL/TLS (Oracle Native Network Encryption).

[2015-11-23 10:12] #1351 closed

[2015-11-24 04:57] nate9 opened #1352 "Unable to pass @Auth injected Principal into Sub-Resources"
Previously, in Dropwizard 0.8.x, we were able to inject and pass down the authenticated Principle throughout the entire path.

E.g.
[code]

In Dropwizard 0.9.1, this does not seem to work. Stack trace indicates
[code]

Are there any plans to implement a way to authenticating an entire resource? Can this be considered a regression?

I have also noticed that @PermitAll does not seem to apply to an e

[2015-11-24 14:17] conleym opened #1353 "HttpClientConfiguration can't configure default headers"
I want to set default headers for my `HttpClient` instances (via `org.apache.http.impl.client.HttpClientBuilder.setDefaultHeaders`), but `HttpClientConfiguration` doesn't support it.

To make this happen I had to subclass both `HttpClientConfiguration` and `HttpClientBuilder`. It would be nice if it were just built in.

My solution is pretty simple. Doubtless better solutions exist. But it looks l

[2015-11-24 16:42] edwardsb commented on #1352
Did you add this to your jersey environement?

//If you want to use @Auth to inject a custom Principal type into your resource
    environment.jersey().register(new AuthValueFactoryProvider.Binder<>(User.class));

[2015-11-24 21:51] nate9 commented on #1352
Yes, I am working off of the dropwizard examples. I simply edited it to use return a sub resource for testing.

[2015-11-25 07:21] arteam commented on #1353
Makes sense to provide such configuration out-of-box.

By the way, your solution with overriding `createClient` is the standard way to customize building of Apache HTTP Client in Dropwizard.

[2015-11-25 12:04] Randgalt opened #1355 "Dropwizard always adds "server" and "check" commands. This is restrictive"
I've started using Dropwizard for CLI apps and other types of things. This way, I can create an entire system that consumes config in the same way, etc. However, DW always adds server and check commands. I don't always want this. Add a method to not add these.

[2015-11-25 12:05] #1355 closed

[2015-11-25 12:21] Randgalt opened #1357 "Command help printer incorrectly reports errors"
If I add a command that has required arguments, the "-h" option doesn't suppress error messages. E.g., add this command:

[code]

If you run this in an app with the arguments "test -h". You get this:

[code]

Note the "too few arguments" message. Passing "-h" should stop any argument validation and just print help.

[2015-11-25 12:34] #1353 closed

[2015-11-25 14:53] conleym commented on #1353
:+1:

That's fast turnaround!

[2015-11-25 18:28] arteam commented on #1036
Closed by #1330

[2015-11-25 18:28] #1036 closed

[2015-11-25 18:29] arteam commented on #1209
Fixed by #1330

[2015-11-25 18:29] #1209 closed

[2015-11-25 18:31] arteam commented on #1262
WebSocket wiil not be supported in the Dropwizard core. Check out https://github.com/LivePersonInc/dropwizard-websockets and https://github.com/TomCools/dropwizard-websocket-jee7-bundle

[2015-11-25 18:31] #1262 closed

[2015-11-25 18:36] arteam commented on #1258
This is probably fixed by #1232. Please, check if the issue exists in Dropwizard 0.8.5 or 0.9.1,

[2015-11-25 18:44] arteam commented on #804
Closed as well as #803. Please, provide a test case and open an issue on current master.

[2015-11-25 18:44] #804 closed

[2015-11-25 18:50] arteam commented on #868
In 0.9.1 there is the ability to log to multiply files contributed in 7ab73cd

[2015-11-25 18:50] #868 closed

[2015-11-25 18:54] arteam commented on #972
This functionality was contributed in 05d3fcd

[2015-11-25 18:54] #972 closed

[2015-11-25 19:00] arteam commented on #1076
Support for several data sources/Hibenate bundles was contributed in #1276.

[2015-11-25 19:00] #1076 closed

[2015-11-25 19:05] arteam commented on #1116
I am closing this issue. Without a test case, we can't do much.

Feel free to open a new issue against Dropwizard 0.8.5/0.9.1, if the problem still exists

[2015-11-25 19:05] #1116 closed

[2015-11-25 19:08] arteam commented on #1115
Could you try against Dropwizard 0.8.5? Dropwizard 0.9.1 drastically changed auth staff, so this issue
is probably not relevant.

[2015-11-25 19:09] arteam commented on #1147
Yes. #1130 migrated `BiDiGzipFilter` to `BiDiGzipHandler`.

[2015-11-25 19:09] #1147 closed

[2015-11-25 19:14] arteam commented on #1167
The issue is probably caused by a changed configuration format between 0.6/0.7 or some Jackson bug. Anyway, 0.7.* branch is not supported anymore. If the issue is stiill exist in 0.8/0.9, feel free to open a new issue.

[2015-11-25 19:14] #1167 closed

[2015-11-25 19:21] arteam commented on #1174
The "Getting Started" guide presumes that the default server factory is used in configuration.
For it API endpoints are served for the root. For simple server factory it's different (from `/application`). Now we log the application/admin path during the application startup, which should reduce confusion.

[2015-11-25 19:21] #1174 closed

[2015-11-25 19:22] arteam commented on #1176
#1036 is now resolved and Dropwizard HEAD supports Jetty 9.3.*

[2015-11-25 19:24] arteam commented on #1188
I am closing the issue, because of absence of additional information to reproduce it.

[2015-11-25 19:24] #1188 closed

[2015-11-25 19:27] arteam commented on #1253
I am closing issue, because we can't reproduce it. Feel free to open a new issue, if the current one
exists in Dropwizard 0.8.5/0.9.1.

[2015-11-25 19:27] #1253 closed

[2015-11-25 19:32] arteam commented on #1313
Please, open a new issue with a test case showing an unexpected behaviour. I can't reproduce the issue in 0.8.5/0.9.1.

[2015-11-25 19:32] #1313 closed

[2015-11-25 19:33] devmage commented on #1176
@arteam thanks for the tip! I'll make sure my colleagues are aware.

[2015-11-25 19:35] narunarthy-invn commented on #1313
Upgraded to Dropwizard 0.8.4 and the compression is working.

[2015-11-26 12:37] paukiatwee commented on #1334
I confirm this bug (DW 0.9.1). Anyway to fix this at DW level? Currently my workaround is manually open Hibernate Session see https://github.com/paukiatwee/budgetapp/blob/master/src/main/java/io/budgetapp/dao/AuthTokenDAO.java#L36

[2015-11-26 14:23] arteam commented on #1334
This is related to #1240. Currently `@UnitOfWork` works only for Jersey resources.
We will try to figure out something how to make it work transparently. Currently the only workaround
is manual transaction handling with `SessionFactory`.

[2015-11-26 19:08] richmidwinter opened #1359 "Unable to set HTTP port in dropwizard 0.9.x"
This page:

http://www.dropwizard.io/0.9.1/docs/manual/configuration.html#simple

suggest that this should work in the application yml config file:

[code]

I'm finding it errors though.

[code]

Seems to particularly be the port number causing the issue. Works in 0.8.5.

[2015-11-26 22:20] vvondra commented on #1050
@alph486 we're exactly hitting the OAuth token case. What was the path you chose to go?

Not being able to configure the AuthenticationFactory per resource seems like a big limitation to us.

[2015-11-26 22:29] vvondra commented on #1240
We're currently managing transactions manually like the SO answer suggest, but created a wrapper for it, which simply accepts a callback which should be executed in the transaction. It also handles nesting of transactions, since we decided to drop `@UnitOfWork` annotations and do everything on the service layer: https://gist.github.com/vvondra/1dbcd62306e40fa47294

[2015-11-27 09:39] joschi commented on #1359
@richmidwinter Check your Jackson dependencies for incompatible versions (e. g. by running `mvn dependency:tree`).

[2015-11-27 16:16] m8r-ubnc5g opened #1362 "@Auth Injection in ContainerRequestFilter"
Using DW 0.9.1:
At the moment (perhaps works as designed) it is not possible to inject the @Auth User into some ContainerRequestFilter. For future releases it would be nice to make this possible, perhaps combined with some restrictions for javax.ws.rs.Priorities filter annotation.

[code]

[2015-11-28 10:19] richmidwinter commented on #1359
Good call, thanks!

[2015-11-28 10:19] #1359 closed

[2015-11-30 14:55] alph486 commented on #1050
Hi @vvondra , I ended up reorganizing my services to enable different authentication for my token resources. In other words, the auth service is now a different service/deployable artifact altogether.

[2015-12-02 12:08] t-oydna opened #1367 "Logback is used directly"
Currently both logback and slf4j are required dependencies in Dropwizard. And since you can only have one implementation of slf4j in your class path it's not possible to use slf4j-log4j12, for example.

As far as I understand it's suppose to be up to the developer as to what implementation of slf4j to use. I suggest that logback is not used directly but only through slf4j and that logback-classic,

[2015-12-02 12:33] joschi commented on #1367
Yes, and it's been designed that way. Dropwizard is using Logback for logging and wasn't designed to (easily) replace that.

[2015-12-02 12:33] #1367 closed

[2015-12-02 15:50] pandaadb opened #1368 "Yaml property extension"
Hi,

I would like to suggest an addition to the configuration for dropwizard projects to have base configs that can be extended. I am thinking of something like for example:

(1) configure base.yml to have a logging config that for example looks something like:

     name: timerLog
     threshold: ALL
     archive: true
     archivedLogFilenamePattern: %{LOGPATH}
     archivedFileCount: 31
     ti

[2015-12-02 16:08] joschi commented on #1368
You can already override settings via environment variables (http://www.dropwizard.io/0.9.1/docs/manual/core.html#environment-variables). If you absolutely want to read those properties from another file, you can write a similar `ConfigurationSourceProvider` which substitutes the values in your configuration file.

[2015-12-02 16:08] #1368 closed

[2015-12-04 11:49] pandaadb commented on #1279
I am closing this since dropwizard added support for logger config and separate appenders in 0.9.1

[2015-12-04 11:49] #1279 closed

[2015-12-04 14:35] nicoruti commented on #1173
I'm facing the same issue as @ToastShaman (using dropwizard v0.9.1): the archivedFileCount does not trigger the removal of old files when using in conjunction with maxFileSize.
This leaves either the option to have one infinite large log file or infinite many log files, which are both not very useful for production-use.

[2015-12-04 20:42] mattnelson commented on #1173
I have also noticed this 0.9 regression. My 0.8 based services are still rotating logs.

[2015-12-05 15:45] arteam commented on #1173
See #1218. You would need to remove information about a log date from its archived name. For example, from `/var/log/app-%d{yyyy-MM-dd}-%i.log.gz` to `/var/log/app-%i.log.gz`.

I beleive, Logback's size and time based archiving supports only time-based rollover.

[2015-12-05 15:46] #962 closed

[2015-12-06 23:55] natnan commented on #1320
+1, can't use the new @Auth due to a requirement.

[2015-12-07 05:34] ahmed-isam opened #1373 "MySQL Driver Issue"
Hi, I am truing to run the dropwizard app and it's failing because it's unable to load the class `com.mysql.jdbc.Driver`

**Error Log**
[code]
I am using IntelliJ -not sure if that matters :smile:-

**POM File**
[code]

To be honest, I know this might not be a direct dropwizard problem, rather than my problem working with Maven, but I would still appreciate the help here from dropwizard pros :smil

[2015-12-07 07:11] arteam commented on #1373
You would need to shade your dependencies into one jar. See the [Building Fat JARs](http://www.dropwizard.io/0.9.1/docs/getting-started.html#building-fat-jars) section in the manual.

[2015-12-07 16:58] natnan opened #1375 "Inconsistent `maxThreads` default for JerseyClient"
I might have misunderstood this completely but it felt wrong enough to create an issue here :).

Dropwizard's default `maxThreads` count is defaulted to 1024. While jersey client's is `128`. So, if you have a resource where you make some asynchronous request to another service and burst this resource with 1000 requests simultaneously, 872 of the requests will fail because of jersey client's thread

[2015-12-09 10:23] jansoren opened #1378 "How could I get Dropwizard to hot deploy locally?"
Running 'mvn clean install' every time before starting the application is consuming alot of time. Is there a good way to set up hot deploy of an Dropwizard application in Intellij?

[2015-12-09 11:06] eserlan commented on #1378
Just run the Application.main method in IntelliJ. Remember to add `server whatever.yml` to the program arguments.
Then you can run it in debug mode and it will hotdeploy your changes, as long as you dont change any signatures or some such. Then you have to restart the application.

Way faster than running the maven commands each and every time you make a change

[2015-12-09 11:24] jansoren commented on #1378
Thanks mate :)
![start-app-in-intellij](https://cloud.githubusercontent.com/assets/1298854/11684131/b6f3b46a-9e6f-11e5-9bc4-cdab714aed42.jpg)

[2015-12-09 12:49] #1378 closed

[2015-12-09 14:51] yvandb commented on #898
Is there any update on this issue? @glennmcallister? It seems dw 0.9 moved to filter based authentication, however jetty still doesn't pick up the user identity for the requestlog.
Thank you very much for your attention.

[2015-12-09 16:06] asiletto commented on #898
@yvandb I think if you are using a filter based authentication, you can try to set the user name as said here: https://groups.google.com/forum/#!topic/dropwizard-user/lVP0nDI-NT4

[2015-12-09 17:41] glennmcallister commented on #898
Sorry, I've long since been doing next to nothing with Dropwizard; no time
and a bit handcuffed by my current employer for various reasons. That being
said, from what I know, given the current authentication model employed by
DW there is likely no reason why this can't be supported, it just hasn't
been looked at.

On Wed, Dec 9, 2015 at 11:06 AM Alessandro Siletto <notifications@github.com>
wrote:

[2015-12-09 18:06] yvandb commented on #898
Thanks @asiletto @glennmcallister
I'm using an AuthFilter similar to the one in the documentation: http://www.dropwizard.io/0.9.1/docs/manual/auth.html
I doubt that this is the best way to get to the jetty Request, but it sure does the job:

[code]

[2015-12-10 21:19] mattnelson commented on #1173
I believe our issue may have been because the format was `/var/log/app-%d.log.gz` without the date pattern. But I will be switching over to the `%i` pattern only as that will better protect us against log flooding.

[2015-12-11 08:39] nicoruti commented on #1173
@arteam Thanks for your hint with the date-pattern. Removing the date solves the issue. :+1:

[2015-12-12 19:21] #1357 closed

[2015-12-13 10:55] lingz opened #1381 "Register JerseyViolationExceptionMapper only if not overriden in ResourceTestRule"
Right now inside ResourceTestResourceConfig inside ResourceTestRule, it is hardcoded to always register JerseyViolationException. This breaks in cases where we have our own ExceptionMapper for JerseyViolationException, and want to test the response from that as the default exception mapper will always have priority.

A better behaviour is to check if any exception mappers already exist for JerseyV

[2015-12-13 15:28] nickbabcock commented on #1381
Thanks for trying out 1.0! It looks like this problem arose because of my misunderstanding that registering exception mappers non-deterministic which one is used. There was a pull request to revert registering exception mappers (#1148) in a test resource, but it looks like `JerseyViolationExceptionMapper` is a hold out.

Other related commits and pull requests that show how this non-determinism re

[2015-12-13 23:13] ahus1 commented on #1320
I am maintaining a [keycloak-dropwizard library](https://github.com/ahus1/keycloak-dropwizard-integration). For [my examples](https://github.com/ahus1/keycloak-dropwizard-integration/blob/master/keycloak-dropwizard-jaxrs-example/src/main/java/de/ahus1/lottery/adapter/dropwizard/resource/DrawRessource.java) accessing SecurityContext directly worked. It might not work for other types of authenticati

[2015-12-14 08:43] kilemensi opened #1382 "Naming of OptionalOffsetTimeArgumentFactory and OptionalZonedTimeArgumentFactory"
Since `OptionalOffsetTimeArgumentFactory` and `OptionalZonedTimeArgumentFactory` handle `OffsetDateTime` and `ZonedDateTime` respectively, shouldn't they be named `OptionalOffsetDateTimeArgumentFactory` and `OptionalZonedDateTimeArgumentFactory`?

[2015-12-14 08:59] kilemensi opened #1383 "Removal/Deprecating/Opt-in option for Joda, Guava Optional and other Pre Java 8 libraries"
Since dropwizard 1.0 requires Java 8, shouldn't support for things like Joda Time, Guava Optional, etc. get removed from the main library? They could be moved to an external module just like Java 8 features are in an external module for the Dropwizard 0.9.x branch.

[2015-12-14 11:38] nickbabcock commented on #1381
(Thinking out loud here). I think the best approach may be a `registerDefaultExceptionMappers` in the `ResourceTestRuleBuilder`, which by default is enabled, and will register all the default exception mappers like the `registerDefaultExceptionMappers` yaml setting (which is also true by default).

How does that sound?

[2015-12-14 15:49] lingz commented on #1381
That sounds like a fine solution if you want resource test to work out of
the box. Would it be possible to check if exception mappers are already
registered and to only register them if nothing of that type is already
registered?

Bests,
Ling
On Dec 14, 2015 3:38 PM, "Nick Babcock" <notifications@github.com> wrote:

[2015-12-14 16:40] nickbabcock commented on #1381
Not to my knowledge :cry:

[code]

[2015-12-14 18:15] PixelBumper commented on #1054
+1 definitely a show stopper for us

[2015-12-14 18:28] earlye commented on #1368
Alternatively, you could use this:

https://github.com/earlye/dropwizard-multi-config

[2015-12-15 18:39] ajmath opened #1388 "Ability to Configure Custom Logback Encoder/Layout"
I would like the ability to log output in JSON to help with ingesting them into an ELK setup.  This can be accomplished by adding a custom Encoder or Layout on the appender.  The current way of configuring appenders doesn't expose this and so it must be done manually at run-time.

I don't have a strong opinion but I feel like either layout or encoder would be fine, and that we shouldn't use both.

[2015-12-16 00:37] knguyen142 opened #1389 "Hibernate configuration settings"
I'm having issues adding complex settings to hibernate, namely, event listeners.

https://docs.jboss.org/hibernate/orm/3.3/reference/en/html/events.html

I see I can add it via the hibernate config file, or programmatically. Both ways seem unsupported https://github.com/dropwizard/dropwizard/blob/master/dropwizard-hibernate/src/main/java/io/dropwizard/hibernate/SessionFactoryFactory.java#L83. Prog

[2015-12-16 01:11] knguyen142 commented on #1389
Found it here, thanks! https://github.com/dropwizard/dropwizard/commit/d78431ad8c8d1c545b6b553228b6eb629562d601

[2015-12-16 01:11] #1389 closed

[2015-12-16 11:32] vitorreis opened #1390 "Add imports in the example code blocks of the documentation"
As a developer I would like to explicit be able to see the imports of the code example, often I need to search for the package of a specific class that is in the example.

What do you think about it?

[2015-12-16 13:26] nickbabcock commented on #1381
Closed by #1387.

Call `setRegisterDefaultExceptionMappers(false)` when you're building the a TestResourceRule

[2015-12-16 13:26] #1381 closed

[2015-12-16 13:34] vvondra commented on #125
A nice touch would be able to override config files, or even by default be able to import them from one another.

config extended by config_prod.yml and config_staging.yml

[2015-12-16 15:02] PixelBumper commented on #1318
+1 I hit the wall because of this too.

[2015-12-19 13:01] richmidwinter opened #1391 "Liquibase works with <include file="" /> but not <includeAll path=""/>"
I'm finding (with 0.9.1) that this fails:

[code]

Event though this works:

[code]

This is the stacktrace:

[code]

[2015-12-21 12:40] rowanhill opened #1393 "Support DropwizardClientRule with custom ObjectMapper config"
Hi,

As far as I can tell, it's not possible to apply any custom configuration to the ObjectMapper used by DropwizardClientRule's FakeApplication (since the application and its environment are kept private). Is this by design?

I'd like to register a Module and set some SerializationFeatures on the ObjectMapper used - without that, the JSON the client under test sends cannot be deserialized.

It l

[2015-12-22 20:04] ajmath commented on #1388
Any feedback on this?  I'm open to doing the work but I want to make sure that it is something that will be accepted.

[2015-12-23 01:06] brentryan commented on #1388
I did this by just implementing my own appender that extends from the current file appender provided by dropwizard. Then I pass in my custom json layout and formatters. Everything works great.

[2015-12-23 12:15] shankyty commented on #1217
Do I have to still create two repo?

[2015-12-23 16:27] shtratos commented on #1050
@alph486 I wonder if polymorphic principal would solve your case: https://github.com/dropwizard/dropwizard/issues/1318

[2015-12-23 16:29] alph486 commented on #1050
@shtratos Thanks. In truth, I've since moved on from this project, but good suggestion.

[2015-12-28 03:01] ahmed-isam opened #1395 "Authentication"
Hi I am trying to follow the example on the website here is my code from A-Z

[code]
[code]
[code]
[code]
[code]
[code]
[code]

So as you can see, I can't get authenticated, I am definitely missing something here, help would appreciated

[2015-12-28 18:44] shruti-palshikar commented on #777
Any updates on this?

[2015-12-28 20:24] #1373 closed

[2015-12-29 12:36] mv200580 commented on #54
For Eclipse is good to use Filesync plugin, as it explained here http://www.onehippo.org/library/development/use-filesync-eclipse-plugin-for-faster-turn-around.html

[2015-12-30 06:30] ahmed-isam commented on #1395
Any clues!? I even tried to implement my own `AuthFilter` and registered it after wrapping it with `AuthDynamicFeature` and yes, I tried without `AuthDynamicFeature` with no effect! The filter method never get called. So now, I am getting this JSON.
[code]

[2015-12-30 17:13] pramit11 commented on #1294
I also faced the same issue. Found the exact reason for error. Here, jackson afterburner module version is jackson-module-afterburner-2.5.1, while jackson databind version is jackson-databind-2.6.0. Jackson afterburner directly depends on databind, hence they should be compatible version, so same version should resolve the issue, either both 2.5 or both 2.6 or later.
In this particular case, there

[2015-12-30 21:33] ajmath commented on #1388
@brentryan will that also work for the logger being used by Jetty that logs basic HTTP request events?

[2015-12-31 05:34] mnrasul commented on #1395
@ahmed-isam have a look at this sample (https://github.com/mnrasul/dropwizard-immutable-bean/commit/59893b5a0102fc04c5a3952b51468f47a3c0d6ab) It has a basic functioning basic auth setup.

[2015-12-31 15:15] ajmath commented on #1388
Nevermind on how to configure it.  I saw an example in ConsoleAppenderFactory.java

[2015-12-31 19:13] ahmed-isam commented on #1395
This one doesn't work. it just redirect me to the unauth handler.

Actually, I had this working in a previous version of DW where I was doing curls and whatever client you wanna use as `Basic Bas64(token:)`

[2015-12-31 19:21] mnrasul commented on #1395
@ahmed-isam I tested using the following curl commands. Are you running the project in its original form? or modified form? If there are any differences, they must be the cause of failures...

```curl http://localhost:9000` expected response is `Can't touch this...`
curl http://localhost:9000 --user abc:abc` expected response is `You got permission!`
[code]

[2015-12-31 19:38] ajmath commented on #1388
For the curious, here is what I ended up doing to make this work.

https://gist.github.com/ajmath/e9f90c29cd224653c218

My only gripe is having to add the file META-INF/services file that contains my class name.  Is there a way to have this done automatically via reflection?

[2015-12-31 21:46] ahmed-isam commented on #1395
Is there a way to do header `Authorization: Basic base64(token:)` ?

[2016-01-01 01:59] #1395 closed

[2016-01-04 21:37] stantonk opened #1404 "Add support for forcing log rotation on startup/shutdown"
Otherwise logs do not appear in the correct file on the correct day/hour.

http://stackoverflow.com/questions/27516746/how-to-force-a-log-rotation-when-dropwizard-service-is-shut-down

[2016-01-07 13:30] esigma5 commented on #1173
I ran into the same problem and would like to have the feature of combining maxFileSize and archivedFileCount, as @ToastShaman offered

[2016-01-07 13:33] nickbabcock commented on #1324
This is closed by #1380, as it added `K` as a valid unit.

[2016-01-07 13:33] #1324 closed

[2016-01-08 14:26] petey22uk opened #1408 "Jersey Environment setUrlPattern no longer works"
Setting the url pattern via:

[code]

won't actually set the url pattern, whereas amending the 'rootPath' config for the server block in the yml will. I've narrowed it down to this code here in AbstractServerFactory:

[code]

[2016-01-10 18:19] matsumana opened #1409 "Add support Jetty's System.inheritedChannel option"
At the application deploy never stop the service, If add support Jetty's System.inheritedChannel option.

It Realize by [Server::Starter](https://github.com/kazuho/p5-Server-Starter).

I want to add DropWizard configure option about this feature.

# Introduce about Server::Starter

Server::Starter is superdaemon for hot-deploying server programs.
And popular OSS in Japan.

## How to use Server::St

[2016-01-12 21:30] JamesXNelson commented on #1367
So, basically, any other framework that is also opinionated about logging won't work in dropwizard?

[2016-01-13 10:17] t-oydna commented on #1367
As far as I know logback is the only native implementation of sl4j so the only possible conflict is with the adaptation layers (e.g. slf4j-log4j12).

BTW, here is the solution I ended up with, for anyone interested (works with any framework):

1 . Create a logback appender that redirects all its logs to your framework:
[code]
2 . Make this an appender in the configuration (loback.xml), probably th

[2016-01-13 14:22] jplock commented on #1409
This doesn't sound too complicated to me.  Would you mind submitting a pull request with your changes?

[2016-01-13 14:37] matsumana commented on #1409
I submited. Please review.

#1410

[2016-01-13 20:47] joschi commented on #1367
No, usually you can exclude the logging framework from other libraries and replace them with the appropriate SLF4J legacy bridge: http://www.slf4j.org/legacy.html

[2016-01-14 16:57] arteam commented on #1409
Closed via #410

[2016-01-14 16:57] #1409 closed

[2016-01-14 17:47] benjamin-bader opened #1413 "Add JDBC url to PooledDataSourceFactory"
A Dropwizard module I maintain uses `DataSourceFactory#getUrl()` as part of its configuration; as of 0.9.0, the new interface `PooledDataSourceFactory` does not expose this info.  Per [a dropwizard-dev message](https://groups.google.com/forum/#!topic/dropwizard-dev/4-N8ahwLFy0), adding this to the new interface shouldn't be an issue for any current or future implementations - they all will be JDBC

[2016-01-14 18:27] jplock commented on #1413
That sounds great

[2016-01-15 05:00] #1413 closed

[2016-01-15 23:02] evnm opened #1416 "Add a means of configuring the Jersey Client produced by ResourceTestRule"
Unless I'm mistaken, there isn't a way to inject functionality into [the `configureClient(ClientConfig config)` method of `ResourceTestRule`](https://github.com/dropwizard/dropwizard/blob/cc5f7a8eef8621cfc8d2ff012b525069d032238a/dropwizard-testing/src/main/java/io/dropwizard/testing/junit/ResourceTestRule.java#L215-L220). In cases where tests require custom Jersey client configuration (e.g. when [

[2016-01-16 08:51] arteam commented on #1416
Yes, I remember I wanted similar functionality other day and I didn't found a way to configure `JerseyClient`. I ended up configured `WebTarget` instead. I would welcome such contribution.

One point, though: I've got a pull request brewing [here](https://github.com/arteam/dropwizard/commits/refactor_resource_test) about refactoring `ResourceTestRule`. Currently this class is quite a mess and I wo

[2016-01-16 19:59] arteam commented on #1416
See #1418

[2016-01-17 14:29] jplock commented on #1416
Closing as #1418 was merged

[2016-01-17 14:31] jplock commented on #1391
This seems like an internal liquibase issue instead of with Dropwizard.

[2016-01-17 14:34] #1391 closed

[2016-01-17 14:34] jplock commented on #1390
That sounds great, would you mind submitting a pull request on the pages that need clarifying?

[2016-01-17 14:36] jplock commented on #1383
I'm not sure I agree with this approach, at least not for 1.0.  Maybe in a future release once the internal libraries improve support, but right now, this would break the upgrade path for a lot of users.

[2016-01-17 14:36] jplock commented on #1382
@joschi what do you think?

[2016-01-17 14:37] jplock commented on #1375
Instead of changing the default (as users may be relying on that), would you mind submitting a pull request to clarify the values in the documentation?

[2016-01-17 14:40] arteam commented on #1416
No, this issue should not be closed. #1418 is just a foundation for a pull request to implement a solution for this issue.

[2016-01-17 14:41] jplock commented on #1339
I'm not entirely sure what we would need to do to resolve this.  This seems like an internal Jackson issue if it is indeed an issue.

[2016-01-17 14:41] #1339 closed

[2016-01-17 14:41] jplock commented on #1050
Going to close this out as the creator has moved on and #1318 has been merged.

[2016-01-17 14:41] #1050 closed

[2016-01-17 14:42] jplock commented on #1318
Fixed by #1392

[2016-01-17 14:42] #1318 closed

[2016-01-17 14:43] jplock commented on #1289
Is this still an issue?  Do we need to clarify the documentation or is there a code change required to support this functionality?

[2016-01-17 14:44] jplock commented on #1258
No feedback, closing

[2016-01-17 14:44] #1258 closed

[2016-01-17 14:44] jplock commented on #1237
@nickbabcock has any of your validator improvement changes done anything to handle this issue?  Can we close this out?

[2016-01-17 14:45] jplock commented on #1256
Closing due to lack of feedback

[2016-01-17 14:45] #1256 closed

[2016-01-17 14:46] jplock commented on #699
Has this been fixed by #1340?

[2016-01-17 14:47] jplock commented on #745
Closing due to lack of feedback

[2016-01-17 14:47] #745 closed

[2016-01-17 14:48] jplock commented on #744
I believe this is addressed by https://github.com/dropwizard/dropwizard/pull/1360

[2016-01-17 14:49] jplock commented on #746
Would you mind submitting a pull request for this functionality?

[2016-01-17 14:50] arteam commented on #1383
We discussed this in #1365 and came to the conclusion that we should not remove Guava `Optional` and `Joda-Time` support, because it might be a blocker issue for migrating existing applications to the 1.0.0 version. Unfortunately, we don't have a simple way to modularize support of these libraries, so supporting both in the core looks like a pragmatic approach.

[2016-01-17 14:51] jplock commented on #1170
Is this still an issue in the current 1.0.0 code now that we've integrated `dropwizard-java8` into the core?  The usage of Joda Time is now optional.

[2016-01-17 14:53] jplock commented on #1173
Is this still an issue or would you mind submitting a pull request to implement this functionality if its supported by Logback?

[2016-01-17 14:55] jplock commented on #1054
Would you mind submitting a pull request to implement this improvement?

[2016-01-17 14:57] jplock commented on #819
What do you mean by "confidential"?  Do any of the new authorization-related changes in Dropwizard 0.9.x solve your issue?

[2016-01-17 14:58] #1383 closed

[2016-01-17 14:58] arteam commented on #1170
True, but we still import Joda-Time and register its support as a Jackson module. In the end, we took a pragmatic approach and will support Joda-Time and JSR-310 simultaneously in 1.0.0. See #1365.

[2016-01-17 15:00] jplock commented on #1176
Do we still need to introduce a configuration option for this or does Jetty 9.3.x fix this?

[2016-01-17 15:01] jplock commented on #1240
Closing as #1361 was merged

[2016-01-17 15:01] #1240 closed

[2016-01-17 15:01] jplock commented on #1170
I'm going to close this out for now.

[2016-01-17 15:01] #1170 closed

[2016-01-17 15:02] jplock commented on #1078
Closing as this is related to https://github.com/dropwizard/metrics

[2016-01-17 15:02] #1078 closed

[2016-01-17 15:16] jplock commented on #1416
Oh whoops, sorry about that.

[2016-01-17 15:16] arteam commented on #1173
I beleive this should be fixed in Logback. Currently it doesn't support a rollover by the amount of log files (`FixedWindowRollingPolicy`), when a timestamp is present in log names (`TimeBasedFileNamingAndTriggeringPolicy`). For example, we can't keep 7 days of logs, but maximum 10 files.

If anyone can provide an `ArchiveRemover` implemenation that supports such scenario, I will gladly review it.

[2016-01-17 15:18] jplock commented on #1005
Is this still an issue after https://github.com/dropwizard/dropwizard/pull/1251 was merged?

[2016-01-17 15:20] jplock commented on #1168
My guess is you aren't supporting this application any longer, but I'll ask anyway if the changes in https://github.com/dropwizard/dropwizard/pull/1361 help resolve this?

[2016-01-17 15:21] jplock commented on #1278
Can you provide an example of this so we can add it to the documentation?

[2016-01-17 15:22] jplock commented on #1388
Does https://github.com/dropwizard/dropwizard/pull/1415 address this?

[2016-01-17 15:24] kilemensi commented on #1383
@jplock / @arteam  Good to hear (and I respect) your views.

Just for the record, I will put my views here (even though the issue is closed).

I believe 1.0.0 is a great milestone for any library and it usually means *production ready* for most folks. If we enter this milestone with already "deprecated" libraries like Joda, it means they're going to have to be supported for the foreseable future w

[2016-01-17 15:30] natnan commented on #1375
Sure, I wouldn't mind. But what kind of clarification should I add? Some warning like "warning: If you don't set this (`jerseyClient.maxThread`) high enough to match `server.maxThreads`, some requests may fail due to congestion on jersey client thread pool."?

[2016-01-17 15:46] jplock commented on #1375
I think your use-case only applies if you are creating another request from inside an existing resource.  So that's the main point of clarification I think.

[2016-01-17 16:27] natnan commented on #1375
Ah yes, of course. If it's used by a `Managed` service of sort, it's not relevant.

[2016-01-17 17:00] nickbabcock commented on #1237
I'll have to double check, but what would the expected behavior be for when the `ValidationMethod` is used for cross field validation, where one or more of the fields used in the method could be the problem?

My changes to validations didn't break the error message when a `ValidationMethod` failed, but if we do want to change the message, we should do it sooner rather than later. Potentially the e

[2016-01-17 17:19] martinborgman commented on #819
A servlet engine typically defines a secure endpoint and a non secure endpoint. If you look at tomcat for example it has a non secure port, by default on port 8080, and a secure port, by default on port 8443, defined in it's configuration for this.
You can mark a servlet as "confidential". This means that if you want to access that particular servlet you'll need to access it using the secure endpo

[2016-01-17 18:48] tocr commented on #1054
Surely I can submit a PR. Give me a few days please.

[2016-01-17 22:07] evnm commented on #1383
Another consideration which arguably adds weight to @kilemensi's proposal is the fact that any post-1.x release that removes Guava and Joda APIs from Dropwizard would technically warrant a major version bump, as per semver. If there's truly a desire to roll forward with pure-JDK8 in the near term, a 0.9.x migration branch could be a good means of avoiding a hasty 2.0.0 release.

[2016-01-17 23:25] jplock commented on #1383
I agree on the semver-aspects of doing this breaking change now and you are correct in that we need some time period of marking all of the Joda and Guava classes as `@Deprecated` to give users a chance to migrate.  We're about to create 0.9.2 and we could do a follow-on release of 0.9.3 which includes a JDK bump to 1.8 and deprecates all of the Joda and Guava classes.  I'm not sure what other @dro

[2016-01-18 00:06] mattnelson commented on #1383
Following semver the JDK bump should not be introduced on 0.9.

[2016-01-18 00:10] evnm commented on #1383
0.10.0, then?

[2016-01-18 09:59] pandaadb commented on #1278
Hey,

yes sure, this is my factory extension:

@JsonTypeName("hostnameFile")
public class HostnameFileAppender extends FileAppenderFactory implements AppenderFactory {

	private static final String HACKERY = "NO_VALUE_DROPWIZARD_HACKERY";

	public HostnameFileAppender() {
		setCurrentLogFilename(HACKERY); // hackery to make validation work.
	}
	@Override
	protected FileAppender<ILoggingEvent> buil

[2016-01-18 15:41] joschi commented on #878
Closed due to lack of feedback.

[2016-01-18 15:41] #878 closed

[2016-01-18 15:48] joschi commented on #1383
Guava won't be removed anytime soon from Dropwizard, so we can still support the Guava variant of `Optional<T>`. The code is already there and it's working. I don't see any advantages removing it.

As for Joda-Time, I'm not dogmatic about its use. If someone provided a pull request to move support for Joda-Time into add-on modules and only support the Java Date/Time API (JSR-310) in the core libra

[2016-01-18 16:45] mwhipple commented on #1388
@ajmath To answer the question about having to use the ServiceLoader META-INF/services file: the issue is that classes normally aren't loaded until they are needed in Java ([spec](http://docs.oracle.com/javase/specs/jls/se8/html/jls-12.html#jls-12.4.1)) so there needs to be some reference pointing to the class to have it picked up. There are different ways to do it but the ServiceLoader is standar

[2016-01-18 22:07] lefloh commented on #1289
Yes there is a code change required. I would suggest to add a cache property to the view configuration:

    views:
      .mustache:
        cache: false

The `ViewRenderer` implementations would need to bypass the `LoadingCache` in this case. Shall I provide a pull request?

[2016-01-19 09:50] joschi commented on #1382
Yes, renaming those classes is fine. It was more of an oversight on my end rather than a conscious decision and the end users won't ever come in contact with those classes directly.

[2016-01-19 21:59] aantoniadis commented on #746
@jplock I am currently working on the hooks. In the meantime I solved the reported problem by using subclassing the default server factory like the following:

[code]

[2016-01-19 23:34] aantoniadis commented on #746
After some thinking on how should the hooks be implemented, I realized that they should be similar to lifecycle listeners. Actually, I found a response to my answer at StackOverflow (http://stackoverflow.com/questions/26054748/dropwizard-session-clustering).

Although lifecycle listeners seem to solve this particular problem, I believe that there should be either a more explicit way to install hoo

[2016-01-20 19:15] PeterGroesbeck opened #1426 "Dependency on glassfish hk2 version 2.4.0-b31 missing Java 8 profile fix in version 2.4.0"
The fix for the profile javadoc-jdk8+ in glassfish hk2's parent pom detailed in this ticket does not appear to have made it into Dropwizard's version of that dependency: https://java.net/jira/browse/HK2-277

The result is that I am unable to pull in Dropwizard as a dependency on a project using a version of Maven later than 3.0.3.

[2016-01-20 20:29] nickbabcock commented on #1426
Closing as a dupe of #1335 and #1325, if not a dupe, let us know what's different.

[2016-01-20 20:29] #1426 closed

[2016-01-21 21:51] #1375 closed

[2016-01-25 18:28] devinrsmith opened #1428 "NPE when trying to validate metrics configuration"
In 0.9.1 trying to load up the configuration

[code]

I get

[code]

Maybe fallout from #1308?

[2016-01-25 18:47] #1237 closed

[2016-01-25 19:19] nickbabcock commented on #1428
I think this is unrelated to the posted yaml, as I've tried this yaml on `master` and `v0.9.1` and a simple `Configuration` can be instantiated from this yaml. What else does your `Configuration` class contain?

[2016-01-25 19:25] devinrsmith commented on #1428
My full conf is:

[code]

Must be something different about my app.

I thought at first it might have something to do with the Java8Bundle https://github.com/dropwizard/dropwizard-java8, but the issue is still present when I don't include the bundle.

[2016-01-25 19:28] devinrsmith commented on #1428
On stepping through with a debugger, it's trying to validate a `TimeUnit` context of some sort. If I get rid of the `metrics` block it works, so I'm pretty sure it's some combo of something involving MetricsFactory.

[2016-01-25 19:48] devinrsmith commented on #1428
Looks like google cache has an instance where a user on stack overflow posted a very similar NPE:

https://webcache.googleusercontent.com/search?q=cache:fyHJz3DBUzUJ:www.scriptscoop.xyz/34209414/dropwizard-0-9-1-fails-to-load-metrics-configuraton-for-ganglia&num=1&hl=en&gl=us&strip=0&vwsrc=0

[2016-01-25 20:19] arteam commented on #1428
Could you try to run the `maven-enforcer-plugin` with the [DependencyConvergence](https://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html) rule on your project and check that it doesn't contain several versions of Hibernate Validator?

[2016-01-25 20:24] nickbabcock commented on #1428
Still can't reproduce:

- Created a brand new 0.9.1 project using the archetype
- Used default configuration class included as part of the archetype
- Used the Java8 bundle (in `pom` and in `bootstrap`)
- Used your exact yaml config
- Even included the `ganglia` and `graphite` packages to doublecheck

Any more tips?

[2016-01-25 20:50] devinrsmith commented on #1428
I've enforced and verified there is only one version of Hibernate Validator.

Thanks for quick responses guys... I'll try to pare down my application to minimally demonstrate the issue. I'll be sure to link to it here, or post what the solution if I figure it out.

[2016-01-26 16:20] jmcampanini commented on #1408
i'm running into a similar situation. in short, i'd like to be able to configure this value in code rather than YAML, since it's not a run-time configurable option (i have frontend assets that depend on this prefix being present).

walking through the code, it seems that the `jersey.setUrlPattern` call works, it's just that the code in the application's `run()` block is ran BEFORE the code in `Abs

[2016-01-27 03:51] badunk commented on #1352
I'm running into the same issue

[2016-01-28 02:49] badunk commented on #1352
@nate9 Actually its quite silly, I just realized it actually still works - just add the `Auth` annotation only to the subresource

[2016-01-28 09:39] MalsR commented on #1294
Hi All,
We also experienced the same problem with jackson 2.6.2 and older version of dropwizard 0.7.1 to be precise. We had the same stacktrace as @carminexx did. We reproduced this issue by having a json payload with a null value. e.g. "exampleAttribute": null

Upgrading the jackson version to 2.6.5 has fixed the issue for us. I had a look at the Jackson issues list to see if there was a particul

[2016-01-28 13:25] scho opened #1432 "ClassCastException using @Valid on getter with Optional field"
In our project, we have the situation that we internally store values in (Java8) ```Optional``` types in order to make it easier, to pick one over the other in case one is not set. Validation using ```@Valid``` fails though.

We are currently using DW ```0.9.2```.

Our solution for now is to not use Optional in this case. Then, everything works as expected.

Here is an example:
[code]

Here is the

[2016-01-28 13:36] jplock commented on #1432
Are you trying to deserialize your `Record` object with Jackson? Have you tried a Dropwizard 1.0.0 snapshot which supports Java8 natively?

[2016-01-28 16:28] scho commented on #1432
I deserialize it using Jackson and then I validate the record using Hibernate:
[code]
All the Java8 Optional stuff works with Jackson.

[2016-01-28 16:40] joschi commented on #1432
@scho With Dropwizard 0.9.x you'll need to add the [dropwizard-java8](https://github.com/dropwizard/dropwizard-java8) bundle to your project.

[2016-01-28 23:43] sureshrengasamy opened #1433 "Hibernate validation not happening for @BeanParam with groups"
Issue is [fixed](https://github.com/dropwizard/dropwizard/issues/1227) for validating @BeanParam object but it is not working when validator groups are present.

[code]

[2016-01-29 07:10] nikhil578 commented on #1294
Upgrading to jackson version to 2.6.5 doesn't fix this problem with dropwizard 0.8.3.

[2016-01-29 09:32] joschi commented on #1294
@nikhil578 Upgrading arbitrary dependencies won't help in this case, as the problem was caused by incompatible Jackson dependencies.

Check your dependency tree with `mvn dependency:tree` and make sure that all Jackson dependencies are pulled in with their correct versions.

[2016-01-29 14:44] nickbabcock commented on #1433
I'm marking this as a bug, as currently `Validated` only works on request entities, and one shouldn't have to declare a dummy request object just so they can get the `Validated` annotation to work. I'm proposing a fix that will let the `Validated` annotation be on any parameter but if more than one `Validated` annotation is supplied with a different set of groups then it's a runtime error because

[2016-01-30 13:59] psamsotha commented on #1362
There's no need for injection. If Dropwizard were to implement this, some components would need to be restructured, and not much value would be added beside just the cleaner look of the injection. You can already access your authenticated object through the `SecurityContext`.

[code]

When you create your authenticated object type, you make it extend `Principal`. The reason for this is that it is

[2016-01-30 20:06] tocr commented on #1054
I have submitted a PR #1437 regarding this

[2016-01-31 08:07] VanDavv opened #1438 "NoClassDefFoundError - RequestLogFactory does not exist"
When I changed to 1.0.0, and tried to launch my application, error below occured

Stack trace says, that the cause of this problem is in my configuration class, at the class definition.
[code]
Version 0.9.2 works fine with given code, and all my dependencies are set to 1.0.0 version.

[2016-02-01 20:20] sureshrengasamy commented on #1433
Thank you

[2016-02-02 23:24] chrislbs commented on #625
In case someone came here like me trying to resolve a similar issue and can't upgrade the dropwizard version to the latest immediately. I tried using @gedl workaround but it made the assumption that .available() would always return non-zero. I made a modification to just go ahead and copy the entity stream to a byte array regardless to ensure we truly know if anything is on the input stream.

http

[2016-02-03 11:32] nheitz opened #1439 "Yaml configuration now broken"
As of an upgrade to dropwizard 0.9.2, this now appears in the logs, both using the command line to launch or a ServerRule in test:
  * Unrecognized field at: server.maxThreads
    Did you mean?:
      - adminMaxThreads
      - adminMinThreads
      - adminConnectors
      - adminContextPath
      - applicationConnectors
        [1 more]

The yml is question has:
server:
  gzip:
    enabled: false

[2016-02-03 11:36] nheitz opened #1440 "Odd dropwizard -> jackson versioning in POM"
MvnRepository suggests that dropwizard (as of 0.9.2) and all of it's subprojects should now be pointing at Jackson 2.7.1.  However, upon IDE import, and subsequent investigation of POMS, this does not seem to be the case.
Excerpt from dropwizard-bom-0.9.2.pom:
[code]
Thus, I am getting a mish mash of jackson 2.6.3 and 2.7.1 in my IDE import, and using gradle dependencyInsight.

[2016-02-03 11:39] joschi commented on #1440
I don't know where you've looked up that Dropwizard 0.9.2 would use Jackson 2.7.x, but that's wrong. Make sure to import the `dropwizard-bom` artifact into your project and don't use incompatible Jackson versions – at least if you didn't test the combination before.

[2016-02-03 11:42] nheitz commented on #1440
I was going based on mvnRepository:
http://mvnrepository.com/artifact/io.dropwizard/dropwizard-configuration/0.9.2

but the version of jackson-dataformat-yaml that is brought in does not match.

[2016-02-03 11:50] joschi commented on #1440
Well, that's simply a wrong reading of the website. The "Updates" column merely shows the latest version of the dependency in Maven Central, while the "Version" column shows the actual version of the dependency used in that particular artifact.

Make sure that you don't pull in more recent versions via 3rd party dependencies and use the `dropwizard-bom` artifact. Since you're using Gradle, you pro

[2016-02-03 11:50] #1440 closed

[2016-02-03 11:52] nheitz commented on #1439
This seems to have been the result of a mismatch in jackson parsers.  All works fine now with dropwizard 0.9.2 and jackson 2.6.3 combination.

[2016-02-03 11:52] #1439 closed

[2016-02-03 18:22] skstronghold opened #1441 "Ability to add interceptors to Instrumented Apache's Http Client"
`HttpClientBuilder` for instrumented Apache's Http-Client doesn't provides an api to add interceptors. Vanilla `HttpClientBuilder` from Apache's Http-Client exposes this functionality via an API.

[2016-02-03 18:31] skstronghold opened #1442 "Pickled Graphite reporter for Dropwizard Metrics"
Metrics library allows reporting of pickled metrics to Graphite. Having a Pickled Graphite reporter available in `dropwizard-metrics-graphite` will enables users to choose this functionality

[2016-02-04 23:16] #1408 closed

[2016-02-05 00:23] jplock commented on #1393
I submitted https://github.com/dropwizard/dropwizard/pull/1446 to address this

[2016-02-05 00:23] jplock commented on #1382
I submitted https://github.com/dropwizard/dropwizard/pull/1445 to address this

[2016-02-05 00:24] #1352 closed

[2016-02-05 00:35] jplock commented on #858
Is this still an issue with Dropwizard 0.9.x?

[2016-02-05 00:52] jplock commented on #1441
Are you interested in `addInterceptorFirst` and `addInterceptorLast` or `setHttpProcessor`?

[2016-02-05 01:00] skstronghold commented on #1441
`addInterceptorFirst` and `addInterceptorLast`. Basically, I want to intercept tracing info for each request/response using Zipkin.

[2016-02-05 01:39] jplock commented on #1441
Ok cool.  I'd love to see a `dropwizard-zipkin` bundle or something.  I found https://github.com/rojanu/dropwizard-brave which looks like it hooks into Jersey.

[2016-02-05 02:47] #1382 closed

[2016-02-05 22:04] michaelbraun opened #1447 "Java 8 - OptionalValidatedValueUnwrapper supports Optional but no classes exist for OptionalInt, OptionalLong, etc"
The Java 8 module `OptionalValidatedValueUnwrapper` supports only `java.util.Optional` and there should be additional classes created for `OptionalInt`, `OptionalLong`, and `OptionalDouble`. This is necessary so `@UnwrapValidatedValue` works and can unwrap `OptionalInt` variables for things like `@Min`, `@Max`, etc. Until this is resolved we need to use `Optional<Integer>`, `Optional<Long>`, `Opti

[2016-02-05 22:33] jplock commented on #1447
I'll submit a PR to address this.

[2016-02-05 23:47] jplock commented on #1447
How should this work with invalid values? Throw an exception or just be empty?

[2016-02-06 02:13] michaelbraun commented on #1447
I would think it would work the exact same way as OptionalValidatedValueUnwrapper does for Optional<?> but instead it would do...

[code]

Something like that?

[2016-02-06 11:13] #1393 closed

[2016-02-06 13:03] joschi commented on #744
@oillio If a `Bundle` doesn't require a valid `Environment`, why use a `Bundle` at all and not just load your stuff in the `Application#initialize()` method directly?

[2016-02-06 15:12] arteam commented on #1438
Could you try the latest snapshot? Let's see if the fix in b7c8721 helps.

[2016-02-06 17:56] VanDavv opened #1450 "Hibernate in 1.0.0-Snapshot"
All the imports which worked fine in 0.9.2 are now incorrect in 1.0.0-Snapshot, where did the packages go?

[2016-02-06 22:45] #1447 closed

[2016-02-07 02:28] jamisonhyatt opened #1451 "Json Log File Appender"
We have a requirement of including json logs creation in production.  I realize this has been brought up before, but I felt like this was a little bit of a different take on the issue.

I was looking for a simple way of implementing this in dropwizard, which was straight forward in prior versions, it seemed like [less of a hack](https://gist.github.com/jamisonhyatt/1bfc824da6882d14b453).

Unfortun

[2016-02-07 04:05] jamisonhyatt commented on #1388
@jplock I think those changes made it more difficult to do what @ajmath did in the gist he linked.  I commented on this issue here, https://github.com/dropwizard/dropwizard/issues/1451

[2016-02-07 09:34] oillio commented on #744
The primary use case is when I need configuration data, but not environment data.  Config data is not available in Application#initialize.

If I was implementing the ConfiguredBundle/EnvironmentBundle setup described above, I would want to implement the basic Bundle as well to round the implementation out and match the Command implementation.  It would be useful to have a consistent interface acro

[2016-02-07 13:08] jplock commented on #1451
I think we should ship with a JSON logger out of the box as this is definitely becoming more common with tools like the ELK stack.  Any thoughts @ghenkes on how best to implement one and address @jamisonhyatt's concerns? /cc @dropwizard/committers

[2016-02-07 13:23] jplock commented on #1441
This is going to be difficult to implement without exposing a lot more of the internals of Apache's `HttpClientBuilder` into Dropwizard's.  If you'd like this functionality, could you please submit a pull request?  My main worry is we end up duplicating a lot of the options from Apache's builder into the Dropwizard builder and maintenance will be difficult.

[2016-02-07 13:29] jplock commented on #1416
Ok, I think this can be closed now that #1421 has been merged.  :)

[2016-02-07 13:29] #1416 closed

[2016-02-07 17:51] joschi commented on #1450
@VanDavv What do you mean by incorrect? We've upgraded to Hibernate 5 in Dropwizard 1.0.0 while previous versions were using Hibernate 4.

[2016-02-07 18:31] nickbabcock commented on #1451
Preferably, I would like to see if it could be done as a Dropwizard module (ie, not in core, (but core work may have to be done to make it extensible?)).

[2016-02-07 23:39] tumbarumba opened #1453 "Redirect within WebApplicationException response no longer works"
The change to "[Format WebApplicationException](https://github.com/dropwizard/dropwizard/commit/930443a5bc5760c3319bedf7b36e13810bf0dd8e#diff-235351c1b64afb2dba6188b2bd0c5386)" caused redirects in the response of WebApplicationException to no longer work.

I have created PR dropwizard/dropwizard#1452 to fix this issue.

[2016-02-08 03:28] nickbabcock commented on #1453
Closed by #1452

[2016-02-08 03:28] #1453 closed

[2016-02-08 05:09] skstronghold commented on #1441
I would love to work on this feature in my spare time. Can you give me a basic idea of what all needs to be done?

[2016-02-08 14:13] ghenkes commented on #1451
@jplock the easiest way is probably to change [LayoutFactory](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-logging/src/main/java/io/dropwizard/logging/layout/LayoutFactory.java#L21) to return a Layout, rather than a PatternLayoutBase. I would have done that originally, however all use cases within dropwizard used a PatternLayout and this will require casting to a PatternLayout i

[2016-02-09 00:32] qinfchen opened #1454 "Default JerseyRootPath"
I noticed that with this PR, https://github.com/dropwizard/dropwizard/commit/c436e5e28406ece6ae1250be3268a638ed90bc5b, the default root path is changed from `/` to '/*'. Is that the expected? if so, should that be mentioned in the 1.0 changelog/release notes?

[2016-02-09 00:35] jplock commented on #1454
I believe they are equivalent, even though we've gone back and forth on this topic a lot.  :)

[2016-02-09 15:25] qinfchen commented on #1454
i see, thanks.

[2016-02-09 15:25] #1454 closed

[2016-02-10 13:50] JamesXNelson commented on #1122
What I generally do in your situation is "fake static" using `@Before` and `@AfterClass`.  You can make your instance field for the server null, and guard it behind a server() method which does a null check, inits the rule, and calls its .before().  In your `@AfterClass` you can teardown the server via server().after();

Wrap that up in an abstract class, and use stub methods to configure your ser

[2016-02-10 14:06] jplock commented on #1441
I'd start with forking this project in github and review https://github.com/dropwizard/dropwizard/blob/master/CONTRIBUTING.md.  Once your code is ready, feel free to submit a pull request against your fork/branch which we can review.

[2016-02-12 11:42] sysmat commented on #528
in dropwizard v 0.8.x you just register filter to jersey:

1) CustomContainerResponseFilter implement ContainerResponseFilter
2) environment.jersey().register(new CustomContainerResponseFilter());

[2016-02-12 15:00] scho opened #1457 "Recreating a Http Client throws IllegalArgumentException: A metric named * already exists"
In our application, we re-create the http client using the `JerseyClientBuilder` from time to time because it's configured with Basic Authentication credentials, which may change over time.

Doing so after the first time throws a `IllegalArgumentException` though:
[code]

Is their a way to prevent this from happening?

[2016-02-12 15:33] joschi commented on #1457
Sounds similar to #832 and #1258.

[2016-02-13 00:31] akdev opened #1458 "Allow Multiple Roles in Authorizer.authorize method"
@RolesAllowed takes a string array as a parameter for roles however the Authorizer.authorize method takes a single string. It would be great if the Authorizer interface took an array of strings for roles as well.

[2016-02-14 22:40] randyp opened #1460 "Dropwizard process hanging after exception thrown in Application.run(config, env)"
It appears Server/EnvironmentCommand does not shutdown managed executors when an exception is thrown in application.run, thus causing dropwizard applications to hang even though the application has shutdown.

Historically the behavior I expected was for managed objects to be shutdown, even if they had not been started. If this is no longer the expected behavior, my apologies, just close this issue

[2016-02-15 05:06] kedarjavalkar opened #1461 "How to view custom 404 page"
Hi, can anyone point me how to view my custom 404 page. I searched and tried implementing `ExceptionMapper<RuntimeException>` but this did not work.
I'm using 0.8.1 version

[2016-02-15 06:01] kedarjavalkar commented on #1461
I got it working by
[code]

This only works on incorrect APIs and not on resource calls

my steup :
[code]

Now,
`http://localhost:8080/api/rubish` goes through overridden ExceptionMapper method
`http://localhost:8080/rubish.html` results in default 404 page

how do i setup so that whenever unknown pages are requested dropwizard will show up a custom 404 page

[2016-02-16 16:18] uromahn commented on #475
Hello!
is there an update to this question and the answer above?
We are now two years further down the road and Untertow has significantly matured and shows some great performance figures over Jetty.
Also integrating with Untertow shouldn't be too complex, IMHO.

Thanks for your consideration. :)

[2016-02-16 16:19] uromahn opened #1463 "Undertow Support?"
Just wanted to "re-open" the question which was posted in Issue #475.

[2016-02-16 16:53] joschi commented on #1463
@uromahn The reply in this issue still applies: https://github.com/dropwizard/dropwizard/issues/475#issuecomment-35629030

[2016-02-16 16:53] #1463 closed

[2016-02-16 20:04] R-Gerard commented on #1320
+1 for missing the `required = false` flag.

According to the 0.9 documentation:

I'd rather not implement a new filter just because one of my APIs has optional auth. I looked into extending `OAuthCredentialAuthFilter`, but its constructor is private (so the class is essentially marked final), which forces me to copy-paste the implementation.  :disappointed:

I'm considering just duplicating my AP

[2016-02-17 03:20] stantonk commented on #1189
@zarub2k thx!

[2016-02-17 10:45] uromahn commented on #1463
I understand.
I was looking at the Dropwizard project and noticed how "deep" Jetty is integrated into it. A lot of features are actually based on some Jetty features or extensions. I personally don't like the close coupling between Jetty and the Dropwizard framework, but I guess there is no easy way out.
I may take a look to find out how much effort it would be to de-couple Dropwizard better from

[2016-02-17 11:36] joschi commented on #1463
@uromahn

Do you know of any benchmarks supporting this claim you'd like to share?

[2016-02-17 12:55] uromahn commented on #1463
I was looking at this: http://www.techempower.com/benchmarks/

However, I was first looking at an outdated benchmark from three years ago which compared Jetty 8 with Undertow. The most recent benchmark (round 11) now shows that Jetty 9 has closed the "gap".  Undertow is still pretty fast but Jetty is now listed slightly better (http://www.techempower.com/benchmarks/#section=data-r11&hw=ec2&test=js

[2016-02-17 14:30] joschi commented on #1463
@uromahn Looking at https://www.techempower.com/benchmarks/#section=data-r11&hw=ec2&test=json&s=2&p=5179c-0-0, Jetty seems to be faster than Undertow. This being said, Dropwizard is a complete application framework consisting of the underlying web server (Jetty), the low-level HTTP abstraction (Java Servlets), and the high-level HTTP abstraction (JAX-RS/Jersey). In order to compare Undertow with J

[2016-02-17 20:22] patrickreck opened #1464 "Validation failing"
I've followed the example [here](http://www.dropwizard.io/0.9.2/docs/manual/validation.html), however I am getting an empty `204 No Content` instead of a proper error message.

It's working as expected when I provide the name.

This is my resource method:
[code]

This is my `User` model:
[code]

Am I doing something wrong, or is this not working as intended?

[2016-02-18 09:52] hrishikesh-kumar commented on #1093
JerseyClientConfiguration clientConfig = new JerseyClientConfiguration();
clientConfig.setGzipEnabled(false);
clientConfig.setGzipEnabledForRequests(false);

Client client = new JerseyClientBuilder(environment).using(clientConfig).build("myClient")
client.register(new LoggingFilter(Logger.getLogger(MyTest.class.getName()), true));

[2016-02-18 10:24] KonstantinYegupov opened #1465 "Poor documentation for file logging"
The documentation page http://www.dropwizard.io/0.9.2/docs/manual/configuration.html#file is missing:

* a straightforward description of default log rolling policy (happens at midnight etc)
* the maxFileSize option and description of "fixed window" policy

[2016-02-18 10:35] joschi commented on #1464
`@Valid` doesn't include a null-check, so maybe you want to add `@NotNull` to your method declaration.

If that's not what you mean, please elaborate on the problem and tell us which version of Dropwizard you're using and provide some example code.

[2016-02-18 10:40] KonstantinYegupov commented on #1465
(maxFileSize is present in 0.9.2: https://github.com/dropwizard/dropwizard/blob/v0.9.2/dropwizard-logging/src/main/java/io/dropwizard/logging/FileAppenderFactory.java)

[2016-02-18 10:53] tahaiqbalkhan9 commented on #40
But calling with argument `-Ddw.server.connector.port=$PORT` throws error `* Incorrect type of value at: server.connector.port; is of type: String, expected: int`.
I mean how can I do type safety check while providing environment variable ?

[2016-02-18 11:19] patrickreck commented on #1464
I see. Adding `@NotNull` did the trick. I expected that it would be automatic since there is no default parameter. Thanks!

[2016-02-18 11:19] #1464 closed

[2016-02-18 20:51] djnawara commented on #1438
Not sure if this is helpful, but FYI…

I'm setting up a new app locally and tried to use the version listed on the site, 0.9.2, but I get the same problem above. I'd copied this out of [one of the examples](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-core/pom.xml#L14-L24):

[code]

It's causing dropwizard-core to pull in dropwizard-jetty but with _my_ version as declared in my

[2016-02-23 02:25] vishvananda commented on #523
This seems to be fixed for maxThreads but not adminMaxThreads.

If maxThreads is set too low, it errors as expected.

If adminMaxThreads is set to something far too low (say 2), the service will happily start without displaying an error message from jetty and then not be able to deal with requests. It also hangs on shutdown for the full 30 second timeout while it is waiting for jetty to shutdown.

[2016-02-23 14:32] chas678 opened #1467 "Docs - testing resources - mention threadsafety"
Docs on testing resources describe the technique of using a static mock which makes the test class stateful at http://www.dropwizard.io/0.9.2/docs/manual/testing.html#testing-resources

The docs should mention that multiple test methods in this class that use these static mocks will potentially interfere with each others expectations; therefore the class should be marked with the JCIP annotation `

[2016-02-24 08:46] AndreyKarandey opened #1468 "Provide access to configuration object within Application.initialize()"
I tend to use Guice in my app, but there is no way to create guice injector module, which depends on configuration to provide DI for bundles.

[2016-02-24 08:52] joschi commented on #1468
There are a few 3rd party addons providing support for Guice in Dropwizard. Did you run into problems with those?

[2016-02-25 20:06] scho commented on #1457
We've experienced, that recreating clients from time to time is not a good idea, because it leaks resources (we even had performance issue). So all our clients are singletons now.

[2016-02-25 20:06] #1457 closed

[2016-02-27 14:39] jplock commented on #1465
Mind submitting a pull request to clean it up?

[2016-02-27 14:39] jplock commented on #1458
Mind submitting a pull request to resolve this?

[2016-02-29 19:25] prabhjot85 commented on #1461
You can write an implementation of ContainerResponseFilter and tweak the response in the filter as per your requirement.

[code]
HTH

[2016-02-29 19:51] prabhjot85 commented on #1458
I would like to take this up. However, want to understand the expectation on the possible implementations. In a real use case, the expectation would be that user has access on all roles OR at least one of those OR should both implementations need to be provided (in example app e.g.)?

[2016-02-29 20:59] psamsotha commented on #1458
Normally you would use the authorizer with the Jersey `RolesAllowedDynamicFeature`. How it works is that the filter gets the roles from the `@RolesAllowed` annotation, and iterates over the array, calling the `SecurityContext#isUserInRole(String role)` method each iteration. DW's implementation of `SecurityContext` simply delegates the `isUserInRole` call to the authorizer's` authorize method, pas

[2016-02-29 21:28] akdev commented on #1458
@psamsotha I think this solves my use case  thank you. An example like this in the docs would be very useful.

[2016-03-01 01:10] leodangal commented on #873
Thanks!  @MarkHerhold

[2016-03-02 05:23] kedarjavalkar commented on #1461
Appreciate your help., but `http://localhost:8080/api/rubish` is caught using `ContainerResponseFilter`
I need to catch static html page requests that are failed(404).. the URL would be `http://localhost:8080/rubish.html`

[2016-03-02 13:45] guilhermemt21 opened #1470 "Validation being skipped on resource methods"
I realized on my upgrade from version 0.7 to 0.9 that validations are being skipped on resource methods. This seems to be a racing condition problem, since it is happening with some frequency, but not all the time. The JacksonMessageBodyProvider gets executed instead of my custom validation, and as a result no validation is performed.

Example:

    @POST
    @Timed
    @CacheControl(noCache = tru

[2016-03-02 14:17] nickbabcock commented on #1470
I'm curious, have you tried 1.0? The [validation logic has been moved from Jackson to Jersey](#1251), so if there is a race condition still, it'd be in Jersey.

[2016-03-02 14:48] guilhermemt21 commented on #1470
Hi @nickbabcock ,
I have not tried the 1.0 yet. Is it possible that a specific new dependency on 0.9.2 affects how custom validations work on resource?

I also suspect that my problem is in the server initialization. Once my server is up, all calls in the resource has the same behavior (or all requests run the my validator, or all skip).

[2016-03-02 15:01] guilhermemt21 commented on #1470
@nickbabcock

Somehow my validations started working after adding this two lines on my ValidationProvider:

@Provider
@Consumes(MediaType.APPLICATION_JSON)

It seems that now my own validations have precedence against JacksonJasonProvider and everything works like a charm =D

[2016-03-02 15:01] #1470 closed

[2016-03-02 20:43] bipinvaylu opened #1471 "Getting Unauthorized response of signin api in test case"
I am writing automated test cases for sign in api. I am constantly getting `Unauthorized` response from signin api, it's working fine in production server.

[code]

[code]

[code]

`<dropwizard.version>0.8.2</dropwizard.version>`

Thanks!

[2016-03-03 07:37] ivanjeukens commented on #1115
I am using 0.9.1 and have the exact same problem.

`@POST
public Response addOrcamento(@Auth User user, OrcamentoRepresentation orc) {
...
}`

and on run

`environment.jersey().register(
				new AuthDynamicFeature(new BasicCredentialAuthFilter.Builder<User>()
						.setAuthenticator(new DefaultAuthenticator())
						.setRealm("SEC REALM")
						.buildAuthFilter()));

		environment.jersey().registe

[2016-03-03 10:17] psamsotha commented on #1115
For any future readers, here is the reason for the error.

When Jersey starts up, it builds a model of all the resources. In the model includes all the parameters. The Jersey validates the model. It does this to benefit us, by making sure that the all the models can be processed correctly during a request. Part of the validation process consists of validating the parameters. There are some rules t

[2016-03-04 17:56] bladecatcher commented on #1461
Can you try `http://localhost:8080/api/rubbish.html` ?

If that returns a valid response, maybe you could make your server rootPath "/" instead of "/api" ?

[2016-03-04 18:35] devinrsmith commented on #1428
I've figured out the issue, and it does have to do with different versions of Hibernate.

Unfortunately, it was something that the enforcer couldn't find.

My project and dropwizard is using BOMs / dependencyManagement sections. Our dependencyManagement section declared a dependency management of 5.1.3.Final. Once DW gets around to actually depending on a version, our dependencyManagement section

[2016-03-04 18:35] #1428 closed

[2016-03-08 10:37] pandaadb opened #1472 "RequestLogFactory custom logging format"
Hi,

it appears to me, that the RequestLogFactory ignored all log formats that are passed in the configuration. It also hardcodes the RequestLogFactory as a layout. I know one can overwrite this factory and create a custom logger, however it would be nice if this could be done through configuration.

Thanks,
Artur

[2016-03-09 06:36] bladecatcher opened #1473 "dropwizard-guice integration with Dropwizard 1.0.0"
Hi,
I'm using Hubspot's dropwizard-guice with DW 0.9.2 without any problems. However, I'm unable to upgrade to 1.0.0-SNAPSHOT, because of certain issues, which I've detailed here: [https://github.com/HubSpot/dropwizard-guice/issues/79#issuecomment-193982950](https://github.com/HubSpot/dropwizard-guice/issues/79#issuecomment-193982950) . Is there anyone who has been able to get this to work?

Thank

[2016-03-09 07:20] garntsev opened #1474 "Dropwizard mustache view response header"
Hello!
When returning Mustache view response header is:
`Content-Type: {text/html, q=1000}`
Is there any way to tune this? I would like to return:
`Content-Type: text/html; charset=UTF-8`
and open it in a browser like a regular web page.

[2016-03-09 07:41] garntsev commented on #1474
Using `@Context HttpServletResponse response` doesn't help:
`Content-Type: {text/html, q=1000}; charset=UTF-8`

[2016-03-09 07:48] garntsev commented on #1474
`@Produces("text/html; charset=UTF-8")` hepled, thank you!

[2016-03-09 07:48] #1474 closed

[2016-03-09 13:44] jansoren opened #1475 "Client code generator"
Hi,
I'm struggling to find a client code generator for Dropwizard apis that generates java code. Does this exist, or should we create one?

[2016-03-10 06:32] bladecatcher commented on #1473
I've decided to stop using dropwizard-guice, as the road ahead is unclear. I'm falling back on plain old Guice, creating the injector using

[code]

The main reason for using dropwizard-guice was so I could inject into Jersey2 resources. A workaround I've decided to use for now is to manually inject into jersey resources. for example:

[code]

Of course, this also means that now I'm dealing with S

[2016-03-10 06:32] #1473 closed

[2016-03-10 08:30] esiqveland commented on #54
[code]

Works for me in DW 0.9.
I use this and set my js build tool to copy the bundles into ./target/classes/assets/

[2016-03-10 11:30] pavelkokush opened #1476 "Double bean validation"
After migration from 0.8.3 to 0.9.1 I found that bean validation is performed twice.
First time in
`org.glassfish.jersey.server.model.internal.JavaResourceMethodDispatcherProvider$AbstractMethodParamInvoker.getParamValues(JavaResourceMethodDispatcherProvider.java:127)`
it calls `io.dropwizard.jersey.jackson.JacksonMessageBodyProvider.readFrom(JacksonMessageBodyProvider.java:63)`

Second time in
`o

[2016-03-10 14:23] jplock commented on #54
Should we always default this parameter to `false` or make `AssetBundle` be configurable?

[2016-03-10 15:27] Randgalt commented on #1473
FYI - I wrote a Dropwizard/Guice integration that (AFAIK) works with Dropwizard 1.0.0: http://soabase.io/guice.html

[2016-03-10 21:55] esiqveland commented on #54
I think it's good for production use, but very annoying for developing with.
Not sure if it should be configurable or not, but maybe DW could use an overall devmode? This has probably been discussed before though.

On the other hand it is part of ```dropwizard-assets```, so it could be fine to add it to ```AssetBundle```?

I'm guess it is something everyone using assets in dropwizard has to deal w

[2016-03-10 23:48] phavelar commented on #862
This is too much... better luck switching to Spring Boot.

[2016-03-11 09:15] RichardBradley commented on #862
(I agree -- the HK2 DI stuff has been "enterprised" to the point where it is impossible to understand and more of a hindrance than a help. The rest of Dropwizard works quite well though; I prefer it to Spring, which has plenty of its own over-engineering issues.)

[2016-03-11 23:06] spudone commented on #1473
This alternative works well for us in 0.9.2 with Jersey 2 resources (appears to pick up where Hubspot left off):

https://github.com/xvik/dropwizard-guicey

[2016-03-11 23:15] spudone commented on #1460
AbstractServerFactory.createThreadPool looks like it does not use daemon threads, which would be one way to fix this issue (not sure if that is the only place though).

[2016-03-12 09:40] bladecatcher commented on #1473
Thanks for linking me to soabase. Here are the issues I'd run into ,while trying to integrate it with Dropwizard 1.0.0-SNAPSHOT : https://github.com/soabase/soabase/issues/32

[2016-03-12 10:21] ajermakovics opened #1477 "Specifying maxThreads per application"
Hi all

Ran into this one issue when trying to specify maxThreads. With this config:

[code]

the server won't start due to an exception:

[code]

Looking at the source `maxThreads` only applies to the `applicationConnectors` and the `InstrumentedQueuedThreadPool` that they use (`AbstractServerFactory::createThreadPool`). Admin connectors have their own QueuedThreadPool and `maxThreads` doesn't ap

[2016-03-13 02:27] randyp commented on #1460
That would 'fix' the zombie process problem, but would not address the core issue: managed objects in the LifecycleEnvironment are not being stopped if an exception is thrown in Application#run.

Unless the current behavior is intentional dropwizard does not shutdown/stop all managed objects such as object/connection pools, executor services, etc.

In addition, I suspect that threads in the execut

[2016-03-15 09:19] anev commented on #1472
Hi,
I think this is done on purpose, take a look at the "Log Format" chapter in the manual:

[code]

[2016-03-16 09:27] chas678 opened #1478 "new logback versions do not log to file"
Dropwizard 0.9.2 uses Logback 1.1.3.  Attempting to use newer versions of Logback 1.1.5 + 1.1.6 mean that logs are longer written to file when configured to do so in the YAML which violates the principle of least astonishment.

## Steps to reproduce

1. change pom to use logback version 1.1.5 or 1.1.6
1. Run a service locally with a file appender configured in the YAML - for example:

[code]
## Ex

[2016-03-16 10:11] pandaadb commented on #1472
That is fine, but you can define your own log formats for your other loggers. Why not be able to have your own log format for request logging?

[2016-03-16 10:51] ragebiswas commented on #1388
@ajmath Thanks for the gist (https://gist.github.com/ajmath/e9f90c29cd224653c218) - very helpful. One issue I see is that when I generate a dropwizard uber-jar with the maven shade plugin, the manifest file gets overwritten and dropwizard is unable to find the custom appender. Did you face this problem?

[2016-03-16 15:02] #1433 closed

[2016-03-16 15:02] arteam commented on #1433
Closed via #1436

[2016-03-16 16:57] ajmath commented on #1388
@ragebiswas Unfortunately we aren't using the shade plugin so I didn't hit this problem.  Though, I remember a similar problem from a while back when I tried using that plugin.  I believe you can configure have it exclude certain files or force a certain version of a file in the result jar.

[2016-03-16 20:06] xiaodong-xie commented on #1478
I don't think it's related to MDC.

Here is my analysis:
1. It's because `RollingFileAppender` is more strict from 1.1.5, as it will check whether the `triggeringPolicy` is started or not.
2. In class `FileAppenderFactory`, we first `stop` then `start` the appender, so the `triggeringPolicy` is stopped.
3. I managed to pass all test cases in `dropwizard-logging` module by just removing line 202 `a

[2016-03-16 21:59] ghenkes commented on #1478
I looked into this some last week as well and came to the same conclusion as @xiaodong-xie, that `appender.stop()` should be removed.

When `stop` is called we eventually get to the `stop` method in OutputStreamAppender, which has Javadoc that states: [Stopped appenders cannot be reused.](https://github.com/qos-ch/logback/blob/v_1.1.6/logback-core/src/main/java/ch/qos/logback/core/OutputStreamAppe

[2016-03-16 22:05] ghenkes commented on #1478
Also, I'd caution that it looks like Logback 1.1.5 and 1.1.6 has introduced a few [new bugs](http://jira.qos.ch/browse/LOGBACK-1154?jql=project%20%3D%20LOGBACK%20AND%20issuetype%20%3D%20Bug%20AND%20resolution%20%3D%20Unresolved%20AND%20affectedVersion%20in%20(1.1.5%2C%201.1.6)%20ORDER%20BY%20priority%20DESC%2C%20updated%20DESC) so I'm not sure at what point the Dropwizard Committers want to upgrad

[2016-03-16 22:12] toadzky opened #1482 "Null fields aren't included on `JsonInclude.Include.ALWAYS`"
I'm trying to force null fields to be written. When I tried it with a newly constructed object mapper, it works fine. But the object mapper used in the message body writer doesn't write them out.

I'm configuring the ObjectMapper in the run method of my application subclass:

[code]

[2016-03-16 22:43] xiaodong-xie commented on #1478
Thanks, @ghenkes. :)

Noticed what you described in your comment, when upgrading Logback to 1.1.6. So I just added another commit to fix the test case. But you're right about those new bugs introduced in Logback 1.1.5 and 1.1.6 of course.

[2016-03-17 05:15] kedarjavalkar commented on #1461
Do you mean changing `bootstrap.addBundle(new AssetsBundle("/webapp", "/", "index.html"));` to
`bootstrap.addBundle(new AssetsBundle("/webapp", "/api", "index.html"));`  ?

I tried above change and this resulted into
`java.lang.IllegalStateException: Multiple servlets map to path: /api/*: assets,org.glassfish.jersey.servlet.ServletContainer-2d82408`
error which failed to start Dropwizard

[2016-03-17 05:28] kedarjavalkar commented on #1461
I changed server rootPath to "/" and now paths that are configured under resources are served as static html page request
Example: `http://localhost:8080/api/valid` is a registered resource's path and Dropwizard is looking for a similar page in assets directory

[2016-03-17 13:49] ghenkes commented on #1472
@pandaadb https://github.com/dropwizard/dropwizard/pull/1415 adds the ability to configure the format of the request log. It is available in master and targeted for the 1.0.0 release.

[2016-03-22 06:05] m-manu opened #1486 "Joda Time in v1.0.0?"
[Release notes of v1.0.0](https://github.com/dropwizard/dropwizard/releases/tag/v1.0.0-rc1) mentions "_Upgraded to Joda-Time 2.9.2_".

If we're targeting first-class Java 8 support in v1.0.0, why use Joda-Time at all? `java.time` library replaces `joda-time` project.

https://jcp.org/en/jsr/detail?id=310
http://www.joda.org/joda-time/

[2016-03-22 07:18] arteam commented on #1486
See #1383. We decided to leave Joda-Time support in 1.0.0 to simplify migration of Dropwizard applications from 0.9.x to 1.0.x. Many applications still use Joda-Time extensively, and can't easily
switch to the new Date/Time API (JSR-310). Despite that Stephen Colebourne (the library author) advises users to migrate to the new API, he still maintains the project. So, in fact, Joda-Time has a big us

[2016-03-22 16:52] raymerd opened #1487 "upgrade from 0.9.2 to 1.0.0-rc1 -- previously working tests fails in the bowels of jetty"
After upgrade from the 0.9.2 bom to the 1.0.0-rc1 I get an exception from deep in the bowels of jetty.

First, the output from the test under 0.9.2
[code]

Now after the uprev of drop wizard
[code]
For the record, the boiler plate of my test case follows.
[code]

I've slimmed this down a bit and produced the smallest example I could from our actual code.

Thoughts? Guidance?

[2016-03-22 17:12] joschi commented on #1487
@raymerd Please make sure that there are no conflicting JARs on the class path of your project.

Are you using any third party dependencies in your project? What does the POM of your project look like?

[2016-03-22 17:45] raymerd commented on #1487
I'll break this up into multiple response for sake of readability ...

Parent pom has the following dependencies:

   <properties>

        <dropwizard.version>0.9.2</dropwizard.version>
        <junit.version>4.12</junit.version>
        <springplatform.version>2.0.3.RELEASE</springplatform.version>
   <properties>
   <dependencyManagement>
        <dependencies>
            <dependency>

[2016-03-22 17:51] raymerd commented on #1487
parent pom includes the bom's for dropwizard and spring platform
       ``
        `<dropwizard.version>0.9.2</dropwizard.version>`
        `<springplatform.version>2.0.3.RELEASE</springplatform.version>`

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>io.dropwizard</groupId>
                <artifactId>dropwizard-bom</artifactId>

[2016-03-22 17:53] raymerd commented on #1487
The pom for the module with the failing test case contains the following dependencies.

	<dependencies>
		<dependency>
			<groupId>io.dropwizard</groupId>
			<artifactId>dropwizard-core</artifactId>
		</dependency>
		<dependency>
			<groupId>io.dropwizard</groupId>
			<artifactId>dropwizard-client</artifactId>
		</dependency>
		<dependency>
			<groupId>io.dropwizard</groupId>
			<artifactId>dropwi

[2016-03-22 17:58] raymerd commented on #1487
checking the dependency tree in mvn with the following command line:

$micron-core draymer$ mvn dependency:tree | grep INFO | sed 's/\[INFO\]//g' | egrep '(\+\-)|(\\\-)' | sed 's/+\-//' | sed 's/\\\-//' | sed 's/\|//g' | sed 's/\ *//' | sort | uniq

aopalliance:aopalliance:jar:1.0:compile
ch.qos.logback:logback-classic:jar:1.1.3:compile
ch.qos.logback:logback-core:jar:1.1.3:compile
com.fasterxml.j

[2016-03-22 18:22] joschi commented on #1487
@raymerd You're pulling in different versions of Jetty dependencies. Dropwizard 1.0.0 upgraded to Jetty 9.3.x, which doesn't contain the `NonBlockingThread` class anymore.

I guess that the Spring platform or some other dependency is transitively pulling in an incompatible version of some Jetty dependency.

[2016-03-22 18:28] raymerd commented on #1487
I will look again at the artifacts in my .m2/repository and see what I can find.

[2016-03-22 18:53] raymerd commented on #1487
Ok, this is a head scratcher -- spring-web depends on jetty 9.3.7 ... the only place I can find the 9.2.x jetty components are transitive dependencies from jetty artifacts included by dropwizard artifacts or in spring boot, which I am not using.

I will exclude spring boot from things and see what happens.

[2016-03-22 19:23] raymerd commented on #1487
To close this out for any other folks suffering through this.  The answer is to not use the spring platform "bom".  The simple trick of stating exclusions did not work. Simple direct dependencies does work.

There is joy in mudvill.  Thanks @joschi

[2016-03-22 22:43] #1487 closed

[2016-03-23 11:54] patrox opened #1488 "Missing rollbackOnReturn in DataSourceFactory"
While trying to set `rollbackOnReturn` to true in the config, I discovered that such field is not supported,
altough a bit similiar `commitOnReturn` is supported:

[code]

Both of them are available in the properties which can be set for the Tomcat JDBC Pool, which is used as a backing pool:

https://tomcat.apache.org/tomcat-9.0-doc/jdbc-pool.html#Tomcat_JDBC_Enhanced_Attributes

1.) Are there any

[2016-03-23 12:51] jplock commented on #1488
No reason I can think of. Please submit a PR and we'll gladly review. Thanks!

[2016-03-23 13:05] patrox commented on #1488
Testing it right now - once the tests will pass, I'll post a PR.

[2016-03-23 13:29] patrox commented on #1488
@jplock when you'll have spare 5 minutes, could you please have a look at: https://github.com/dropwizard/dropwizard/pull/1489 ?

I've updated tests & javadoc, to cover the new field.

[2016-03-23 15:53] #1488 closed

[2016-03-24 16:27] devinrsmith opened #1491 "FileAppenderFactory doesn't support infinite archive option"
`FileAppenderFactory` has

[code]

`TimeBasedRollingPolicy` specifies

[code]

But I can never set infinite history due to the constraint.

[2016-03-24 16:35] joschi commented on #1491
@devinrsmith Since there is no such thing as infinite disk space, aiming for an infinite number of archived files might not be the best option.

Are you using other (external) means of rotating the log files?

[2016-03-24 16:50] devinrsmith commented on #1491
Yes, we are using a different process to deal with deleting the logs.

I don't need `TimeBasedRollingPolicy`s removal machinery... and it seems like since they provide that option, DW should too.

[2016-03-24 19:23] jplock opened #1492 "Internal usages of Optional in 1.0.0?"
In 1.0.0, should we settle on using `java.util.Optional` instead of Guava Optional for consistency?

Ex:

- https://github.com/dropwizard/dropwizard/blob/master/dropwizard-jersey/src/main/java/io/dropwizard/jersey/sessions/Flash.java#L22
- https://github.com/dropwizard/dropwizard/blob/master/dropwizard-example/src/main/java/com/example/helloworld/core/Template.java#L17
- https://github.com/dropwiz

[2016-03-24 20:39] patrox commented on #1492
@jplock: good idea, with switching to `j.u.Optional`, as:

* DW requires JDK8 anyway, so whoever is(will be) using DW is(will be) on JDK8
* according to [semver](http://semver.org) moving from 0.9.x to 1.0.0 might/will mean braking (incompatible) changes

[2016-03-24 21:24] jplock commented on #1492
I'll work on submitting a PR for this unless someone else beats me to it.

[2016-03-24 22:22] earzur commented on #1115
thank you @psamsotha, very helpful !

[2016-03-24 22:41] edulima commented on #1321
wr

[2016-03-24 23:49] patrox commented on #1492
@jplock https://github.com/dropwizard/dropwizard/pull/1493

[2016-03-25 09:04] TheWizz opened #1494 "dropwizard-client 1.0.0rc1 can't handle multiple Set-Cookie headers"
I'm having trouble with the implementation of the DropwizardApacheConnector. Specifically, its use of Collections.singletonList on line 98 of this file

  https://github.com/dropwizard/dropwizard/blob/master/dropwizard-client/src/main/java/io/dropwizard/client/DropwizardApacheConnector.java

When receiveing a response with multiple cookies, they will all have a Set-Cookie header (with different da

[2016-03-25 09:36] jelmerterwal commented on #1391
I got the same problem and used gradle shadowJar to create my fat jar. The solution for me was to exclude the license dir. Somehow the final jar could not be extracted which was what liquibase tried.

In my build.gradle file..
[code]

[2016-03-25 12:24] #1492 closed

[2016-03-25 20:03] patrox commented on #1494
hi @TheWizz - I had similiar issue in the past with headers - but not in Dropwizard.
I've prepared a test which should reflect the behaviour which you've described, can you have a look and confirm if my understanding is correct?

https://gist.github.com/patrox/db5aa7b3f00939dae393

[2016-03-25 20:09] patrox commented on #1494
the above test will currently fail with `java.lang.UnsupportedOperationException` - as there will be an attempt to add item to a `singletonList` (immutable).

https://github.com/dropwizard/dropwizard/blob/master/dropwizard-client/src/main/java/io/dropwizard/client/DropwizardApacheConnector.java#L99

Full stacktrace:

[code]

[2016-03-25 20:16] patrox commented on #1494
@jplock, @joschi could you please have a look at the issue reported by @TheWizz as this might be a :bug: I can provide a PR with a fix - as after writing a test I'm already warmed up :)

[2016-03-26 15:35] arteam commented on #1494
Looks like a legitimate bug. I believe commit 0f77240 accidentally introduced it.

@patrox, a fix with a test would be really appreciated. Thanks for tackling this issue!

[2016-03-26 17:27] #1478 closed

[2016-03-26 18:17] arteam commented on #1478
Thanks you lot for a deep analysis of the issue! Dropwizard master branch has been updated to Logback 1.1.6. The upgrade will be available in Dropwizard 1.0.0-rc2.

[2016-03-28 08:30] svenwb opened #1496 "ResourceTestRule does not support testing file upload"
I tried to write a unit test for testing a file upload by using the ResourceTestRule as described in the manual under "Testing Resources" http://www.dropwizard.io/0.9.2/docs/manual/testing.html

But doing something like this, will result in an exception when running the test case.
[code]

[code]

I guess MultiPartFeature is not configured for the JerseyTest?

[code]

I might have missed something.

[2016-03-28 11:48] psamsotha commented on #1496
The `ResourceTestRule` [runs it own JerseyTest explicitly](https://github.com/dropwizard/dropwizard/blob/v0.9.2/dropwizard-testing/src/main/java/io/dropwizard/testing/junit/ResourceTestRule.java#L179). You seem to be trying to extend `JerseyTest` yourself _and_ using the `ResourceTestRule`. If you are using the latter, you shouldn't use the former, as the rule already starts a server application i

[2016-03-28 22:12] devinrsmith opened #1497 "liquibase db dump not working"
https://dropwizard.github.io/dropwizard/0.9.2/docs/manual/migrations.html

suggests that `java -jar hello-world.jar db dump helloworld.yml` will generate a liquibase schema. I've definitely got a non-empty db, configured like:

[code]

I've added the correct bundle, and the command executes but outputs an empty xml tree:

[code]

[2016-03-29 08:09] svenwb commented on #1496
Thanks a lot! That works fine for me :-)

[2016-03-29 08:09] #1496 closed

[2016-03-29 18:54] patrox commented on #1494
@arteam, @jplock, @joschi could you please have a look at my proposed solution for this ?

https://github.com/dropwizard/dropwizard/pull/1498

Please note, that in test I had to mock a lot of stuff - as I wanted to closely reproduce the issue.

FYI - I have checked all similiar cases from commit mentioned by @arteam (https://github.com/dropwizard/dropwizard/commit/0f7724003eb47051dfda838e7889d2649

[2016-03-29 20:34] nickbabcock commented on #1442
If you want to write this functionality I'll be more than happy to take a look at it. The graphite documentation does give the illusion that using the pickled format is much more efficient (so dropwizard users should have this option available to them), though I haven't seen the line based reporter ever be a problem.

[2016-03-30 02:21] #1494 closed

[2016-03-30 02:28] nickbabcock commented on #1476
Validation was removed from Jackson in #1251 (slated for 1.0). The problem should be fixed in the release candidate, if you want to try that out. I'm not sure if double validation is a large enough problem to backport a fix.

[2016-03-30 02:32] nickbabcock commented on #1475
Sorry, I'm not familiar with such a tool. If you find a tool or make one yourself, we'll be more than happy to add it to the docs.

[2016-03-30 02:32] #1475 closed

[2016-03-30 02:46] nickbabcock commented on #1482
Can you provide a reproducible test? I tested the object mapper created by dropwizard and it was able to serialize null fields to `null` without setting `JsonInclude.Include.ALWAYS`. I also confirmed it working in `ResourceTestRule`

[2016-03-30 02:48] nickbabcock commented on #1450
Closing due to lack of communication.

[2016-03-30 02:48] #1450 closed

[2016-03-30 03:01] nickbabcock commented on #1010
I looked into the performance issues and the lowest hanging fruit are to use Jersey's `StreamingOutput ` and Jackson's Streaming API in combination, which yields 2-3x improvement. The next level of improvement is eschewing Jersey and using Http Servlets in Jetty, which yields a 10x improvement over vanilla performance. Unfortunately, I don't think any of these improvements are considered realistic

[2016-03-30 03:01] #1010 closed

[2016-03-30 03:11] nickbabcock commented on #1254
Thanks for the solution, looks like #1177 may have solved it for the 0.9.0 release.

[2016-03-30 03:11] #1254 closed

[2016-03-30 04:20] cowtowncoder commented on #1010
@nickbabcock thank you for the sanity check. This seems to confirm that there is quite a bit of overhead for dynamic dispatch, much of which would ideally be optimized away, but probably in practice can not be (due to JAX-RS rules).

[2016-03-30 07:24] pavelkokush commented on #1476
ok, thanks. Yep, it is not big problem.

[2016-03-30 07:24] #1476 closed

[2016-03-30 07:53] patrox commented on #1497
hi @devinrsmith, can you please provide more details like which Dropwizard version are you using?

I'm asking, as I've checked it myself - and it worked as expected in `1.0.0-rc2-SNAPSHOT`.

The mentioned db was created by `db migrate` or was it created without using liquibase ?
Did you try to run the `dropwizard-example` migration ?

Once you provide more info, I'll try to help you.

[2016-03-30 07:56] patrox commented on #1497
Here is the result of my `db dump`:

[code]
[code]

[2016-03-30 07:57] patrox commented on #1497
Last thing which comes to my mind without more details:

    password: super_secret
    url: jdbc:h2:./target/mydb

Are you sure that these are correct ?

[2016-03-30 09:42] foikila opened #1500 "Running unit test with sqlite3 in memory"
Hello,

I'm trying to run my unit test with sqlite3 in memory and I encountered a problem with the parsing of the config.yml file... The tests works fine when I'm using a regular url i.e `url: jdbc:sqlite:database.db` but when I'm trying to use a in memory i get this error:
[code]
The yml file looks like this (minus unrelated stuff..)
[code]
According to [this](https://bitbucket.org/xerial/sqlite-

[2016-03-30 10:15] joschi commented on #1500
@foikila Try putting quotes around your JDBC URL. Unfortunately that string seems to be a valid but incomplete YAML statement.

[2016-03-30 11:01] foikila commented on #1500
@joschi thank you! Now it seems to work as intended.
This is the result:
[code]

[2016-03-30 11:01] #1500 closed

[2016-03-30 14:17] nickbabcock commented on #1168
I'm going to optimistically assume this issue is resolved, if not, a test project to debug would be helpful.

[2016-03-30 14:17] #1168 closed

[2016-03-30 14:21] nickbabcock commented on #1176
Hopefully you're able to do what you want with Jetty 9.3 in Dropwizard. Let us know if not.

[2016-03-30 14:26] nickbabcock commented on #699
Closed by #1220/#1340

[2016-03-30 14:26] #699 closed

[2016-03-30 16:02] toadzky commented on #1482
I went looking for the code that was having a problem and it's been changed. So I wrote a quick project to demonstrate the problem.
[dropwizard-serialization-test.zip](https://github.com/dropwizard/dropwizard/files/195926/dropwizard-serialization-test.zip)

 Here's the data classes:
[code]
[code]

with a couple of simple `GET`s:
[code]

Here's the results:
[code]

[2016-03-30 17:04] TheWizz commented on #1494
Thanks, guys, for fixing this one so quickly!
-JM

[2016-03-30 17:35] patrox commented on #1482
hi @toadzky, I was a bit curious about your issue - so I downloaded your project, took a look and I've a possible suspect - as when I removed the lombok from picture I got the same results from both endpoints:

[code]
[code]

[code]
[code]

BTW, `@JsonInclude(ALWAYS)` is not needed (as @nickbabcock already wrote), as it's the default one.

[2016-03-30 17:41] nickbabcock commented on #1482
Haha, I just did the same exact thing that @patrox did and arrived at the same conclusion that it is the combination with lombok that is the problem.

[2016-03-30 17:46] patrox commented on #1482
@toadzky - I took a step further and found something which might help you, as I imaging that removing lombok for you might be not acceptable:

https://github.com/paradoxical-io/jackson-lombok

Please give it a try and let us know.

[2016-03-30 18:23] toadzky commented on #1482
I tried it with and without lombok and got inconsistent results, so I didn't mention lombok as a possible cause. In this case, Lombok generates getters correctly, and the manually created object mapper works as expected, but the built in one does not.

As for the link @patrox provided, the project is misnamed IMO because it doesn't have anything to do with Lombok specifically, it has to do with th

[2016-03-30 19:31] patrox commented on #1482
OK, looks like the url which I posted has been a dead-end, but I've been able to pinpoint what exactly is wrong in this scenario.

Seems like there is an interference between Jackson AfterBurner module and Lombok (which is not so surprising, given the fact that both are messing with the Java bytecode).

I've found it out by looking up how the internal `ObjectMapper` used for Jackson in Dropwizard

[2016-03-30 19:47] toadzky commented on #1482
It looks like I should open a ticket with Jackson's Afterburner module. Thanks.

[2016-03-30 20:13] nickbabcock commented on #1482
Awesome job triaging the problem. Closing the issue because it's kinda out of our hands

[2016-03-30 20:13] #1482 closed

[2016-03-30 20:39] nickbabcock commented on #1350
What's wrong with the generally accepted solution? I would prefer not to introduce complicated logic if the same behavior can already be done through the template.

[2016-03-30 21:17] devinrsmith commented on #1497
I was using 0.9.2. It was on an H2 database that wasn't created with liquibase. (It was created with JDBI DAO.)

When I create a simple database with liquibase, I'm successfully able to dump it successfully.

I went ahead and wrote migrations.xml by hand for my case. I'm assuming that my underlying database had complex constraints that liquibase wasn't able to figure out.

I didn't save the files,

[2016-03-31 05:07] patrox commented on #1497
There is also an option to create a copy of existing H2 DB using `Script` tool, which is part of H2:

Quote from http://www.h2database.com/html/tutorial.html:

I suspect that this might be an issue with liquibase - as you wrote that it worked for simpler DB, but I will wait for you feedback, as I was not able to reproduce it. If you could send a failing schema, then this would be really helpful.

[2016-03-31 16:57] patrox commented on #1156
@kmejka Hi buddy !

Are you going to follow up this issue ?
Otherwise, I'd like to pick it up - so it won't be finally resolved.

[2016-03-31 17:04] patrox commented on #1054
@jplock I believe that this has been addressed in: https://github.com/dropwizard/dropwizard/pull/1437 and it can be closed.

[2016-03-31 17:18] #1054 closed

[2016-03-31 20:50] patrox opened #1505 "OffsetDateTimeMapperTest is failing"
While testing something completely unrelated, I stumbled upon two failed tests, which IMO seem to fail because of DST offset, as:

[code]

In the above output you can see that the [`actual`](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-jdbi/src/test/java/io/dropwizard/jdbi/args/OffsetDateTimeMapperTest.java#L22-L22) value:

is **NOT** equal to the [`expected`](https://github.com

[2016-03-31 21:40] patrox commented on #1505
the same applies to [`OffsetDateTimeArgumentTest.apply`](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-jdbi/src/test/java/io/dropwizard/jdbi/args/OffsetDateTimeArgumentTest.java#L20-L20)

[2016-03-31 22:12] jplock commented on #1505
Yes please! That'd be great. Thanks

[2016-04-01 07:00] kmejka commented on #1156
@patrox go ahead, I've got more than enough on my plate right now.
We can talk about it further next Tuesday when we meet :)

[2016-04-01 07:41] patrox commented on #1156
the funniest part is that it's actually already done (in a simplified form) in our codebase - I would just have to extract it and provide a way of securing the sensitive information, like `username`, `password`, etc.

Regarding the core idea of exposing configuration - it would work just like @mcarrierastonish described - as the specific `Configuration` class would be serialized and then pretty-pr

[2016-04-01 14:37] patrox commented on #1156
@glennmcallister, @jplock, @ryankennedy could you please review the above suggestion and let me know if you're fine with that? Any comments / suggestions are more than welcome.

[2016-04-01 15:54] ryankennedy commented on #1156
I agree with Glenn about it being a security issue. That said, if someone's
already on the box you have to really hope the configuration files
themselves (dropwizard yaml, upstart configs, EC2 user data, etc) are well
locked down. I think a bigger issue with logging it could be what happens
if you're using log aggregation and the log aggregator's access controls
aren't as strong as the permissions

[2016-04-01 15:56] jplock commented on #1156
Instead of logging, could we have a task endpoint that could just dump the currently running config (with the proper security controls in place)?  Maybe only allow the endpoint to be called from localhost or something as well.

[2016-04-01 16:09] ryankennedy commented on #1156
The "with the proper security controls in place" is the important step
there that we haven't really taken with the admin endpoint. The admin
endpoint can be used to do some not so great things to a process (triggering
a GC
<https://github.com/dropwizard/dropwizard/blob/master/dropwizard-servlets/src/main/java/io/dropwizard/servlets/tasks/GarbageCollectionTask.java>
or setting the logging level to

[2016-04-01 16:31] patrox commented on #1156
@ryankennedy if you don't mind reviewing a WIP version (with some shortcuts) I can have a PR ready this evening.

[2016-04-01 20:46] patrox commented on #1505
@jplock, @joschi could you please have a look at the above PR addressing the described issue ?

[2016-04-02 07:21] patrox commented on #1505
Addressed in #1506

[2016-04-02 07:51] patrox commented on #1303
@joschi, @fexbraun that bug seems to have been fixed few days ago (according to the logback jira).

[2016-04-02 07:52] patrox commented on #1303
Bumping logback version to the one which includes the fix should address the issue

[2016-04-02 15:32] #1505 closed

[2016-04-04 08:25] patrox commented on #1156
@ryankennedy I like your proposal with Google Docs and some POC code, so I created a very short document, describing some hows, whens, whats which describe some of ideas from this issue with some proposals how to address them.

Everyone with the link to the document should be able to comment - and I'm open for any feedback.

https://docs.google.com/document/d/1lxZ8oVLKl8Bas2pobN-PT-3ZHMkMaBAqsPDEd

[2016-04-04 12:45] lennartkoopmann opened #1508 "Missing template logged with DEBUG level"
When trying to load a template that does not exist, the error message is logged as `DEBUG`. I think this should be `ERROR` instead.

Happened with Dropwizard v0.9.1.

[code]

[2016-04-04 22:38] JohnnyMarnell commented on #1378
if I use IntelliJ and setup an Application with DropWizard main, I can debug and hit breakpoints, however if I make a change (not method sig) and save, it says compilation finished, but no changes :(

[2016-04-05 07:43] #1508 closed

[2016-04-05 09:30] boncey commented on #1350
I've come up with a simpler (in my opinion) way of doing layouts in Dropwizard/Freemarker.
I've posted my solution on StackOverflow, take a look and let me know if it helps please.
http://stackoverflow.com/questions/19664760/how-can-i-embed-one-dropwizard-with-freemarker-view-in-another-one/36412964#36412964

As an aside, it would be nice (for this) if [View#resolveName](https://github.com/dropwiz

[2016-04-05 13:34] moezubair opened #1510 "Error building Dropwizard-example"
When I try to run
[code]
I get the following errors:
[code]

When i add **<version>Latest</version>**
or manually find the latest version and add that, I get the following errors:

[code]

[2016-04-06 02:17] jklukas opened #1511 "Add switch syntax to EnvironmentVariableLookup"
While `EnvironmentVariableLookup` provides a mechanism to inject environment variables into a config, I often want to _switch_ on the env var rather than injecting the env var's value itself.

It's my understanding that Linux and Windows both forbid the `=` character in environment variable names, which allows us to introduce a new switch syntax to `EnvironmentVariableLookup` without breaking back

[2016-04-06 07:13] joschi commented on #1511
@jklukas I think this adds too much complexity to the configuration file syntax. It should be as simple as possible and this is clearly on the way to transform the simple (?) YAML syntax into a pseudo programming language.

If you need such complex logic in your configuration files, I suggest you'll use a configuration management solution like Ansible, Puppet, or Chef and create your configuration

[2016-04-06 12:22] jplock commented on #1511
Agreed. -1 one from me. Thank you for using dropwizard though.

[2016-04-06 13:12] nickbabcock commented on #1511
Can this be made into a [dropwizard module](http://modules.dropwizard.io/)?

[2016-04-06 14:10] jklukas commented on #1511
I'm not surprised this is considered too much complexity for base Dropwizard. Thanks for taking the time to consider.

I'll look into the possibility of making a dropwizard module or otherwise releasing this publicly. We've previously been templating configs with mustache and compiling them in a separate step before starting up a service, but the SubstitutingSourceProvider is a nice framework to a

[2016-04-06 14:10] #1511 closed

[2016-04-06 14:20] jplock commented on #1511
If there are method visibility scope changes or new interfaces to be created which would make it easier to do something like this in a module, please let us know.

[2016-04-06 15:21] arnaud-deprez opened #1512 "Change HealthCheck json payload"
Hi,

First thanks for your amazing work.
I'd like to propose an enhancement in the HealthCheck payload.

# Current situation
Currently the healthcheck payload, according to this configuration http://www.dropwizard.io/0.9.2/docs/manual/core.html#health-checks, is

[code]

The problem with this payload in a production environment is that we don't know directly if the whole system is healthy or not.

[2016-04-06 15:40] mattnelson commented on #1512
The health check implementation is supplied by https://github.com/dropwizard/metrics, this would need to  be proposed there. But the implementation already flexes the response status if any of the checks are not healthy.

https://github.com/dropwizard/metrics/blob/3.1-maintenance/metrics-servlets/src/main/java/com/codahale/metrics/servlets/HealthCheckServlet.java#L95-99

[2016-04-06 16:39] arnaud-deprez commented on #1512
Hi @mattnelson, sorry for my mistake.

By the way, I found this issue https://github.com/dropwizard/metrics/issues/663 which might be a good solution.

Thanks for the information, the status might be a good fit as spring does the same thing (even if they are using 503 instead of 500).
So I'll close this issue and put a +1 on https://github.com/dropwizard/metrics/issues/663.

[2016-04-06 16:39] #1512 closed

[2016-04-07 13:16] jklukas opened #1514 "Hook for writing final substituted config to disk"
When using a SubstitutingSourceProvider or other ConfigurationSourceProvider that modifies the byte stream of the config file read from disk, it would be helpful to have a hook to write the final modified byte stream to disk (presumably somewhere in tmpDir).

I think the "final" byte stream is generated in [ConfigurationFactory.build()](https://github.com/dropwizard/dropwizard/blob/3d746d21c6e6656

[2016-04-08 12:26] brentryan commented on #1514
My preference would be to just get this via a ConfigTask and/or a new config command. We have both of these in our implementation at Cvent and it's worked quite well so far.

[2016-04-08 12:36] jklukas commented on #1514
@brentryan - Can you go into a little more detail about that? I'm not familiar with ConfigTasks, and it looks like this might be an interface that no longer exists? Is this the same thing as a Task accessible through the admin http port?

[2016-04-08 13:19] joschi commented on #1514
@jklukas I think @brentryan is referring to (admin) tasks: http://www.dropwizard.io/0.9.2/docs/manual/core.html#tasks

Generally :+1: for this feature (either as a task or on startup).

[2016-04-08 13:28] patrox commented on #1514
a bit similiar issue: #1156

[2016-04-08 13:56] glennmcallister commented on #1514
While I too think this is a good idea, and very useful for debugging, be
careful about how you expose credentials. Depending on how and where this
information is exposed, you may end up revealing sensitive information that
was segregated for a reason. Just my 2 cents.

Glenn

On Fri, Apr 8, 2016 at 9:29 AM Patryk Najda <notifications@github.com>
wrote:

[2016-04-08 14:04] joschi commented on #1514
@glennmcallister Very good argument, thanks for weighing in! Making this feature a task which is not available by default might be the best solution then. So the developers can decide themselves if they want to expose that functionality.

[2016-04-08 14:55] jklukas commented on #1514
An admin task that needs to be configured sounds like a reasonable approach.

[2016-04-08 22:47] brentryan commented on #1514
+1

[2016-04-10 09:21] nishantshobhit commented on #1115
@earzur @ivanjeukens did you guys manage to solve this problem?

[2016-04-12 23:08] rturgut opened #1516 "NotNull validation of LoggerConfiguration.appenders fails"
After upgrading to the latest versions (dropwizard ver '1.0.0-rc2'), I am having compilation issues with my app. It looks like a solution proposed/provided in #1308 and #1309 may work here as well.

_LoggerConfiguration.appenders_ may need to utilize @UnwrapValidatedValue(false)

[code]

my config...
[code]

[2016-04-13 01:07] nickbabcock commented on #1516
Update to the latest dropwizard-gelf, as it looks like [it is solved](https://github.com/gini/dropwizard-gelf/commit/9f551be208273104ccfc8412ebd82bfcef64ebc6) for version 0.9.2-1.

Reply back if it is still a problem to continue the issue

[2016-04-13 01:07] #1516 closed

[2016-04-13 09:32] arienkock commented on #1037
I suspect an easy way to support this is to allow the initialSize property of the DatasourceFactory to be 0. During startup the connection pool initializes (in my version this happens at `org.apache.tomcat.jdbc.pool.ConnectionPool.init(ConnectionPool.java:464) [tomcat-jdbc-8.0.28.jar:na]`) and that wouldn't happen if the initial size was 0.

[2016-04-13 13:05] pacey opened #1518 "Environment aware ViewRenderer"
I was looking at creating a Pebble view renderer and one of the nice features of Pebble is that you can crunch different parts of a template in parallel. This requires you building a ThreadPoolExecutor and passing it to the Pebble engine. I'd like to have the thread pool be managed by dropwizard and configured from the ViewRenderer. This is currently not possible as the Environment from the ViewBu

[2016-04-14 17:04] oillio commented on #1341
I ran into this problem as well and I think I have tracked down the problem.  I am by no means an expert in the internals of Jersey, so this may not be completely accurate.

It looks like `jersey-media-json-jackson` automatically registers `org.glassfish.jersey.jackson.JacksonFeature` (via JacksonAutoDiscoverable).

It will register its own `FilteringJacksonJaxbJsonProvider` which appears to overr

[2016-04-14 18:24] KonstantinYegupov commented on #1465
It does not need code; you just need to regenerate the documentation from the code.

[2016-04-15 08:21] joschi commented on #1465
@KonstantinYegupov There's a little more involved, e. g. writing the actual documentation in https://github.com/dropwizard/dropwizard/blob/master/docs/source/manual/configuration.rst for example.

If you're simply looking for the Javadoc of Dropwizard 0.9.2, you'll find that at http://www.dropwizard.io/0.9.2/docs/about/javadoc.html

[2016-04-15 20:36] mcpherrinm opened #1519 "Broken link to metrics.codahale.com in dropwizard getting started"
http://www.dropwizard.io/0.9.2/docs/getting-started.html#metrics-for-metrics links to http://metrics.codahale.com/ which is a broken link.

[2016-04-17 17:29] lefloh commented on #1289
Tu sum up again: If you want to recompile mustache views during local development you should [create a new MustacheFactory on each request](https://github.com/spullara/mustache.java/issues/57). There's no big code change necessary. An example [can be found here](https://github.com/dropwizard/dropwizard/compare/master...lefloh:1289).

[2016-04-18 20:53] who opened #1522 "Which third-party module has Google Guice working with 1.0.0-rc2 ?"
The current module that we use for Guice integration, `com.hubspot.dropwizard:dropwizard-guice` is no longer updated and is falling far behind the current version of Dropwizard. (See https://github.com/HubSpot/dropwizard-guice/issues/79 )

Do any third-party modules enable Google Guice usage on Dropwizard 1.0.0-rc2, or is there another recommended way to perform dependency injection in 1.0.0-rc2 ?

[2016-04-18 21:50] trasa commented on #1522
something like https://github.com/xvik/dropwizard-guicey ?

[2016-04-19 03:36] Randgalt commented on #1522
http://soabase.io/guice.html

I wrote this which is compatible with the old Jersey-Guice but works with Jersey 2.0

-Jordan

[2016-04-19 03:43] bladecatcher commented on #1522
I have migrated from HubSpot's dropwizard-guice to soabase and it's worked
great for me so far with Dropwizard 1.0.0 . soabase solves the big problem
of Guice injection into Jersey 2 resources

On Tue, Apr 19, 2016, 9:07 AM Jordan Zimmerman <notifications@github.com>
wrote:

[2016-04-19 08:10] joschi commented on #1522
There's been a related topic on the dropwizard-dev mailing list recently: https://groups.google.com/forum/#!searchin/dropwizard-dev/guice/dropwizard-dev/EVem62Gc_SY/LKypTx2KBAAJ

I'm closing this issue because it's not a bug report or feature request for Dropwizard.

[2016-04-19 08:10] #1522 closed

[2016-04-19 15:04] timmolter opened #1524 "Should update logback.version version to 1.1.7"
<http://mvnrepository.com/artifact/ch.qos.logback/logback-classic>

[2016-04-19 15:07] timmolter commented on #1510
run `mvn` package in the root folder, not in examples.

[2016-04-19 15:08] joschi commented on #1524
@timmolter A pull request would be welcome!

[2016-04-19 15:09] #1510 closed

[2016-04-19 15:11] timmolter opened #1525 "How to turn off connection logging now in new release?"
For logs like this:

    127.0.0.1 - - [19/Apr/2016:15:01:19 +0000] "GET /service/async HTTP/1.1" 404 43 "-" "Jersey/2.22.2 (HttpUrlConnection 1.8.0_45)" 105
    127.0.0.1 - - [19/Apr/2016:15:02:01 +0000] "GET /async HTTP/1.1" 200 12 "-" "Jersey/2.22.2 (HttpUrlConnection 1.8.0_45)" 5027

how do we suppress these in the logs? In 0.9.2, we did it with adding the following under the server section in

[2016-04-19 15:12] timmolter commented on #1524
Sorry, no extra time.

[2016-04-19 15:15] timmolter commented on #1525
Nevermind. Just remove the `timeZone: UTC` line and the connection logs are suppressed.

[2016-04-19 15:15] #1525 closed

[2016-04-19 16:06] roblittle commented on #1115
I had a similar issue, when updating an DW API from 0.7.1 to 0.9.2 (with oauth2 auth, and almost 300 unit tests, about 1/2 of which tested various resource endpoint POST/PUTs, which - revealed this same issue described above.

My Application.java had the environment.jersey().register() ofr the new AuthValueFactoryProvider and the newDynamicFeature hooks, both with the proper token object.

However

[2016-04-19 20:59] nickbabcock commented on #1519
This has been fixed by #1499

[2016-04-19 20:59] #1519 closed

[2016-04-20 08:00] akankshasaxena commented on #868
Hi ,
I can see there is /tasks/log-level path is available everytime when I start the dropwizard server, I am trying to change this log-level by using admin port , but not yet found any working solution.
I need to change the log level at runtime without restarting the server, I tried changing in YML file but I need to restart the server.
Any solution for this ?

[2016-04-20 08:20] #1524 closed

[2016-04-25 04:11] vandanagopal opened #1531 "Cannot use two different databases in the same resource method"
I need to access two different databases in the same resource method. I have set up the yml file correctly and the two hibernate bundle variables. All that is working fine. But when it comes to my resource method, I can only annotate it with a UnitOfWork belonging to one hibernateBundle/sessionFactory, so accessing the other database gives a "No session was associated" error.

[2016-04-25 07:33] joschi commented on #1531
@vandanagopal Please post your question and ideally some accompanying code snippets to the [dropwizard-user mailing list](groups.google.com/forum/#!forum/dropwizard-user).

[2016-04-25 07:33] #1531 closed

[2016-04-25 13:44] vandanagopal commented on #1531
Thanks, posted it on the user group.

On Mon, Apr 25, 2016 at 3:34 AM, Jochen Schalanda <notifications@github.com>
wrote:

[2016-04-26 13:58] #1037 closed

[2016-04-27 13:49] jkolash opened #1532 "Allow lazy loading of ConfigOverride values."
This code below is a current workaround the fact that values must be known ahead of time. We are running into an issue where we want to have port numbers be provided dynamically, but they won't be known ahead of time.

[code]

We could easily change the current implementation of ConfigOverride to allow a Supplier instead of a value to work around this specific issue.

It seems like the ConfigOverr

[2016-04-29 07:34] pritam620 opened #1533 "Can we inject any class in the filter associated with the dropwizard application"

[2016-04-29 07:42] joschi commented on #1533
@pritam620 Could you please elaborate on this on the dropwizard-user mailing list?
https://groups.google.com/forum/#!forum/dropwizard-user

[2016-04-29 07:42] #1533 closed

[2016-04-29 09:54] pritam620 commented on #1533
@joschi  I have posted my query on the mailing list at https://groups.google.com/forum/#!topic/dropwizard-user/-zoKO4feIAE

[2016-05-03 18:02] santanusinha opened #1534 "Issues using dropwizard 1.0.0-rc2 with lombok"
Couple of issues I noticed, both i think were due to interactions between lombok and jackson:
1. If config classes have @AllArgsConstructor and @Builder annotation at class level, class level defaults are not prepopulated while parsing config YAML file. For example:
[code]
If the "test" section is omitted in the YAML, d/w will throw an error

2) Check the issue: https://github.com/FasterXML/jackso

[2016-05-04 03:21] jakeswenson commented on #1534
What version of lombok are you using? Does it work if you change the type from string to something else? either that or try adding another field and let us/me know if it works. I work on paradoxical-io/jackson-lombok which should have been obsoleted with the jackson issue you mention, but we ran into errors with constructor selection.

[2016-05-04 04:46] santanusinha commented on #1534
Lombok version: 1.16.6

The issue does not depend on type. Adding fields also does not help.

[2016-05-04 13:33] nickbabcock commented on #1534
I upgraded the main branch to 2.7.4 in 3316980, did you have to give the snapshot a try?

[2016-05-04 13:51] santanusinha commented on #1534
Not yet. Will try and let you know.

----
Upset the established order, and everything becomes chaos. I'm an agent of
chaos. Oh and you know the thing about chaos, it's fair.

On Wed, May 4, 2016 at 7:03 PM, Nick Babcock <notifications@github.com>
wrote:

[2016-05-05 19:20] bmlining opened #1536 "Polymorphic Configuration doesn't handle system property overrides for collections if not specified in config file"
I've run into an issue where system property overrides are not properly handled for Polymorphic Configuration when the configuration value is a collection and a default is not specified in the config file.

For example, with the below configuration both 'strings' and 'integer' can be overridden using '-Ddw.persistence.strings' and '-Ddw.persistence.integer':

[code]

However, only integer can be o

[2016-05-06 18:38] heldeen commented on #1388
@ragebiswas, the maven shade plugin has support for rewriting the manifest with the relocated classes. See https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer

[2016-05-06 21:38] danielfc opened #1537 "NullPointerException when using @Valid with HttpClientConfiguration"
I faced an NPE when adding `@Valid` to my HTTP client configuration:

[code]

The issue is due to `@UnwrapValidatedValue` that is validated for `userAgent` and it's not cleaned up for the next attribute so it tries to apply it to `maxConnections`, for example.

DW version: 0.9.2

[code]

After validating the wrapped attribute, `validatedValueHandler` is no longer null and tries to do the same logi

[2016-05-10 07:20] vy opened #1539 "JSON deserialization failures should trigger a 400"
When Jackson fails to deserialize a JSON object due to object instantiation, it fails with a 500. But I think this invalid formatting error should have triggered a 400 instead. Consider the following example:

[code]

Requesting this endpoint with an invalid URL input results in a 500:

[code]

Relevant stack track is as follows:

[code]

I tried this using the most recent master branch, that is,

[2016-05-10 14:25] nickbabcock commented on #1539
So #1527 creates the foundation for the solution (but it needs a slight tweak). The majority of the issue is solved by the following:

[code]

Once #1527 is merged, I'll follow up with a fix with this issue, which is caused by `MalformedURLException` being an `IOException` :disappointed:

[2016-05-10 14:28] vy commented on #1539
Thanks so much for the prompt response @nickbabcock! I will be following #1527 as well. (BTW, let me know if there is anything I can further help with. I am up for the job.)

[2016-05-10 14:40] nickbabcock commented on #1539
Keep looking for edge cases :tada:

[2016-05-10 14:48] jplock commented on #1539
I just merged #1527

[2016-05-10 15:39] Tandolf opened #1541 "can't register exceptionmapper in 0.9.2"
**This is my exceptionmapper.**

`@Provider
public class RuntimeExceptionMapper implements ExceptionMapper \<Throwable\> {

    private static final Logger LOG = Logger.getLogger(RuntimeExceptionMapper.class.getName());

    @Override
    public Response toResponse(Throwable exception) {

        Response defaultResponse = Response.status(Response.Status.NOT_FOUND)
                .entity(new Erro

[2016-05-10 17:54] scho commented on #1541
Isn't the whole idea with the `WebApplicationException` that you don't need an exception mapper?
Have you tried throwing a `RuntimeException`?

[2016-05-10 18:43] Tandolf commented on #1541
Yes i have tried runtimeexception, i even tried writing an customexception. And exceptionmapped it.

Its like it doesn't register providers at all.

[2016-05-10 18:51] scho commented on #1541
Have you tried changing the generic type from `Throwable` to something else?

[2016-05-10 19:23] Tandolf commented on #1541
Yes i have tried "RuntimeException", "NotFoundException" and my own "CustomException".

Is there any way to se that the exceptionmapper actually gets registered at startup

[2016-05-10 19:25] scho commented on #1541
It shows up in the log file on startup.

[2016-05-10 19:34] Tandolf commented on #1541
okey, just checked my log, apparantly it doesn't get listed as a provider at startup. Now the question is. Why.

[2016-05-10 19:59] scho commented on #1541
Have you tried registering `RuntimeExceptionMapper.class` instead of an instance of it?

[2016-05-10 20:25] Tandolf commented on #1541
yeah and it didn't work

[2016-05-11 02:33] nickbabcock commented on #1534
I'm optimistically assuming the problem is resolved, if not, reply back.

[2016-05-11 02:33] #1534 closed

[2016-05-11 11:15] #1539 closed

[2016-05-11 12:15] Tandolf commented on #1541
Okey after much research this is what i have found out.

The order of registration matters. If you register Providers after resources they will not be registered. By raising the my provider to the top of all registered objects it suddenly got registered in the jersey environment.

But disabling Jersey exceptionmappers did work, next problem is that apperantly there is another exceptionmapper under

[2016-05-12 20:41] ezweave opened #1545 "Jackson NoSuchMethodError When Building"
This was working fine last week, but coming back to do a new build yesterday, I now get some error business when the Test target is hit.

`java.lang.NoSuchMethodError: com.fasterxml.jackson.annotation.JsonFormat$Value.empty()Lcom/fasterxml/jackson/annotation/JsonFormat$Value;`

Any ideas?

[2016-05-12 20:42] ezweave commented on #1545
Here's a slightly longer trace.

`java.lang.NoSuchMethodError: com.fasterxml.jackson.annotation.JsonFormat$Value.empty()Lcom/fasterxml/jackson/annotation/JsonFormat$Value;
	at com.fasterxml.jackson.databind.cfg.MapperConfig.<clinit>(MapperConfig.java:50)
	at com.fasterxml.jackson.databind.ObjectMapper.<init>(ObjectMapper.java:535)
	at com.fasterxml.jackson.databind.ObjectMapper.<init>(ObjectMapper

[2016-05-12 21:32] joschi commented on #1545
@ezweave This looks like some class path problem in your build. Which version of Dropwizard are you using? Which version of Maven? How does your POM look like and the output of `mvn dependency:tree` look like?

[2016-05-12 21:41] ezweave commented on #1545
Dropwizard 0.9.2, Maven 3.3.9.

Here is my output from `mvn dependency:tree`

`[INFO] io.thegist:the-gist:jar:1.1-SNAPSHOT
[INFO] +- com.alchemy.api:alchemyapi:jar:1.0:compile
[INFO] +- io.dropwizard:dropwizard-core:jar:0.9.2:compile
[INFO] |  +- io.dropwizard:dropwizard-util:jar:0.9.2:compile
[INFO] |  |  +- com.fasterxml.jackson.core:jackson-annotations:jar:2.6.0:compile
[INFO] |  |  +- com.goog

[2016-05-12 21:44] joschi commented on #1545
@ezweave Are you using the Maven Shade plugin (or a similar plugin) and with which configuration?

[2016-05-12 22:15] jplock commented on #1545
Could that Jackson 2.7.1 from the mongo driver be the problem?

[2016-05-13 03:28] ezweave commented on #1545
@joschi I am.  The config is pretty simple:

<plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-shade-plugin</artifactId>
        <version>2.3</version>
        <configuration>
          <createDependencyReducedPom>true</createDependencyReducedPom>
          <filters>
            <filter>
              <artifact>*:*</artifact>
              <excludes>

[2016-05-13 04:24] ezweave commented on #1545
@jplock that's what I'm thinking.  I don't know why it just started happening.

[2016-05-13 11:06] jplock commented on #1545
Can you try excluding Jackson-core there and falling back on the dropwizard version? I ran into a similar issue with the Riak client when trying to use 0.9.2 (https://github.com/basho/riak-java-client/issues/619).

I'm wondering if we should do another 0.9.x release that just updates Jackson to 2.7.x since some of the methods changed.

Thoughts @dropwizard-commiters?

[2016-05-13 16:21] arteam commented on #1545
Probably it makes sense to make another RC before the 1.0.0 release?

[2016-05-13 16:26] joschi commented on #1545
I'd vote for "fixing" (i. e. update Jackson) only in Dropwizard 1.0.0 and leave Dropwizard 0.9.x as it is now.

[2016-05-13 16:41] ezweave commented on #1545
Rolling it back fixed it.  MongoJack wanted to use it as well, which just exacerbated the issue.  Should I close this?

[2016-05-14 13:41] TomCools opened #1546 "setContextPath doesn't seem to work."
Maybe it's just me doing something wrong, but in my run(con,env) method, i do the following:
`environment.getApplicationContext().setContextPath("/rest");
 environment.jersey().register(HelloWorldEndpoint.class);`

The HelloWorldEndpoint has the **@Path("/hello")** annotation.

When i launch dropwizard however (without config, just using the **server** command), my endpoint is available on _localh

[2016-05-15 13:05] jplock commented on #1545
@ezweave yea I think we should close this for now and direct our efforts on releasing 1.0.0.  Thanks for the report though and for using Dropwizard.

[2016-05-15 13:05] #1545 closed

[2016-05-16 18:04] nickbabcock commented on #1537
I was not able to modify `dropwizard-example` to exhibit said behavior in 1.0 or 0.9.2

[2016-05-18 18:57] jhalterman commented on #1367
@joschi I think this issue was closed a bit too soon.

As @t-oydna points out and as the slf4j manual describes, having an explicit dependency on logback or anything else can and will cause conflicts with other things on the classpath. I know of one project that was forced to abandon Dropwizard entirely because of this. In that project, Spark, which like Dropwizard also uses slf4j but instead opts

[2016-05-18 22:11] silvpol opened #1547 "Silent failure to render view"
When exception happens during rendering template it's being caught, logged with level debug and then a generic WebApplicationException rethrown. This causes the stack trace to be lost unless you run at debug level. The rethrown exception is not logged either which leads to a silent failure that we encoutered today in prod. Only trace left was a 500 reply in NGINX access log.
I think that either th

[2016-05-18 22:15] silvpol commented on #1547
Just realised this is now fixed in master, closing.

[2016-05-18 22:15] #1547 closed

[2016-05-19 13:39] vdietsch opened #1548 "dropwizard-jdbi: JodaDateTimeMapper needs index- and name-based constructors to map columns other than the 1st one"
the JodaDateTimeMapper is derived from TypedMapper which has a default constructor that uses column 1 for its mapping.

Our use case needs to map more than 1 column via a JodaDateTimeMapper, which won't work with the current code.

I'd suggest the only things necessary are the following constructor signatures:
[code]

[2016-05-19 14:24] Allsimon commented on #1334
It seems that I can reproduce this on 1.0.0-rc3-SNAPSHOT

[2016-05-19 14:54] nickbabcock commented on #1334
- Can you reproduce this on rc2?
- Can you reduce the code to just what reproduces the problem?

[2016-05-19 15:35] Allsimon commented on #1334
Yes I can reproduce it on RC2 too

[code]

[2016-05-19 15:49] nickbabcock commented on #1334
Thanks for the bug report. I'm re-opening this issue. How do you reproduce the bug? Is it every request that has the issue?

I'm curious if @arteam has the bandwidth to investigate because I'm totally unaccustomed to Hibernate :blush:

[2016-05-19 15:58] Allsimon commented on #1334
Yes, on every request :) On the reproduction project I published, you just have to GET  `localhost:8080/Sync/static` and it will happens

[2016-05-19 17:50] nickbabcock commented on #912
Closing this because [the code](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-metrics/src/main/java/io/dropwizard/metrics/MetricsFactory.java#L83-L94) will warn users if something is set up incorrectly and #1514 is for discussing possibilities to informing users of what config values are used at runtime.

[2016-05-19 17:50] #912 closed

[2016-05-20 05:16] thomaslee opened #1550 "dropwizard-testing: extract a resource testing helper class from ResourceTestRule"
`ResourceTestRule` is an excellent and easy way to test resources in Dropwizard, but sometimes JUnit rules aren't as convenient or flexible as "normal" helper classes might be in tests.

For example, I wanted most of the semantics of `ResourceTestRule`, but I wanted each test in the class to have a slightly different configuration. This is kind of a problem when using `ResourceTestRule` as you're

[2016-05-20 08:29] #1491 closed

[2016-05-20 11:04] vitorreis commented on #1390
The time has passed and I already don't remember exactly in which page was the issue, so I am closing the issue.
Thanks, in the next one I will also doc which exactly is the page in order to remember and submit the fix

[2016-05-20 11:04] #1390 closed

[2016-05-20 13:22] nickbabcock commented on #1546
Is modifying the `rootPath` in the configuration not working as well (it does a `setUrlPattern` behind the scenes)?

[2016-05-20 13:54] TomCools commented on #1546
rootPath works, but i wonder what the setContextPath is used for then?
I like to set it in code for a simple integration test, for which i just want to invoke the run()-method.

[2016-05-21 10:25] joschi commented on #1548
@vdietsch It's rather unlikely that we release another version of Dropwizard 0.9.x, but I've created a patch for this nonetheless.

FWIW, I'd recommend migrating to Dropwizard 1.0.0 as soon as it's available which also comes with a more recent version of jDBI.

[2016-05-21 15:13] joschi commented on #1367
@jhalterman

SLF4J allows bridging other logging frameworks like log4j, commons-logging, or j.u.l which Logback itself doesn't. Additionally, Dropwizard allows for a deep integration of Logback, e. g. with jDBI or by allowing to configure it in the Dropwizard configuration (instead of having to write a custom `logback.xml` or `log4j.xml` file).

That being said, a pull request for abstracting the

[2016-05-22 00:33] #1548 closed

[2016-05-23 03:12] thomaslee commented on #1477
Perhaps the code has changed since you looked at it, but to me it looks to me like:

1. Application connectors and admin connectors are added to a common Jetty `Server` instance.
1. That `Server` instance itself has a single thread pool of up to `maxThreads` threads.

What seems to be happening here is the total number of threads configured for your application connectors + admin connectors exceed

[2016-05-23 19:05] ajermakovics commented on #1477
Hey @thomaslee

Yes, looks like that is the place where application thread pool is created: [DefaultServerFactory.java#L159-L173](https://github.com/dropwizard/dropwizard/blob/d6dfbcbf821fd1b7f3aab881c34302095f3a3cfc/dropwizard-core/src/main/java/io/dropwizard/server/DefaultServerFactory.java#L159-L173)

And then there is the Admin threadpool created here [DefaultServerFactory.java#L218](https://g

[2016-05-24 04:18] thomaslee commented on #1477
@ajermakovics hm yeah thanks for the clarification -- on closer inspection I see what you mean.

So just to rephrase in my own words: expected behavior here is `applicationConnectors` threads should be configurable entirely independently of `adminConnectors`, but we seem to be failing some validation step in the Server ctor such that we need to make `maxThreads` at least as large as combined appli

[2016-05-24 06:37] vvondra commented on #1522
@joschi It could be a nice addition to the documentation, since people will be often looking for this.

[2016-05-24 07:17] thomaslee commented on #1477
It's hard to see how this is supposed to work. The validation in Jetty's `Server.doStart` will validate the application thread pool is large enough for *all* configured connectors -- not just the application connectors. So you can't start a `Server` instance unless your "global"/"server" thread pool is large enough to accommodate the acceptor+selector thread counts for all connectors (even though

[2016-05-24 12:14] BusComp opened #1557 "ServerCommand.run causes NullPointerException in catch block"
see io.dropwizard.cli.ServerCommand#run, line 46
`server.stop()` cause NullPointerException when previous start fails.
[code]
Start fails; jetty not started
[code]
Within the catch block `server.stop()` is invoked. The root cause is replaced by an NullPointerException and `cleanup();` will never be reached...
[code]
This could be a solution.
Surround `server.stop()` with a 2nd `try/catch` block an

[2016-05-24 13:28] nickbabcock commented on #1557
Good catch! Are you comfortable writing a pull request with fix + test case?

[2016-05-24 13:42] BusComp commented on #1557
Ok, I'll write a pull request, but it may take 1-2 days to push it.

Thanks

[2016-05-24 13:48] nickbabcock commented on #1557
No problem -- no rush :tada:

If you can't find the time or need someone to take up the torch, just let us know

[2016-05-24 16:51] a86c6f7964 opened #1558 "server attribute requestLog does not allow snake case"
in Dropwizard version 1.0.0-rc2 currently https://github.com/dropwizard/dropwizard/blob/49ea3ed32b01c3990f00a878d665f2cbf384d00f/dropwizard-core/src/main/java/io/dropwizard/server/AbstractServerFactory.java#L266 marks the name of the requestLog property to be explicitly camel case. I am using the SNAKE_CASE jackson extension and it is very un-intuitive to have one random property that is not snake

[2016-05-24 19:38] nickbabcock commented on #1558
The problem is that the `@JsonProperty("requestLog")` is needed, else it won't be de/serialized correctly because the property is named differently than what would be auto-detected.

[code]

And unfortunately the naming strategy only works in:

If there was a way to get the snake casing to work universally without breaking backwards compatibility, I would support that (have you tried [mixins](http

[2016-05-24 19:53] nickbabcock commented on #1497
Closing this, as it seems due to Liquidbase and not Dropwizard itself.

[2016-05-24 19:53] #1497 closed

[2016-05-24 19:55] #1468 closed

[2016-05-24 20:05] nickbabcock commented on #1432
I'm assuming this isn't an issue anymore, so I'l close this.

Reply back otherwise, and I'll open it back up.

[2016-05-24 20:05] #1432 closed

[2016-05-24 20:19] nickbabcock commented on #1438
Is this still happening? I am unable to reproduce this using 1.0.0-rc2

[2016-05-24 21:28] scho commented on #1432
I've tried to reproduce with a minimal example, but I couldn't reproduce it. This issue is somehow related to our project setup, but I don't know what exactly caused it.

Thanks for looking into it anyways.

[2016-05-24 21:28] a86c6f7964 commented on #1558
Ah, I think because of https://github.com/dropwizard/dropwizard/commit/05d3fcdb6f5e15a998b1bf68ce57d829f7c1e6fe I thought that this was new. This problem has been around for a while. Maybe you could do something like
[code]
making it package local, so that jackson could use it, but not breaking any other people that are using the java apis.

[2016-05-24 23:29] #1465 closed

[2016-05-25 01:35] nickbabcock commented on #1472
Closing this because the feature is implemented in 1.0 (if this is not the case, or there is a bug, please report back to open the issue back up).

[2016-05-25 01:35] #1472 closed

[2016-05-25 10:41] BusComp commented on #1557
#1560

[2016-05-25 13:14] nickbabcock commented on #1350
Ok, closing this because the solution exists.

@boncey, if you want to make a PR for the feature, go ahead and do so :smile:

[2016-05-25 13:14] #1350 closed

[2016-05-25 13:17] #1557 closed

[2016-05-25 13:17] nickbabcock commented on #1303
Thanks @patrox for the reminder, 1869404 (upgrading to Logback 1.1.7) closes this

[2016-05-25 13:17] #1303 closed

[2016-05-25 13:27] nickbabcock commented on #838
@scottaj, sorry for the late response, but yes a PR that allows access to the request body would be welcomed.

[2016-05-25 13:54] nickbabcock commented on #886
Looks like atmosphere uses java8, so yes the recommendation to use dropwizard-java8 could solve or issues or trying the latest 1.0 release candidate (which uses java8 as a baseline).

Closing this because @phxql's blog post also is another solution.

[2016-05-25 13:54] #886 closed

[2016-05-25 14:37] nickbabcock commented on #1278
@pandaadb, I think it may only be for certain rolling policies (correct me if I'm wrong) that `setFile(null)` will work as if `getFile()` is null in `FileAppender` the appender won't start.

While I want Dropwizard users not to be unnecessarily constrained by validation annotations, I'd hate to create more ways for users to create invalid configs. I am open for persuasion, though. Thoughts?

[2016-05-25 15:17] nickbabcock commented on #1518
Is this necessary, as wouldn't you just create a custom `ViewRenderer` that would deal with its own `ThreadPoolExecutor`?

[2016-05-25 15:25] nickbabcock commented on #1550
Seems like a very nice addition, make a PR please :smile:

[2016-05-25 17:17] nickbabcock commented on #1532
Yeah if you want ConfigOverride to take in a supplier that's fine (submit a PR). As long as it doesn't break backwards compatibility, it'll be merged.

[2016-05-26 10:52] pandaadb commented on #1278
@nickbabcock

I have looked through it and you are right. My "hack" only works for the correct appender since the default FileAppender does not like to have null values.

Thing is, even the RollingFileAppender explodes with the file being null. Maybe this can be a different validation. I looked through your factory and it appears that an elegant solution might be something like that:

[code]

This

[2016-05-26 11:56] nickbabcock commented on #1278
Great point -- your solution makes total sense. Please submit a PR with it and some tests.

And the validation message should be along the lines of:

If feel unable to write the PR just let us know.

[2016-05-26 12:42] pandaadb commented on #1278
Hey - first time pull request. Let me know if I messed it up and/or something is missing :) That was much more convenient that I thought it would be. Might do that more often :)

[2016-05-26 16:02] nickbabcock commented on #1546
Ok I looked into a little more and the reason why you're seeing this issue is that the server is not configured until after the Application's `run`. During server configuration it overwrites whatever context path may have been previously set (`SimpleServerFactory` and `DefaultServerFactory`). To get a custom context path in tests use `ConfigOverride` or a different configuration file to set the `a

[2016-05-26 16:02] #1546 closed

[2016-05-26 17:02] nickbabcock commented on #1278
Closed by #1278

[2016-05-26 17:02] #1278 closed

[2016-05-26 18:09] pacey commented on #1518
You indeed could just create a `ThreadPoolExecutor` but I thought it would be nice to use a manged thread pool provided by Dropwizard using `Environment#managedExecutorService`.

[2016-05-26 20:42] isaki-x opened #1563 "Enhancement to Lifecycle Setup Classes"
Greetings,

I noticed that the executor service factories provided in LifecycleEnvironment do not allow you to specify a ThreadFactory directory; instead you must invoke "threadFactory" on the returned builder object. However, the builder creates a default thread factory in its constructor which is waste of time and resources if the code has a ThreadFactory implementation it wants to use instead o

[2016-05-26 20:55] nickbabcock commented on #1518
Ok I see what you mean -- I just had to re-aquiant myself the code. If this would provide tangible benefits then a patch would be accepted

[2016-05-27 14:52] fedotxxl opened #1567 "Is it possible to use logback.xml instead of *.yml?"
Hello. We've got a lot of different projects. All of them are configured by `logback.xml` and it works. I don't understand why should I learn one more DSL? Why should I think again:

1. How to create new appender?
2. How to use custom appender?
3. What will happen when logback add new functionality? How to use it with dropwizard?

The question is: how to use `logback.xml` configuration instead of

[2016-05-27 15:26] tdakanalis opened #1568 "Enhance PooledDataSourceFactory Interface"
It would be very helpful if the PooledDataSourceFactory interface defined the method:

[code]

Having that, different connection pooling libraries could register their build-in health checks to the registry. For example hikariCP has already implmemented the following health checks https://github.com/brettwooldridge/HikariCP/wiki/Dropwizard-HealthChecks

[2016-05-27 15:52] isaki-x commented on #1460
To get around this behavior you can do several things.

1. If you are using a standard executor under the hood, you could provide your own thread pool that has an UnhandledExceptionHandler that invokes System.exit.
2. If you are using a scheduled executor under the hood, #1 won't work. You will have handle the exceptions in your runnable.
3. Write a service that watches other services and restarts

[2016-05-27 18:55] nickbabcock opened #1569 "HTTP2 Capable Client"
This issue is to track an HTTP2 capable client for `dropwizard-client`. Discussion about this topic started in #1349, but it's best if there was a separate issue. An http2 capable client won't make it in the release 1.0.

Copying @arteam's [comment (Nov. 2015)](https://github.com/dropwizard/dropwizard/pull/1349#issuecomment-158766533):

Since then, looks like Apache's `HttpClient` is [planning a m

[2016-05-29 13:48] #1532 closed

[2016-05-29 14:33] nickbabcock commented on #1567
The only official way is through the yaml configuration though I believe #996 allows one to define their own logging factory, so one should be able to create one to use logback.xml

[2016-05-30 02:15] davireis commented on #1367
For the record, I have been struggling with this as well. I work around the spark problem by using my own jars from spark modified to use logback instead of log4j. It is quite pain, but it works. However, there some scenarios where spark is brought through a dependency, and it gets harder to use the same trick. For example, currently I cannot run my code in spark notebook (https://github.com/andyp

[2016-05-30 02:23] tanviapte opened #1573 "Can't register custom exceptionmapper"
Hi,
I am using dropwizard 0.9.2 for my REST API. Here is my setup.
This is the main app `VehicleService.java`
[code]
So I am registering a `VehicleServiceExceptionMapper` which looks like this:
[code]
and I read other similar issues here on github and found out i need to disable the default exception mappers in my `config.yaml` like:
[code]

so after all this setup, I still don't see my exception

[2016-05-30 09:43] joschi commented on #1567
@fedotxxl The intention of Dropwizard as a framework is to provide a single point of configuration (the configuration file) for all parts involved. Otherwise, users would have to write their own `logback.xml`, `jetty.xml`, `hibernate.properties` etc. files.

If you want to use a custom Logback appender, you will have to add it programatically.

Since @nickbabcock mentioned an existing workaround f

[2016-05-30 09:43] #1567 closed

[2016-05-30 09:48] joschi commented on #1563
Closed in #1570.

[2016-05-30 09:48] #1563 closed

[2016-05-30 09:54] joschi commented on #1568
@tdakanalis The `*DataSourceFactory` doesn't have access to the `Environment` or `HealthCheckRegistry` instances of a Dropwizard application.

If you want to automatically register health checks, create a [`ConfiguredBundle<T>`](http://www.dropwizard.io/0.9.2/dropwizard-core/apidocs/io/dropwizard/ConfiguredBundle.html) which has access to the `Environment` instance via its `run()` method.

[2016-05-30 09:54] #1568 closed

[2016-05-30 22:19] cowwoc opened #1574 "Provide a MessageBodyWriter for ValidationErrorMessage"
I am getting the following error message:

[code]

Shouldn't Dropwizard provide a `MessageBodyWriter` for this out of the box? Am I missing something?

[2016-05-31 01:37] nickbabcock commented on #1574
Since you're writing it out as html this is something that you define (if I'm not mistaken). `ValidationErrorMessage` serializes fine as json.

[2016-05-31 08:55] softarn commented on #1573
Possible duplicate: https://github.com/dropwizard/dropwizard/issues/1541

[2016-05-31 11:01] head-thrash commented on #1534
Tested 1.0.0-rc2 with overriden jackson-databind, works fine.

[2016-05-31 11:18] joschi commented on #1537
I'm closing this issue as the original author didn't respond.

@danielfc Feel free to add your comments and we can re-open the issue if's it still a problem in Dropwizard 1.0.0.

[2016-05-31 11:18] #1537 closed

[2016-05-31 12:39] nickbabcock commented on #1541
I was able to create a test project that shows that registration order does not matter (with and without `registerDefaultExceptionMappers=false`), so unless a test can be demonstrated (preferably within this repo), I'm closing this

I do acknowledge that the docs in this area sorely needs some love, which yours truly will get to.

[2016-05-31 12:39] #1541 closed

[2016-05-31 12:41] nickbabcock commented on #1573
Try explicitly registering your exception mapper in `run`. You also won't need to turn off registerDefaultExceptionMappers

Since this is not an issue with dropwizard itself, I'm closing this.

[2016-05-31 12:41] #1573 closed

[2016-05-31 14:06] cowwoc commented on #1574
@nickbabcock I'm actually not trying to write it out as `text/html`. I have no idea why Jersey thinks I am.  That said, you mention that `ValidationErrorMessage` serializes fine as json. Who (which class) provides this serialization?

[2016-05-31 14:59] nickbabcock commented on #1574
[JacksonMessageBodyProvider](https://github.com/dropwizard/dropwizard/blob/a3379d7de294f82409b1443af87b70e62238bdef/dropwizard-jersey/src/main/java/io/dropwizard/jersey/jackson/JacksonMessageBodyProvider.java)

You shouldn't have to do anything with this to get json serialization :confused:

Are your endpoints/resources annotated with `@Produces(MediaType.APPLICATION_JSON)`?

[2016-05-31 16:25] joschi commented on #1438
I'm closing this issue as it cannot be reproduced.

@VanDavv Feel free to add a comment if the problem still occurs on the latest release candidate of Dropwizard 1.0.0.

[2016-05-31 16:25] #1438 closed

[2016-05-31 20:14] msteinhoff opened #1576 "Dropwizard config validation prints attribute name instead of JsonProperty alias"
Hi,

happens with happens Dropwizard 1.0.0-RC2.

When I have a config property, e.g.

[code]

and the config file does not include `foo`, I get a validation error telling me that `baz` is missing.

This confuses users when e.g. the documentation only contains the aliased property names.

I guess this happens because the validation doesn't know anything about the alias from the `JsonProperty` annot

[2016-06-01 18:29] vivekkothari opened #1579 "Custom Auth configuration for different APIs"
Hi,

I have few APIs which are authenticated by BasicAuth and some by Bearer token, currently I am using a ChainedAuthFilter and annotating my resource method with @Auth annotation, and the auth is enabled, but for all the APIs both the types of Auth (Basic & Bearer) are enabled, I want to restrict APIs to use only a specific type of Authentication mechanism.
I am thinking to create a custom annot

[2016-06-02 01:58] situokko commented on #1579
Related a bit, I am using Toastshaman JWTAuthFilter it works great for JAX-RS resources but would love to be able to use it also for Jetty Websocket connections. Currently there's no way let the filter do then authentication or inject @Auth Principal-object for WS-connection but I have to do the authentication manually during UpgradeRequest.

I commented this in Toastshaman-JWT AuthFilter project

[2016-06-02 15:58] Allsimon opened #1580 "Dagger 2"
Is it possible to use Dagger 2 with dropwizard ?

I keep getting `org.glassfish.hk2.api.UnsatisfiedDependencyException: There was no object available for injection at SystemInjecteeImpl`

[This blog post](https://metabroadcast.com/blog/dagger-through-a-wizard
https://github.com/ljeyaratnam/hello-world) explains how to do it but in [their repo ](https://github.com/ljeyaratnam/hello-world) dagger 2

[2016-06-03 16:20] gjesse opened #1584 "make HealthCheckRegistry pluggable"
Similar to how the ObjectMapper and MetricsRegistry can be customized/swapped in the bootstrap, I would like to be able do the same with HealthCheckRegistry.

We are attempting add some additional information to the existing health check output, and under the current setup it requires us to pass around a separate registry, which is cumbersome.

[2016-06-03 20:56] #1584 closed

[2016-06-03 20:56] jplock commented on #1584
Will be fixed in 1.0.0 (or the next 1.0.0-rc release)

[2016-06-05 20:08] nickbabcock commented on #1576
You're correct in your observation that since validation and deserialization are decoupled it does make it harder to correlate errors with the raw data (in this case, the yaml).

I've documented this limitation as part of #1587

It can be better though, and may be something that can be worked on in the future.

[2016-06-05 21:08] RohanNagar commented on #1580
It is possible, I use it in my applications. Check out https://github.com/RohanNagar/thunder

[2016-06-05 21:22] nickbabcock commented on #1246
Closed by #1578

[2016-06-05 21:22] #1246 closed

[2016-06-05 21:24] nickbabcock commented on #1274
Without a code example demonstrating actual vs expected behavior, there isn't too much we can do.

[2016-06-05 21:24] #1274 closed

[2016-06-05 21:27] nickbabcock commented on #858
Should be a non-issue as Dropwizard no longer contains a Gzip Filter (it's a Gzip Handler as of 1.0.0), which shouldn't get in your way. See 29e927a. Let us know if there continues to be problems.

[2016-06-05 21:27] #858 closed

[2016-06-05 21:30] nickbabcock commented on #1580
Thanks for the link, @RohanNagar. Closing this issue out as it doesn't appear to be an issue with Dropwizard

[2016-06-05 21:30] #1580 closed

[2016-06-05 21:32] NickEckert commented on #1579
Yea I'm having a problem using two different authenticators for two different resource methods. I tried registering them separately and using chained factories but nothing works and I feel like using different types of authentication should be possible.

[2016-06-05 21:35] RohanNagar commented on #1579
This is also related to auth and what @NickEckert is talking about - I want to protect two resource methods with different Principals. One basic auth using a user's username a password, and another basic auth using an application name and password. Registering two` AuthValueFactoryProvider.Binder<>` instances does not seem to be working. Any information on this?

[2016-06-06 14:13] situokko opened #1588 "Unable to unit-test custom ConstraintViolationExceptionMapper"
Related to:
https://github.com/dropwizard/dropwizard/issues/710

If I have "registerDefaultExceptionMappers: false" in my server-configuration, I can replace default ConstraintViolationExceptionMapper with my own, it works ok.

However if I wish to unit-test responses created by that custom mappers, it is not possible with ResourceTestRule as it registers ConstraintViolationExceptionMapper in Reso

[2016-06-06 14:37] joschi commented on #1588
@situokko Could you please post a minimal code example of what you're trying to do?

[2016-06-06 14:52] nickbabcock commented on #1588
This has been fixed in #1387 for 1.0, which will by default register default exception mappers in the in ResourceTestRule. This is a bug for dropwizard 0.9.x.

[2016-06-06 14:58] situokko commented on #1588
@nickbabcock Ohh, nice, my bad, didn't notice to set the version number, I am using 0.9.x. I'll switch to 1.0 once the final release comes out!

[2016-06-06 14:58] #1588 closed

[2016-06-06 14:59] joschi commented on #1588
@situokko Feel free to give Dropwizard 1.0.0-rc3 a try.

[2016-06-06 14:59] situokko commented on #1588
@joschi This would have been the example code

`class MyResourceTest extends TestBase {
    @ClassRule
    public static final ResourceTestRule resources = ResourceTestRule.builder()
        .addProvider(new AuthValueFactoryProvider.Binder<User>(User.class))
        .addProvider(new RestExceptionMapper())
        .addProvider(new MyConstraintViolationExceptionMapper())
        .addResource(injecto

[2016-06-06 20:39] tmack8001 opened #1589 "Expose ability to override ServletConfig values (ex "healthcheckUri" and "pingUri")"
It would be great to be able to expose the ability via app.yml to override the AdminServlet.healthcheckUri and AdminServlet.pingServlet to some custom path that we want to expose these on our application.

This is just a nice to have not a necessary thing as it is cosmetic. Thoughts here are that the codahale classes allow this to happen so they should be expose up through the DropWizard Applicati

[2016-06-07 14:21] andyrexford commented on #965
@carlo-rtr Just stumbled over this issue because AWS deployment caught my eye.  We have a fully automated pipeline (git post commit hooks, jenkins, aws opsworks) that we've muscled through with chef recipes but are looking to improve it.  Do you have more details on what you are looking to achieve here?

[2016-06-07 14:23] greenreign commented on #965
@carlo-rtr Just stumbled over this issue because AWS deployment caught my eye.  We have a fully automated pipeline (git post commit hooks, jenkins, aws opsworks) that we've muscled through with chef recipes but are looking to improve it.  Do you have more details on what you are looking to achieve here?

[2016-06-08 12:50] 123surya commented on #652
can we enable prepared statement caching?

[2016-06-08 20:48] seven-qi commented on #52
@christophercurrie  Curious about how you're dealing with the logger. The current version is hard coded to use logback, if I want to use log4j in my system, how should I do it? Thanks!

[2016-06-09 15:43] msteinhoff commented on #1576
Hey @nickbabcock, thank you for the documentation.

I see that you have updated it in the rst file. How does dropwizard documentation publishing work? Is this already online somewhere?

Regarding to work on this issue, have you something in mind how this problem could be approached?

[2016-06-09 17:18] nickbabcock commented on #1576
It's updated whenever there is a dropwizard version update and on the rare occasion that the docs need updating out of band.

The lowest hanging fruit would be to correlate fields that are directly annotated with `JsonProperty` with the validation errors, which would solve your problem. This is what is done for Jersey's `*Params` (and this isn't 100% either). The issue is that with Jackson, there

[2016-06-09 18:10] Ettery commented on #455
I am seeing this issue with dropwizard 1.0.0-rc2 and an uberjar built by IntelliJ Idea - is there a fix other than another build tool?  Thanks.

[2016-06-10 07:12] joschi commented on #455
@Ettery Just make sure to merge the service files as described in https://github.com/dropwizard/dropwizard/issues/455#issuecomment-54983032 and https://github.com/dropwizard/dropwizard/issues/455#issuecomment-57805501. If your build tool doesn't support this, it's a shitty build tool (YMMV).

[2016-06-10 07:12] arteam commented on #1569
Just for info, I started a [side-project](https://github.com/arteam/dropwizard-http2-client) several month ago for integration Dropwizard and the Jetty HTTP2 client. The client can be configured from a Dropwizard config, supports metrics instrumentation, and managed by the Dropwizard lifecycle.
Unfortunately, there is no much activity in the project, but it should be in a pretty a good shape.
I ha

[2016-06-13 15:24] uttamtiwari123 opened #1595 "Could not resolve type id 'file' into a subtype of [simple type, class io.dropwizard.logging.AppenderFactory]"
Hi I am using Dropwizard 0.7.1 and facing below issue on production environment:

[code]

The yaml I am using is

[code]

The pom.xml which I am using is :
[code]

Please help me what I am doing wrong.

[2016-06-13 15:39] arteam commented on #1595
@uttamtiwari123, Probably Dropwizard's SPI files were not included in the jar.
Try use `maven-shade-plugin` for assembling the jar file. Have a look at the [Building Fat JARs](http://www.dropwizard.io/0.9.2/docs/getting-started.html#building-fat-jars) section in the documentation.

[2016-06-13 17:38] yumingcao-okta commented on #1334
Not sure why this PR is reopened, #1361 addressed this issue for me. @Allsimon you should use `UnitOfWorkAwareProxyFactory` when constructing authenticator.

[2016-06-14 10:47] joschi commented on #1595
@uttamtiwari123 Dropwizard 0.7.1 is pretty old and not supported anymore. Please try upgrading to a more recent version of Dropwizard (e. g. 0.9.2 or 1.0.0-rc3) and check if the problem persists.

I'm closing this issue. Feel free to add comments when the problem still happens on a supported version of Dropwizard.

[2016-06-14 10:47] #1595 closed

[2016-06-15 06:06] arteam commented on #1334
Yes, @yumingcao-okta is right. Your authenticator should be created as
[code]

Also, you should not forget to annotate the method  `authenticate` with the `@UnitOfWork` annotation.
Probably we should make more clear in the documentation.

[2016-06-15 09:14] dav009 commented on #1367
sorry to pollute the issue.

@davireis similar problem around here, with a different set of libs (Storm + logback + slf4j + log4j). Essentially the same thing, just wondering if you found a better work around than having your own spark-fork

[2016-06-15 12:16] ankgoyalEXP commented on #1313
I am facing the same issue with com.yammer.dropwizard 0.6.2. Is there any way to fix in this repo?

[2016-06-15 13:24] joschi commented on #1313
@ankgoyalEXP Dropwizard 0.6.x is not supported anymore. Please upgrade to a more recent version.

[2016-06-15 13:45] Madhukar07565 commented on #868
* Unrecognized field at: logging.appenders.[1].logger
    Did you mean?:
      - logFormat
      - archive
      - queueSize
      - timeZone
      - threshold
        [4 more]

Getting the above error after adding the looger in yaml file

[2016-06-15 14:05] Madhukar07565 commented on #868
Hi all,

  How to log the messages to different files based on some condition in an application and not based on the log level.

For e.g:

I have sent a request to application in the logs it will print response code, headers and etc. But based on some condition headers should print to another log file not to the regular log file.

[2016-06-15 14:17] joschi commented on #868
@Madhukar07565 Please post your problem to the mailing list: https://groups.google.com/forum/#!forum/dropwizard-user

[2016-06-15 18:44] silkentrance commented on #920
@eepstein any progress on the jpa bundle?

[2016-06-15 18:46] eepstein commented on #920
I got it most of the way done. This was for DW 0.8.x however.

With 0.9.2 the main need - transactions outside the persistence layer - was addressed.

I can share what I have (if I can find it).

[2016-06-15 20:49] jeremygehrshg opened #1597 "Default showDetails in JsonProcessingExceptionMapper to true"
After using Dropwizard for 5 months at work now, I discovered this option recently and it's saved hours of debugging and digging through stack traces since then.  It doesn't look like anything is gained by _not_ providing the error field and what the validation issue is, so I think showDetails should be set to true by default.

Here is the class:
https://github.com/dropwizard/dropwizard/blob/ae984

[2016-06-15 21:10] silkentrance commented on #920
@eepstein how about making this a public project then :+1:

[2016-06-15 21:57] eepstein commented on #920
Will do. I'll see where I put it. Was on a different dev box at the time.

[2016-06-16 01:23] eepstein commented on #920
Hi Carsten,

I’m really sorry to say I don’t have access to the code anymore.  It was under contract at a company on their machines backed by their repo… they were OK with o/s contributions, but seems I never did that and since they’re not a current client I don’t have the code.  :-/

Ezra

[2016-06-16 14:29] natnan commented on #1576
I handle the `ConstraintViolationException` with my custom exception mapper to return a DTO with field name and error message; so that the frontend can handle it better (focus, mark etc.). I ended up fixing this on my exception mapper (probably missing a lot of edge cases but good enough at the moment). I was hoping to contribute this to [ConstraintMessage](https://github.com/dropwizard/dropwizard

[2016-06-16 14:37] Madhukar07565 commented on #957
logging:
  level: INFO
  loggers:
    "io.dropwizard": INFO
    "org.hibernate.SQL":
      level: DEBUG
      additive: false
      appenders:
        - type: file
          currentLogFilename: /var/log/myapplication-sql.log
          archivedLogFilenamePattern: /var/log/myapplication-sql-%d.log.gz
          archivedFileCount: 5
  appenders:
    - type: console

while running the application it is

[2016-06-16 14:39] Madhukar07565 opened #1598 "* Unrecognized field at: logging.type"
[code]
When i have added the above configuration in yaml file i am getting the below error.
[code]

[2016-06-16 14:42] joschi commented on #1598
@Madhukar07565 Which version of Dropwizard are you using?

[2016-06-16 15:17] Madhukar07565 commented on #1598
0.8.1

[2016-06-17 06:33] silkentrance commented on #920
@eepstein oh well, no problem. will look into this then myself...

[2016-06-17 10:19] ajlanghorn opened #1600 "CVE-2016-3720 in com.fasterxml.jackson dependencies"
When running the OWASP Dependency Check tool against a Dropwizard 0.9.2 installation, [CVE-2016-3720](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-3720) is raised thirteen times because of the fasterxml.jackson dependency:

[code]

We'd rather not patch the version in 0.9.2, especially when 1.0.0 has RCs out. It looks like 1.0.0-rc3 will pull FasterXML.Jackson's latest version, rather t

[2016-06-17 10:43] ajlanghorn commented on #1600
@joschi Thanks for the super-speedy work on this! So awesome. In ec8a15c, it looks like you upgraded the Jackson version to 2.6.7 but noted in the commit message and readme that you'd gone to 2.6.5. Was that intentional?

[2016-06-17 10:56] joschi commented on #1600
@ajlanghorn Argh, that was a typo. Thanks for spotting it!

[2016-06-17 11:29] #1600 closed

[2016-06-17 18:15] bladecatcher commented on #920
@silkentrance I'd put together JPA (for all persistence), Dropwizard using guice-persist (for DI and made writing transactional methods `@Transactional` annotation). The drawback is the @Transactional semantics don't work in Jersey 2 resources (as they're not loaded by Guice) for which I ended up having to use manual transaction management. An example implementation is presented here https://githu

[2016-06-17 18:58] arteam commented on #920
Yes, it's a good advice. I think, If you are using JPA, it's just simplier to go with Spring, which has good integration with it. You can easily combine Spring and Dropwizard though.

[2016-06-18 07:40] arteam commented on #1598
I beleive Dropwizard 0.8.1 doesn't support complex configuration for individual loggers. This feature was added only in Dropwizard 0.9. Please, see the [docs](http://www.dropwizard.io/0.8.1/docs/manual/configuration.html#logging) for the 0.8.1 version.

[2016-06-18 07:40] #1598 closed

[2016-06-19 21:30] rattrayalex commented on #1378
Is hot deploy possible with Gradle?

[2016-06-20 06:09] arteam commented on #1378
Static resources should be reloaded without additional work. For Java code, you need a special JVM which allows redefine classes in runtime. For example, [DCEVM](https://github.com/dcevm/dcevm).

[2016-06-21 17:22] ajlanghorn commented on #1600
@joschi Do you happen to have a date for a 0.9.3 release so we don't need to build from master? :)

[2016-06-21 17:23] ajlanghorn commented on #1600
Oh, just noticed it's there!

[2016-06-21 17:23] oillio commented on #1341
Jersey rejected my request to allow inheriting: https://github.com/jersey/jersey/pull/221

Looking a little deeper, I am wondering why Dropwizard defines a `JacksonJaxbJsonProvider` at all?

It is currently being used to define the ObjectMapper to be used.  From what I understand, Jersey recommends this to be defined through an ObjectMapperProvider, such as in this example:  https://github.com/jer

[2016-06-22 11:06] apgeorge opened #1604 "Hibernate insert/update exceptions not being returned to the client"
**Version: 1.0.0RC3**

The fix to allow lazy loading of POJOs during serialization has introduced a key issue. We are no longer seeing SQLExceptions during an insert/update//delete being reported back to the client.

In 1.0.0RC3, the session will be closed and the transaction committed only after the serialization has happened. If there are any database exceptions during the transaction commit (co

[2016-06-22 14:01] jcshaw opened #1605 "Position variable in OutParamArgument is alway zero when using named parameters."
Hello,

Using @SqlCall to call a Stored Procedure and using (Call) .registerOutParameter(name, type), the position variable is zero for any named parameter; when calling the map function on OutParamArgument getting a java.sql.SQLException: Invalid column index.

edited: actually this very well could be a jdbi issue, not Dropwizard.

Thanks.

C.

[2016-06-22 14:13] #1605 closed

[2016-06-23 07:56] arteam commented on #1604
Thanks for bringing this issue to our attention. Could you provide a test case/sample project for reproducing it? We currently have a test case for handling SQL exceptions with Hibernate DAOs, but I guess your use case is a little bit different. Do you use manual Hibernate session management?

/cc @ant3

[2016-06-23 13:10] SimonsUnikaNamn opened #1609 "@Auth protects the resource but the user is null"
Hi,

I am having some issues with the @Auth User user returning null instead of the value which is given in the Authenticator.

I have tracked it down to

ParameterValueHelper.getParameterValues which finds a parameter but returns null.

I am able to protect the resource by checking against a valid token in the authenticator but I am not able to retrieve the user in the resource.

Hope this makes

[2016-06-23 13:23] ant3 commented on #1604
I agree that there is a potential issue here.  Sorry - my fault.  The suggested solution should work as far as I can see.

When I wrote the code at issue I assumed that user code would manage transactions, but it is perfectly reasonable to leave this to the framework, so it is indeed an issue.

I will have a look at creating a fix, but I'm a bit busy for the next few days so it won't be immediate

[2016-06-24 11:21] franz-see opened #1611 "Can dropwizard be packaged as war?"
I cannot seem to find that in the documentation.

[2016-06-24 12:47] arteam commented on #1611
Have a look at [wizard-in-a-box](https://github.com/rvs-fluid-it/wizard-in-a-box).

[2016-06-24 13:30] tmcdevitt85 opened #1612 "Jackson unable to process JSON"
I noticed this error stack when switching from 1.0.0-rc2 to 1.0.0-rc3. When I switched back, I no longer had the issue. I see the issue after I connect with a client app and request data.

Forgive me if I'm just dumping an error stack on you, I'm still pretty new to this. I'm not really sure if this is really an issue or if the rc3 build is just exposing a bug in my app.

[code]